<!-- Add top navigation componant -->
<app-authorised-top-nav></app-authorised-top-nav>

<div class="row">
  <div class="col-md-2">
    <!-- Add left navigation componant -->
    <app-authorised-side-nav></app-authorised-side-nav>
  </div>

  <div class="col-xl-10 col-lg-10 col-md-10 col-sm-10 col-xs-10">
      <div class="row">
          <div class="col-md-12 col-sm-12">
              <div class="box ml-n2 mt-2">
      
                  <div class="row mt-2">
                      <div class="col-md-8 mt-2">
                        <a routerLink="/Dashboard" class="ml-4  text-dark" data-toggle="tooltip" data-placement="bottom"
                          title="home" >
                          Home</a>&nbsp;
                        <i class="fa fa-angle-double-right" aria-hidden="true" ></i>
                        <a routerLink="/Bank"  data-toggle="tooltip" data-placement="bottom" class="text-dark"
                        title="staff" >
                        Bank Accounts</a>&nbsp;
                        
                      </div>
                      <!-- <div class="col-md-4">
                          <input type="text"  placeholder="Search" [(ngModel)]="filter" class="  py-2 px-3 mt-1 border-0 rounded-0 shadow-sm">
                      </div> -->
                      <div class="col-md-4 px-4">
                          <a class="btn btn-info font-weight-medium rounded-0 pull-right" data-toggle="tooltip" data-placement="bottom"
                          title="Add Bank Account" (click)="addBankAccNo(Addtemplate)">     
                         Add 
                        </a>&nbsp;
                      </div>
                      
                    </div> 
                    <hr>
              </div>
            </div>

          <div class="container shadow p-3">
      <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
        <thead>
          <tr>
            <!-- <th>No</th> -->
            <th>Name</th>
            <th>Account Number</th>
            <th>Account Type</th>
            <th>IFSC Code</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let b of banks;index as i">
            <!-- <td>{{i+1}}</td> -->
            <td>{{b.BankName}}</td>
            <td>{{b.AccountNo}}</td>
            <td>{{b.AccountType}}</td>
            <td>{{b.IFSC_Code}}</td>
            <td>
                <svg class="icon" (click)="editAccNo(editTemplate,b)"  data-toggle="tooltip"
                data-placement="bottom" title="Edit Bank" version="1.1" id="Capa_1"
                xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                viewBox="0 0 383.947 383.947" style="enable-background:new 0 0 383.947 383.947;" xml:space="preserve"
                width="18px">
                <g>
                  <g>
                    <g>
                      <polygon points="0,303.947 0,383.947 80,383.947 316.053,147.893 236.053,67.893" />
                      <path d="M377.707,56.053L327.893,6.24c-8.32-8.32-21.867-8.32-30.187,0l-39.04,39.04l80,80l39.04-39.04
      C386.027,77.92,386.027,64.373,377.707,56.053z" />
                    </g>
                  </g>
                </g>
              </svg>
              &nbsp;&nbsp;&nbsp;&nbsp;
              
              <!-- <svg class="icon-red" (click)="delete(b.ID,b.BankName)" data-toggle="tooltip"
                data-placement="bottom" title="Delete Bank" xmlns="http://www.w3.org/2000/svg" width="18"
                viewBox="0 0 24 24">
                <path
                  d="M3 6v18h18v-18h-18zm5 14c0 .552-.448 1-1 1s-1-.448-1-1v-10c0-.552.448-1 1-1s1 .448 1 1v10zm5 0c0 .552-.448 1-1 1s-1-.448-1-1v-10c0-.552.448-1 1-1s1 .448 1 1v10zm5 0c0 .552-.448 1-1 1s-1-.448-1-1v-10c0-.552.448-1 1-1s1 .448 1 1v10zm4-18v2h-20v-2h5.711c.9 0 1.631-1.099 1.631-2h5.315c0 .901.73 2 1.631 2h5.712z" />
              </svg> -->
 </td>

          </tr>
        </tbody>
      </table>
      </div>
    
  </div>

  <!-- Create bankaccount modal -->

  <ng-template #Addtemplate>
    <div class="modal-header">
      <h4 class=" h1 modal-title pull-left">Add Bank Details</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
          <div class="row shadow m-3 px-4 mb-5">
              <div class="col-md-12 col-xl-12 col-sm-12 col-12">
                  <h4 class="modal-title pull-left mt-3">Bank Details :</h4>
              <div class="form-row py-4">
              <div class="form-group col-md-3 col-xl-3 col-sm-3 col-3">
                  <input type="text" class="form-control" formControlName="BankName" [ngClass]="{ 'is-invalid': submitted &&
                  f.BankName.errors }" placeholder="Enter Bank name">
                  <div *ngIf="submitted && f.BankName.errors" class="invalid-feedback">
                      <div *ngIf="f.BankName.errors.required">Please Enter Bank Name</div>
                    </div>
                  </div>

              <div class="form-group col-md-3 col-xl-3 col-sm-3 col-3">
                    <input type="text" class="form-control" formControlName="AccountNo"
            onkeypress="return event.charCode >= 48 && event.charCode <= 57" [ngClass]="{ 'is-invalid': submitted &&
                           f.AccountNo.errors }" placeholder="Account Number">
                           <div *ngIf="submitted && f.AccountNo.errors" class="invalid-feedback">
                              <div *ngIf="f.AccountNo.errors.required">Please Enter Account Number</div>
                              <div *ngIf="f.AccountNo.errors.minlength">Account Number must be in 12 digit</div>
                            </div>
                  </div>

                  <div class="form-group col-md-4 col-xl-4 col-sm-4 col-lg-4">
                      <input type="password" class="form-control" formControlName="ReAccountNo"
            onkeypress="return event.charCode >= 48 && event.charCode <= 57" [ngClass]="{ 'is-invalid': submitted &&
                        f.ReAccountNo.errors }" placeholder="Re-Enter Account Number">
                        <div *ngIf="submitted && f.ReAccountNo.errors" class="invalid-feedback">
                            <div *ngIf="f.ReAccountNo.errors.required">Please ReEnter Account Number</div>
                            <div *ngIf="f.ReAccountNo.errors.mustMatch">Account Number must match</div>
                          </div>
                    </div>

              </div>
              <!-- First Row End-->
              <div class="form-row">
              <div class="form-group col-md-6 col-xl-6 col-sm-6 col-lg-6">
              
              <div class="radio">
                  <label class="control-label-col-sm-2 mt-3 h5">Account Type : </label>       
                    <label><input type="radio" class="ml-3" name="AccountType" formControlName="AccountType"
                      value="Saving"><span class="ml-2">Saving</span></label>
                        <label><input type="radio" class="ml-3" name="AccountType" formControlName="AccountType" value="Current"><span class="ml-2">Current</span></label>
                  </div>
                  
                  </div>
                  <div class="form-group col-md-4 col-xl-4 col-sm-4 col-lg-4">
                      <input type="text" class="form-control" formControlName="IFSC_Code" [ngClass]="{ 'is-invalid': submitted &&
                      f.IFSC_Code.errors }" placeholder="Enter IFSC Code">
                      <div *ngIf="submitted && f.IFSC_Code.errors" class="invalid-feedback">
                          <div *ngIf="f.IFSC_Code.errors.required">Please Enter IFSC Code </div>
                        </div>
                    </div>
              </div>
              </div>
              </div>
        
        <div class="modal-footer">
            <button class="btn btn-info btn-lg py-1 pr-3 rounded-0 f-20" type="submit">Submit</button>
            <button class="btn btn-dark text-light btn-lg py-1 pl-3 rounded-0 f-20 ml-4 mr-0" type="button"
              (click)="modalRef.hide()">Cancel</button>
          </div>
      </form>
    </div>
  </ng-template>


  <!-- Edit bankaccount modal -->

  <ng-template #editTemplate>
    <div class="modal-header">
      <h4 class=" h1 modal-title pull-left">Edit Bank Details</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="editForm" (ngSubmit)="updateAccNo()">
          <div class="row shadow m-3 px-4 mb-5">
              <div class="col-md-12 col-xl-12 col-sm-12 col-12">
              <h4 class="modal-title pull-left mt-3">Bank Details :</h4>
              <div class="form-row py-4">
              <div class="form-group col-md-2 col-xl-2 col-sm-2 col-2">
              <label for="BankName" class="mt-3 h6 text-muted">Bank Name : </label>
              </div>
              <div class="form-group col-md-4 col-xl-4 col-sm-4 col-4">
                  <input type="text" class="form-control border-0" formControlName="BankName" name="BankName" disabled>
              </div>
              
              <div class="form-group col-md-2 col-xl-2 col-sm-2 col-2">
                <label for="AccountNo"class="mt-3 h6 text-muted">Account Number : </label>
              </div>
              <div class="form-group col-md-3 col-xl-3 col-sm-3 col-3">
                  <input type="text" class="form-control border-0" formControlName="AccountNo"
                  onkeypress="return event.charCode >= 48 && event.charCode <= 57" [ngClass]="{ 'is-invalid': submitted &&
              g.AccountNo.errors }" placeholder="Enter Account Number">
              <div *ngIf="submitted && f.AccountNo.errors" class="invalid-feedback">
              <div *ngIf="g.AccountNo.errors.required">Please Enter Account Number</div>
              <div *ngIf="g.AccountNo.errors.minlength">Account Number must be in 12 digit</div>
              </div>
              </div>
              
              
            </div>
              <!-- First Row End-->
              
              <div class="form-row">
                  <div class="form-group col-md-3 col-xl-3 col-sm-3 col-3">
                      <label for="Amount" class="control-label-col-sm-2 mt-3 h6 text-muted">Re-Enter Account Number :  </label>
                    </div>
                    <div class="form-group col-md-3 col-xl-3 col-sm-3 col-3">
            <input type="password" class="form-control border-0" formControlName="ReAccountNo"
            onkeypress="return event.charCode >= 48 && event.charCode <= 57" [ngClass]="{ 'is-invalid': submitted &&
            g.ReAccountNo.errors }" placeholder="Re-Enter Account Number">
                    </div>
                    <div *ngIf="submitted && g.ReAccountNo.errors" class="invalid-feedback">
                        <div *ngIf="g.ReAccountNo.errors.required">Please ReEnter Account Number</div>
                        <div *ngIf="g.ReAccountNo.errors.mustMatch">Account Number must match</div>
                      </div>



              <div class="form-group col-md-6 col-xl-6 col-sm-6 col-lg-6">
              <div class="radio">
              <label class="control-label-col-sm-2 h5 mt-3 h6 text-muted">Account Type : </label>
              <label><input type="radio" class="ml-3" name="AccountType" formControlName="AccountType" value="Saving"
                            checked><span class="ml-2">Saving</span></label>
                            <label><input type="radio" class="ml-3" name="AccountType" formControlName="AccountType" value="Current"><span class="ml-2">Current</span></label>
              </div>
              </div>
              </div>
              <!-- Second Row End-->
              
              <div class="form-row mt-2">
              <div class="form-group col-md-2 col-xl-2 col-sm-2 col-lg-2">
                  <label for="Date" class="control-label-col-sm-2 mt-3 h6 text-muted">IFSCCode : </label>
              </div>
              <div class="form-group col-md-3 col-xl-3 col-sm-3 col-lg-3">
                  <input type="text" class="form-control border-0" formControlName="IFSC_Code" name="IFSC_Code" disabled>

               </div>

              </div>
              
              <!-- Third Row End-->
              </div>
              </div>
        
              <div class="modal-footer">
                  <button class="btn btn-info btn-lg py-1 pr-3 rounded-0 f-20" type="submit">Update</button>
                  <button class="btn btn-dark text-light btn-lg py-1 pl-3 rounded-0 f-20 ml-4 mr-0" type="button"
                  (click)="modalRef.hide()">Cancel</button>
                  </div>
      </form>
    </div>
  </ng-template>