<!-- Add top navigation componant -->
<app-authorised-top-nav></app-authorised-top-nav>

<div class="row">
  <div class="col-md-2">
    <!-- Add left navigation componant -->
    <app-authorised-side-nav></app-authorised-side-nav>
  </div>

  <div class="col-md-10">
      <div style="margin-top: 10px">
          <button type="submit" class="btn btn-primary" style="float: right;"data-toggle="tooltip" data-placement="bottom" title="Add"
          (click)="AddBankAccNo(Addtemplate)" (click)="clearForm()">Add Bank Details </button>
          </div>
      <!-- <table class="table table-bordered"> -->
          <div style="margin-top:80px">
      <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
        <thead>
          <tr>
            <!-- <th>No</th> -->
            <th>Name</th>
            <th>Account Number</th>
            <th>AccountType</th>
            <th>IFSC_Code</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let b of banks;index as i">
            <!-- <td>{{i+1}}</td> -->
            <td>{{b.BankName}}</td>
            <td>{{b.AccountNo}}</td>
            <td>{{b.AccountType}}</td>
            <td>{{b.IFSC_Code}}</td>
            <td>
              <button type="submit" style="margin-right:5px" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="Edit "
                (click)="EditAccNo(editTemplate,b)"><i class="fas fa-pencil-alt"></i></button>
              <button type="submit" class="btn btn-default" (click)="Delete(b.ID,b.BankName)"
                  data-toggle="tooltip" data-placement="bottom" title="Delete">
                  <i style='font-size:20px'class="fa fa-trash" aria-hidden="true"></i>
                </button></td>

          </tr>
        </tbody>
      </table>
      </div>
    
  </div>

  <!-- Create bankaccount modal -->

  <ng-template #Addtemplate>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Add Bank Details</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

        <div class="form-group">
          <label for="BankName" class="control-label-col-sm-2">Bank Name : </label>
          <input type="text" class="form-control" formControlName="BankName" value="" [ngClass]="{ 'is-invalid': submitted &&
                          f.BankName.errors }" placeholder="Enter Bank name">
          <div *ngIf="submitted && f.BankName.errors" class="invalid-feedback">
            <div *ngIf="f.BankName.errors.required">Please Enter Bank Name</div>
          </div>
        </div>


        <div class="form-group">
          <label for="AccountNo">Enter Account Number : </label>

          <input type="text" class="form-control" formControlName="AccountNo"
            onkeypress="return event.charCode >= 48 && event.charCode <= 57" [ngClass]="{ 'is-invalid': submitted &&
                           f.AccountNo.errors }" placeholder="Enter Account Number">
          <div *ngIf="submitted && f.AccountNo.errors" class="invalid-feedback">
            <div *ngIf="f.AccountNo.errors.required">Please Enter Account Number</div>
            <div *ngIf="f.AccountNo.errors.minlength">Account Number must be in 12 digit</div>
          </div>
        </div>

        <div class="form-group">
          <label for="ReAccountNo">Re-Enter Account Number : </label>

          <input type="password" class="form-control" formControlName="ReAccountNo"
            onkeypress="return event.charCode >= 48 && event.charCode <= 57" [ngClass]="{ 'is-invalid': submitted &&
                        f.ReAccountNo.errors }" placeholder="Re-Enter Account Number">
          <div *ngIf="submitted && f.ReAccountNo.errors" class="invalid-feedback">
            <div *ngIf="f.ReAccountNo.errors.required">Please ReEnter Account Number</div>
            <div *ngIf="f.ReAccountNo.errors.mustMatch">Account Number must match</div>
          </div>
        </div>
<div>
        <div class="radio">
          <label class="control-label-col-sm-2">Account Type : </label><br>
          <label><input type="radio" name="AccountType" formControlName="AccountType" value="Saving">Saving</label>
        </div>
        <div class="radio">
          <label><input type="radio" name="AccountType" formControlName="AccountType" value="Current">Current</label>
        </div>
        <div *ngIf="submitted && f.AccountType.errors" class="invalid-feedback">
            <div *ngIf="f.AccountType.errors.required">Please</div>
            
          </div>
      </div>


        <!-- <div *ngIf="submitted && f.AccountType.errors" class="invalid-feedback">
          <div *ngIf="f.AccountType.errors.required">Please Enter IFSC Code </div>
        </div> -->

        <div class="form-group">
          <label for="IFSC_Code">IFSC_Code : </label>
          <input type="text" class="form-control" formControlName="IFSC_Code" [ngClass]="{ 'is-invalid': submitted &&
                      f.IFSC_Code.errors }" placeholder="Enter IFSC Code">
          <div *ngIf="submitted && f.IFSC_Code.errors" class="invalid-feedback">
            <div *ngIf="f.IFSC_Code.errors.required">Please Enter IFSC Code </div>
          </div>
        </div>


        <div class="form-group">
          <button class="btn btn-primary" type="submit" id="submit" >submit</button>
          <button type="button" class="btn btn-primary" style="margin-left: 5px" 
            (click)="modalRef.hide()">Cancel</button>
        </div>
      </form>
    </div>
  </ng-template>


  <!-- Edit bankaccount modal -->


  <ng-template #editTemplate>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Edit Bank Details</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="registerForm" (ngSubmit)="UpdateAccNo()">
        <div class="form-group">
          <label for="BankName">Bank Name : </label>
          <input type="text" class="form-control" formControlName="BankName" name="BankName" disabled>
        </div>
        <div class="form-group">
          <label for="AccountNo">Enter Account Number : </label>

          <input type="text" class="form-control" formControlName="AccountNo"
            onkeypress="return event.charCode >= 48 && event.charCode <= 57" [ngClass]="{ 'is-invalid': submitted &&
                                     f.AccountNo.errors }" placeholder="Enter Account Number">
          <div *ngIf="submitted && f.AccountNo.errors" class="invalid-feedback">
            <div *ngIf="f.AccountNo.errors.required">Please Enter Account Number</div>
            <div *ngIf="f.AccountNo.errors.minlength">Account Number must be in 12 digit</div>
          </div>
        </div>

        <div class="form-group">
          <label for="ReAccountNo">Re-Enter Account Number : </label>

          <input type="password" class="form-control" formControlName="ReAccountNo"
            onkeypress="return event.charCode >= 48 && event.charCode <= 57" [ngClass]="{ 'is-invalid': submitted &&
                                  f.ReAccountNo.errors }" placeholder="Re-Enter Account Number">
          <div *ngIf="submitted && f.ReAccountNo.errors" class="invalid-feedback">
            <div *ngIf="f.ReAccountNo.errors.required">Please ReEnter Account Number</div>
            <div *ngIf="f.ReAccountNo.errors.mustMatch">Account Number must match</div>
          </div>
        </div>

        <div class="radio">
          <label class="control-label-col-sm-2">Account Type : </label><br>
          <label><input type="radio" name="AccountType" formControlName="AccountType" value="Saving">Saving</label>
        </div>
        <div class="radio">
          <label><input type="radio" name="AccountType" formControlName="AccountType" value="Current">Current</label>
        </div>


        <div class="form-group">
          <label for="IFSC_Code">IFSCCode : </label>
          <input type="text" class="form-control" formControlName="IFSC_Code" name="IFSC_Code" disabled>
        </div>


        <div class="form-group">
          <button class="btn btn-primary" type="submit">submit</button>
          <button type="button" class="btn btn-primary" style="margin-left: 5px" 
            (click)="modalRef.hide()">Cancel</button>
        </div>
      </form>
    </div>
  </ng-template>