
  <!-- <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script> -->
    
<html>
<body>
<form>
<fieldset>
<div >    
<div class="row col-md-10 col-md-offset-1 custyle">
    <label><b><h4>Staff List</h4></b></label>
    <a href="/TeacherCourses" class="btn btn-info" (click)="AddNewStaff()">Add New Staff</a>
<table border="1px" class="table table-striped custab">
<thead>
<tr>
  <th>No</th>
  <th>
      Name Of Staff
  </th>
  <th>
      CourseType
  </th>
  <th>
        CourseName
    </th>
  <th>
      Joining Date
  </th>
  <th>
      Contact
  </th>
  <th>
      Email
  </th>
  <th>
      Work Experience
  </th>
  <th>
      Date of Leaving
  </th>
 <th class="text-center" colspan="2">
      Action
  </th> 
</tr>
</thead>

<tr *ngFor="let t of StaffMaster; let i = index">
  <td>{{i+1}}</td>
  <td>{{t.Name}}</td>
  <td>{{t.CourseType}}</td>
  <td>{{t.Courses}}</td>
  <td>{{t.DateOfJoining}}</td>
  <td>{{t.ContactNo}}</td>
  <td>{{t.Email}}</td>
  <td>{{t.PreviousExperience}}</td>
  <td>{{t.DateOfLeaving}}</td>
  <!-- <td class="text-center"><a class='btn btn-info btn-xs' href="#"><span class="glyphicon glyphicon-edit"></span> Edit</a></td> -->
  <td> <button type="btn" class='btn btn-info btn-xs' (click)="Edit(editStaff,t)"><span class="glyphicon glyphicon-edit"></span> Edit</button>
  <td> <button type="btn" class="btn btn-primary" (click)="Delete(t.StaffId)"><span class="glyphicon glyphicon-remove"></span> Del</button>
</td>
</tr>

</table>
</div>
</div>
</fieldset>
</form>

 <ng-template #editStaff>
        <div class="modal-header">
            <h4 class="modal-title pull-left">Update Staff</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <form [formGroup]="staffForm" (ngSubmit)="onSubmit()" >
            <table class="table">
                <tr>
                  <td colspan="1">
                      <div class="form-row">
                          <div class="form-group col-md-6"> 
                          <label for="firstName">Firstname</label> 
                          </div>       
                              <div class="form-group col-md-6">         
                          <input type="text" class="form-control" formControlName="firstName" >
                              </div>
                          <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                              <div *ngIf="f.firstName.errors.required">First Name is required</div>
                          </div>
                        </div>
                       
                        <div class="form-row">
                            <div class="form-group col-md-6">
                            <label for="middleName">Middlename</label> 
                            </div>
                            <div class="form-group col-md-6">
                          <input type="text" class="form-control" formControlName="middleName" >
                            </div>
                          <div *ngIf="submitted && f.middleName.errors" class="invalid-feedback">
                              <div *ngIf="f.middleName.errors.required">Middle Name is required</div>
                          </div>
                        </div>         
                        <div class="form-row">
                            <div class="form-group col-md-6">
                            <label for="lastName">Lastname</label> 
                            </div>
                            <div class="form-group col-md-6">
                            <input type="text" class="form-control"  formControlName="lastName" >
                            </div>
                            <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                                <div *ngIf="f.lastName.errors.required">Last Name is required</div>
                            </div>
                          </div>                                      
                 </td>
                </tr>
                <tr>
                    <td colspan="1">
                       <div class="form-row"> 
                       <div class="form-group col-md-6">
                           <label class="col-md-6 control-label">DateOfBirth</label> 
                       </div>
                       <div class="form-group col-md-6">
                           <input type="date" class="form-control" id="DOB" formControlName="DOB">  
                    </div>
                    <div *ngIf="submitted && f.DOB.errors">
                       <div *ngIf="f.DOB.errors.required">DateOfBirth is required</div>
                     </div>
                    </div>
                   </td>
                  </tr>
                  <tr>
                      <td colspan="1">
                         <div class="form-row">
                             <div class="form-group col-md-2">
                        <label for="inputAddress">Address</label>    
                        </div>
                        <div class="form-group col-md-10">      
                             <input type="text" class="form-control" id="inputAddress1" placeholder="Address 1" formControlName="inputAddress1" [ngClass]="{ 'is-invalid': submitted && f.inputAddress1.errors }">
                                   <div *ngIf="submitted && f.inputAddress1.errors" class="invalid-feedback">
                                       <div *ngIf="f.inputAddress1.errors.required">Address is required</div>
                                   </div>
             
                                   <input type="text" class="form-control" id="inputAddress2" formControlName="inputAddress2" placeholder="Address 2"  [ngClass]="{ 'is-invalid': submitted && f.inputAddress2.errors }">
                                   <div *ngIf="submitted && f.inputAddress2.errors" class="invalid-feedback">
                                       <div *ngIf="f.inputAddress2.errors.required">Address is required</div>
                                   </div>
                                   </div>
                           </div>
                      </td>
                    </tr> 
                  <tr>
                <tr>
                 <td colspan="1">
                    <div class="form-row"> 
                    <div class="form-group col-md-6">
                        <label class="col-md-6 control-label">CourseType</label> 
                    </div>
                    <div class="form-group col-md-6">
                        <input type="text" class="form-control" id="CourseType" formControlName="CourseType" placeholder="CourseType" >  
                 </div>
                 <div *ngIf="submitted && f.CourseType.errors">
                    <div *ngIf="f.CourseType.errors.required">CourseType is required</div>
                  </div>
                 </div>
                </td>
               </tr>
               <tr>
                 <td colspan="1">
                    <div class="form-row"> 
                    <div class="form-group col-md-6">
                        <label class="col-md-6 control-label">Courses</label> 
                    </div>
                    <div class="form-group col-md-6">
                        <input type="text" class="form-control" id="inputCourses" formControlName="Courses" >  
                 </div>
                 <div *ngIf="submitted && f.inputCourses.errors">
                    <div *ngIf="f.inputCourses.errors.required">Courses is required</div>
                  </div>
                 </div>
                </td>
               </tr>
               <tr>
                 <td colspan="1">
                    <div class="form-row"> 
                    <div class="form-group col-md-6">
                        <label class="col-md-6 control-label">ContactNo</label> 
                    </div>
                    <div class="form-group col-md-6">
                        <input type="number" class="form-control" id="ContactNo" formControlName="ContactNo">   
                 </div>
                 <div *ngIf="submitted && f.ContactNo.errors">
                    <div *ngIf="f.ContactNo.errors.required">ContactNo is required</div>
                  </div>
                 </div>
                </td>
               </tr>
               <tr>
                    <td colspan="1">
                       <div class="form-row"> 
                       <div class="form-group col-md-6">
                           <label class="col-md-6 control-label">Email</label> 
                       </div>
                       <div class="form-group col-md-6">
                           <input type="email" class="form-control" id="Email" formControlName="Email">   
                    </div>
                    <div *ngIf="submitted && f.Email.errors">
                       <div *ngIf="f.Email.errors.required">Email is required</div>
                     </div>
                    </div>
                   </td>
                  </tr>
                      <tr>
                            <td colspan="1">
                               <div class="form-row"> 
                               <div class="form-group col-md-6">
                                   <label class="col-md-6 control-label">PreviousExperience</label> 
                               </div>
                               <div class="form-group col-md-6">
                                   <input type="number" class="form-control" id="PreviousExperience" formControlName="PreviousExperience">   
                            </div>
                            <div *ngIf="submitted && f.PreviousExperience.errors">
                               <div *ngIf="f.PreviousExperience.errors.required">PreviousExperience is required</div>
                             </div>
                            </div>
                           </td>
                          </tr>
                          <tr>
                                <td colspan="1">
                                   <div class="form-row"> 
                                   <div class="form-group col-md-6">
                                       <label class="col-md-6 control-label">DateOfLeaving</label> 
                                   </div>
                                   <div class="form-group col-md-6">
                                       <input type="date" class="form-control" id="DateOfLeaving" formControlName="DateOfLeaving">   
                                </div>
                                <div *ngIf="submitted && f.DateOfLeaving.errors">
                                   <div *ngIf="f.DateOfLeaving.errors.required">DateOfLeaving is required</div>
                                 </div>
                                </div>
                               </td>
                              </tr>
                              <tr>
                                <td colspan="1">
                                   <div class="form-row"> 
                                   <div class="form-group col-md-6">
                                       <label class="col-md-6 control-label">LeavingReason</label> 
                                   </div>
                                   <div class="form-group col-md-6">
                                       <input type="text" class="form-control" id="LeavingReason" formControlName="LeavingReason" > 
                                </div>
                                <div *ngIf="submitted && f.LeavingReason.errors">
                                   <div *ngIf="f.LeavingReason.errors.required">LeavingReason is required</div>
                                 </div>
                                </div>
                               </td>
                              </tr>
               </table>
            </form>
           <div class="modal-footer">
              <button type="button" class="btn btn-primary" (click)="Update()">Save</button>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </ng-template> 
</body>
</html>
