<!-- <table class="footer">
  <tr>
    <td>
        Copyright © {{currentYear}} <b>Aditya Academy</b>.  All rights reserved.
    </td>
    <td>
      <b>Follow us on</b>
      </td>
      <td >
        <img src="assets/images/facebook.png" class="smallimages"/>
      </td>
      <td >
        <img src="assets/images/twitter.png" class="smallimages"/>
      </td>
      <td>
        <img src="assets/images/googleplus.png" class="smallimages"/>
      </td>
      <td>
        <img src="assets/images/linkedin.png" class="smallimages"/>
      </td>
  </tr>
</table> -->
