<nav id="sidebar" class="navbar-light bg-light" [ngClass]="{'hidden': sideNavService.hideSideNav }">
  <div>
    <ul class="navbar-nav">
      <li>
        <div class="row" style="margin-top:25px;color: black;font-weight: bold">
          <div class="col-md-4">
            <img class="img-circle" src="{{user.Photo}}" width="70px" height="70px" alt="Card image cap"
              (click)="changeUserImage(ChangeUserImage)" style="margin-left:5px">
          </div>
          <div class="col-md-8" style="font-size:20px;font-weight:bold">
            {{user.friendlyName}}
            <span style="font-size:16px;font-weight:normal">
              {{user.roles}}
            </span>
          </div>
        </div>
      </li>
      
      <li routerLinkActive="active current" class="nav-item" *ngIf="currentRole==='Teacher'|| currentRole==='Admin' || currentRole==='SuperAdmin'">
        <a class="nav-link" routerLink="/Dashboard" style="margin-top:30px">
            <i class="fa fa-home" style="padding:10px"></i>
          Dashboard
        </a>
      </li>

      <li  routerLinkActive="active current" class="nav-item" *ngIf="currentRole==='SuperAdmin'">
           <span style="color:black;margin-top:30px;padding:30px">Institute</span> 
        </li>
        <li routerLinkActive="active current" class="nav-item" *ngIf="currentRole==='SuperAdmin'">
            <span style="color:black;margin-top:30px;padding:30px"> Institute Admin</span>
        </li>

      <li routerLinkActive="active current" class="nav-item" *ngIf="currentRole==='Admin'">
        <a class="nav-link" routerLink="/StaffList" >
          <i class="fa fa-user" aria-hidden="true" style="padding:10px">
          </i>
          Staff
        </a>
      </li>

      <li routerLinkActive="active current" class="nav-item" *ngIf="currentRole==='Teacher'|| currentRole==='Admin'">
        <a class="nav-link" routerLink="/StudentList">
          <i class='fas fa-user-graduate' style="padding:10px">
          </i>
          Student
        </a>
      </li>
      <li routerLinkActive="active current" class="nav-item" *ngIf="currentRole==='Teacher'">
        <a class="nav-link" routerLink="/Enquiry">
          <i class="fa fa-desktop" style="padding:10px">
          </i>
          Enquiry
        </a>
      </li>
      <li routerLinkActive="active current" class="nav-item" *ngIf="currentRole==='Admin'">
        <a class="nav-link" routerLink="/Courses">
          <i class='fas fa-graduation-cap' style="padding:10px">
          </i>
          Courses
        </a>
      </li>
      <li routerLinkActive="active current" class="nav-item" *ngIf="currentRole==='Admin'|| currentRole==='Teacher'">
        <a class="nav-link" routerLink="/Expenses">
          <i class="fa fa-tasks" style="padding:10px">
          </i>
          Daily Expenses
        </a>
      </li>
      <li routerLinkActive="active current" class="nav-item" *ngIf="currentRole==='Teacher'">
        <a class="nav-link" routerLink="/Leave">
          <i class=" fa fa-pencil" style="padding:10px">
          </i>
          Apply Leave
        </a>
      </li>
      <li routerLinkActive="active current" class="nav-item" *ngIf="currentRole==='Teacher'|| currentRole==='Admin'">
        <a class="nav-link" routerLink="/FeesTransaction">
          <i class="fa fa-money" aria-hidden="true" style="padding:10px">
          </i>
          Fees Payment
        </a>
      </li>
      <li routerLinkActive="active current" class="nav-item" *ngIf="currentRole==='Admin'">
        <a class="nav-link" routerLink="/BankTransaction">
          <i class="fa fa-credit-card" style="padding:10px">
          </i>
          Bank Transaction
        </a>
      </li>
      <li routerLinkActive="active current" class="nav-item" *ngIf="currentRole==='Teacher'">
        <a class="nav-link" routerLink="/LeaveList">
          <i class=" fa fa-check" style="padding:10px">
          </i>
          Leaves
        </a>
      </li>
      <li routerLinkActive="active current" class="nav-item" *ngIf="currentRole==='Admin'">
        <a class="nav-link" routerLink="/Bank">
          <i class="fa fa-id-card" style="padding:10px">
          </i>
          Bank Account
        </a>
      </li>
      <li routerLinkActive="active current" class="nav-item" *ngIf="currentRole==='Admin'">
        <a class="nav-link" routerLink="/Branch">
          <i class=" fa fa-map-marker" style="padding:10px">
          </i>
          Branch
        </a>
      </li>
      <li routerLinkActive="active current" class="nav-item" *ngIf="currentRole==='Admin'|| currentRole==='Teacher'">
        <a class="nav-link" routerLink="/ExpenseMaster">
          <i class="fa fa-dollar" style="padding:10px">
          </i>
          Expenses
        </a>
      </li>
      <li routerLinkActive="active current" class="nav-item" *ngIf="currentRole==='Admin'">
        <a class="nav-link" routerLink="/coursetype">
          <i class='fas fa-book-reader' style="padding:10px">
          </i>
          Course Type
        </a>
      </li>
      <li routerLinkActive="active current" class="nav-item" *ngIf="currentRole==='Admin'">
        <a class="nav-link" routerLink="/reports">
          Reports
        </a>
      </li>
      <li routerLinkActive="active current" class="nav-item" *ngIf="currentRole==='SuperAdmin'">
        <a class="nav-link" routerLink="/role">
          <i class="fa fa-user-plus" aria-hidden="true" style="padding:10px">
          </i>
          Role
        </a>
      </li>
    </ul>
  </div>
</nav>


<ng-template #ChangeUserImage>
  <!-- <div class="container">
<div class="modal">
  <div class="modal-body">
  <div class="row">
    <div>
      <input type="file" value="UserImage">
      <input type="button" value="Change">
    </div>

  </div>
</div>
</div>
</div> -->
  <div>
    <form [formGroup]="userImageUploadForm" (ngSubmit)="submitUserImage()">
      <div class="modal-header">
        <h5 class="modal-title">Upload New Image</h5>

      </div>
      <div class="modal-body">
        <div>
          <input type="hidden" value="{{users.userId}}" formControlName="Id">
        </div>
        <div class="row">
          <div style="margin-left:10px ">
            <input name="file" type="file" (change)="handlePhotoInput($event)">
            <input type="hidden" name="fileHidden" formControlName="Photo" />
            <button type="button" (click)="onUploadPhoto()">Upload</button>
          </div>
        </div>
        <div class="row" style="margin-top: 10px">
          <div class="col-md-2">
            Photo Preview:
          </div>
          <div class="col-md-4">
            <img class="img-circle"
              [src]="_DomSanitizer.bypassSecurityTrustUrl(AuthorisedSideNavComponent.newThumbnailUrl)" width="50px"
              height="50px">
          </div>
        </div>
        <div class="modal-footer float-right" style="margin-top: 5px">
          <input type="submit" class="btn btn-primary pull-right" value="Submit">
        </div>
      </div>
    </form>
  </div>

</ng-template>