<!-- <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
  <i class="fas fa-bars"></i>
</a> -->
<nav id="sidebar" class="sidebar-wrapper">
  <div class="sidebar-content">
    <div class="sidebar-brand">
      <a href="#">pro sidebar</a>
      <div id="close-sidebar">
        <i class="fas fa-times"></i>
      </div>
    </div>
    <div class="sidebar-header">
      <div class="user-pic">
        <img class="img-responsive img-rounded"
        src="{{user.Photo}}"
          alt="User picture">
      </div>
      <div class="user-info">
        <span class="user-name">
          <strong>{{user.friendlyName}}</strong>
        </span>
        <span class="user-role">{{user.roles}}</span>
        <span class="user-status">
          <i class="fa fa-circle"></i>
          <span>Online</span>
        </span>
      </div>
    </div>
    <!-- sidebar-header  -->
    <div class="sidebar-search">
      <div>
        <div class="input-group">
          <input type="text" class="form-control search-menu" placeholder="Search...">
          <div class="input-group-append">
            <span class="input-group-text">
              <i class="fa fa-search" aria-hidden="true"></i>
            </span>
          </div>
        </div>
      </div>
    </div>
    <!-- sidebar-search  -->
    <div class="sidebar-menu">
      <ul>
        <li class="header-menu">
          <span>Menus</span>
        </li>
        <li routerLinkActive="active current" *ngIf="currentRole==='Teacher'|| currentRole==='Admin' || currentRole==='SuperAdmin'">
          <a routerLink="/Dashboard">
            <i class="fa fa-tachometer-alt"></i>
            <span>Dashboard</span>
          </a>
        </li>
        <li  *ngIf="currentRole==='SuperAdmin'">
            <a href="#">
              <i class="fa fa-book"></i>
              <span>Institute</span>
            </a>
          </li>
          <li  *ngIf="currentRole==='SuperAdmin'">
              <a href="#">
                <i class="fa fa-book"></i>
                <span>Institute Admin</span>
              </a>
            </li>
        <li class="sidebar-dropdown" data-toggle="collapse" data-target="#masters" class="collapsed"  *ngIf="currentRole==='SuperAdmin'|| currentRole==='Teacher'|| currentRole==='Admin'">
          <a href (click)="false">
            <i class="fa fa-shopping-cart"></i>
            <span>Manage Masters</span>
          </a>
          <div class="sub-menu collapse" id="masters">
            <ul>
                <li routerLinkActive="active current"  *ngIf="currentRole==='SuperAdmin' || currentRole==='Teacher'|| currentRole==='Admin'">
                <a routerLink="/StudentList">  <i class="fa fa-shopping-cart"></i>
                  <span>Student</span> </a>
              </li>

              <li routerLinkActive="active current" *ngIf="currentRole==='SuperAdmin' || currentRole==='Admin'">
                <a routerLink="/Bank"><i class="fa fa-shopping-cart"></i>
                  <span>Bank Account</span></a>
              </li>

              <li routerLinkActive="active current" *ngIf="currentRole==='Admin'">
                <a routerLink="/Courses"><i class="fa fa-shopping-cart"></i>
                  <span>Courses</span></a>
              </li>

              <li routerLinkActive="active current" *ngIf="currentRole==='Admin'">
                  <a routerLink="/Branch"><i class="fa fa-shopping-cart"></i>
                    <span>Branch</span></a>
                </li>

                <li routerLinkActive="active current"  *ngIf="currentRole==='Admin'|| currentRole==='Teacher'">
                <a routerLink="/ExpenseMaster">Expense Type</a>
              </li>

              <li routerLinkActive="active current" *ngIf="currentRole==='Admin'">
                <a routerLink="/coursetype"><i class="fa fa-shopping-cart"></i>
                  <span>Course Type</span></a>
              </li>

              <li routerLinkActive="active current" *ngIf="currentRole==='Teacher'">
                <a  routerLink="/LeaveList"><i class="fa fa-shopping-cart"></i>
                  <span>Leave Type</span></a>
              </li>

            </ul>
          </div>
        </li>
        <li data-toggle="collapse" data-target="#service" class="collapsed"  *ngIf="currentRole==='Admin'">
          <a href (click)="false">
            <i class="far fa-gem"></i>
            <span>Manage Users</span>
          </a>
          <div class="sub-menu collapse" id="service">
            <ul>
              <li routerLinkActive="active current"  *ngIf="currentRole==='Admin'">
                <a routerLink="/StaffList"><i class="fa fa-shopping-cart"></i>
                  <span>Staff</span></a>
              </li>
            </ul>
          </div>
        </li>
        <li routerLinkActive="active current" *ngIf="currentRole==='Teacher'|| currentRole==='Admin'">
          <a  routerLink="/FeesTransaction">
            <i class="fa fa-chart-line"></i>
            <span>Fees Payment</span>
          </a>
        </li>
        <li routerLinkActive="active current" *ngIf="currentRole==='Admin'|| currentRole==='Teacher'">
          <a routerLink="/Expenses">
            <i class="fa fa-globe"></i>
            <span>Daily Expenses</span>
          </a>
        </li>
        <li routerLinkActive="active current" *ngIf="currentRole==='Teacher'">
            <a  routerLink="/Leave">
              <i class="fa fa-book"></i>
              <span>Apply Leave </span>
              <span class="badge badge-pill badge-primary">Beta</span>
            </a>
          </li>
        <li routerLinkActive="active current" *ngIf="currentRole==='Admin'">
          <a routerLink="/BankTransaction">
            <i class="fa fa-book"></i>
            <span>Bank Transaction</span>
            <span class="badge badge-pill badge-primary">Beta</span>
          </a>
        </li>
        <li routerLinkActive="active current" *ngIf="currentRole==='Admin'">
            <a routerLink="/reports">
              <i class="fa fa-book"></i>
              <span>Reports</span>
            </a>
          </li>
          <li routerLinkActive="active current" *ngIf="currentRole==='SuperAdmin'">
              <a routerLink="/role">
                <i class="fa fa-book"></i>
                <span>Roles</span>
              </a>
            </li>
      </ul>
    </div>
    <!-- sidebar-menu  -->
  </div>
  <!-- sidebar-content  -->
  <div class="sidebar-footer">
  </div>
</nav>
<script>
  jQuery(function ($) {

    $("#close-sidebar").click(function () {
          $(".page-wrapper").removeClass("toggled");
        });

    $(".sidebar-dropdown > a").click(function () {
      $(".sidebar-submenu").slideUp(200);
      if (
        $(this)
          .parent()
          .hasClass("active")
      ) {
        $(".sidebar-dropdown").removeClass("active");
        $(this)
          .parent()
          .removeClass("active");
      } else {
        $(".sidebar-dropdown").removeClass("active");
        $(this)
          .next(".sidebar-submenu")
          .slideDown(200);
        $(this)
          .parent()
          .addClass("active");
      }
    });

    $("#close-sidebar").click(function () {
      $(".page-wrapper").removeClass("toggled");
    });
    $("#show-sidebar").click(function () {
      $(".page-wrapper").addClass("toggled");
    });

  });
</script>