<!-- Add top navigation componant -->
<app-authorised-top-nav></app-authorised-top-nav>

<div class="page-wrapper chiller-theme toggled">
  
  <app-authorised-side-nav></app-authorised-side-nav>

   <!-- page-content" -->
  <main class="page-content">
    <div class="container-fluid">
      <h2>Pro Sidebar</h2>
      <hr>
      <div class="col-md-8 chart-container" style="position: relative; height:40vh; width:70vw">    
          <canvas id="canvas"></canvas>    
        </div>
      </div>
  </main>


</div>   

