<ol class="breadcrumb">
  <li class="breadcrumb-item">Home</li>
  <li class="breadcrumb-menu d-md-down-none">
    <div class="btn-group" role="group" aria-label="Button group">
      <div class="input-group">
        <span class="input-group-prepend">
        </span>
      </div>
    </div>
  </li>
  <li class="breadcrumb-menu d-md-down-none">
    <div class="btn-group" role="group" aria-label="Button group">

      <button class="btn btn-primary rounded-0 pull-right text-white" type="button" (click)="showGraph(ShowGraphTemplate)">
        Graph</button>
    </div>
  </li>
</ol>
<div class="container-fluid">
  <div class="animated fadeIn">
    <div class="card-columns cols-2">
      <div class="card">
        <div class="card-header">Monthly Expenses</div>
        <div class="card-body">
          <div class="chart-container">
            <div class="chartjs-size-monitor">
              <div class="chartjs-size-monitor-expand">
                <div class=""></div>
              </div>
              <div class="chartjs-size-monitor-shrink"></div>
            </div>
            <canvas id="canvas3" style="display: block; height: 288px; width: 578px;" width="722" height="360"
              class="chartjs-render-monitor">{{ chart }}</canvas>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header">Monthly Income</div>
        <div class="card-body">
          <div class="chart-container">
            <div class="chartjs-size-monitor">
              <div class="chartjs-size-monitor-expand">
                <div class=""></div>
              </div>
              <div class="chartjs-size-monitor-shrink"></div>
            </div>
            <canvas id="canvas1" width="722" height="360" class="chartjs-render-monitor"
              style="display: block; height: 288px; width: 578px;"></canvas>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header">{{month_Name | date:'MMMM'}} Expenses</div>
        <div class="card-body">
          <div class="chart-container">
            <div class="chartjs-size-monitor">
              <div class="chartjs-size-monitor-expand">
                <div class=""></div>
              </div>
              <div class="chartjs-size-monitor-shrink"></div>
            </div>
            <canvas id="canvas2" width="722" height="360" class="chartjs-render-monitor"
              style="display: block; height: 288px; width: 578px;"></canvas>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header">{{month_Name | date:'MMMM'}} Collection CourseWise</div>
        <div class="card-body">
          <div class="chart-container">
            <div class="chartjs-size-monitor">
              <div class="chartjs-size-monitor-expand">
                <div class=""></div>
              </div>
              <div class="chartjs-size-monitor-shrink"></div>
            </div>
            <canvas id="canvas" width="722" height="360" class="chartjs-render-monitor"
              style="display: block; height: 288px; width: 578px;"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #ShowGraphTemplate>
  <div class="modal-header">
    <h5 class="modal-title pull-left">Monthwise Income,Expense and New Admission Report</h5>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <div class="card">
      <div class="card-body">
        <div class="chart-container">
          <div class="chartjs-size-monitor">
            <div class="chartjs-size-monitor-expand">
              <div class=""></div>
            </div>
            <div class="chartjs-size-monitor-shrink"></div>
          </div>
          <canvas id="canvasmodal" width="722" height="360" class="chartjs-render-monitor"
            style="display: block; height: 288px; width: 578px;"></canvas>
        </div>
      </div>
    </div>
    <!-- <div class="modal-footer">
      <button class="btn btn-danger btn-square ml-2" type="button" (click)="modalRef.hide()">Cancel</button>
    </div> -->
  </div>
</ng-template>