<ol class="breadcrumb">
  <li class="breadcrumb-item">Home</li>
  <li class="breadcrumb-menu d-md-down-none">
    <div class="btn-group" role="group" aria-label="Button group">
      <div class="input-group">
        <span class="input-group-prepend">
        </span>
      </div>
    </div>
  </li>
  <li class="breadcrumb-menu d-md-down-none">
    <div class="btn-group" role="group" aria-label="Button group">

      <button class="btn btn-primary rounded-0 pull-right text-white" type="button" (click)="showGraph(ShowGraphTemplate)">
        Graph</button>
    </div>
  </li>
</ol>






<div class="container-fluid">

    <div class="row mb-2 " *ngIf="currentRole==='Admin'">
      <div class="col-md-4 d-inline-flex">
        <label for="InstituteId" class="flex-1 align-self-center">Branch Name</label>
        <select class="form-control flex-1" formControlName="BranchId" (change)="selectBranch($event)">
            <!-- <option [value]="null" disabled hidden>Select Branch</option> -->
            <option *ngFor="let branch of branchList; let i = index"  [value]="branch.BranchId" selected="{{branchList[0]['BranchId']}}">
              {{branch.BranchName}}
            </option>
        </select>
        <div *ngIf="branchList?.length==0"><h6 style="color:#f86c6b">No Branch is listed under your Institute.
        <a routerLink="/Branch">Please Click here to create a new Branch</a></h6>
      </div>
    </div>
    <div class="col-md-4">
       
       
    </div>
    </div>

  <div class="animated fadeIn">
    <div class="card-columns cols-2">
      <div class="card shadow border-0 rounded-0">
        <div class="card-header bg-light">Monthly Expenses</div>
        <div class="card-body">
          <div class="chart-container">
            <div class="chartjs-size-monitor">
              <div class="chartjs-size-monitor-expand">
                <div class=""></div>
              </div>
              <div class="chartjs-size-monitor-shrink"></div>
            </div>
            <canvas id="canvas3" style="display: block; height: 288px; width: 578px;" width="722" height="360"
              class="chartjs-render-monitor">{{ chart }}</canvas>
          </div>
        </div>
      </div>
      <div class="card shadow border-0 rounded-0">
        <div class="card-header bg-light">Monthly Income</div>
        <div class="card-body">
          <div class="chart-container">
            <div class="chartjs-size-monitor">
              <div class="chartjs-size-monitor-expand">
                <div class=""></div>
              </div>
              <div class="chartjs-size-monitor-shrink"></div>
            </div>
            <canvas id="canvas1" width="722" height="360" class="chartjs-render-monitor"
              style="display: block; height: 288px; width: 578px;"> {{chart2}}</canvas>
          </div>
        </div>
      </div>
      <div class="card shadow border-0 rounded-0">
        <div class="card-header bg-light">{{month_Name | date:'MMMM'}} Expenses</div>
        <div class="card-body">
          <div class="chart-container">
            <div class="chartjs-size-monitor">
              <div class="chartjs-size-monitor-expand">
                <div class=""></div>
              </div>
              <div class="chartjs-size-monitor-shrink"></div>
            </div>
            <canvas id="canvas2" width="722" height="360" class="chartjs-render-monitor"
              style="display: block; height: 288px; width: 578px;">{{chart3}}</canvas>
          </div>
        </div>
      </div>
      <div class="card shadow border-0 rounded-0">
        <div class="card-header bg-light">{{month_Name | date:'MMMM'}} Collection CourseWise</div>
        <div class="card-body">
          <div class="chart-container">
            <div class="chartjs-size-monitor">
              <div class="chartjs-size-monitor-expand">
                <div class=""></div>
              </div>
              <div class="chartjs-size-monitor-shrink"></div>
            </div>
            <canvas id="canvas" width="722" height="360" class="chartjs-render-monitor"
              style="display: block; height: 288px; width: 578px;">{{chart4}}</canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #ShowGraphTemplate>
  <div class="modal-header">
    <h5 class="modal-title pull-left">Monthwise Income,Expense and New Admission Report</h5>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <div class="card">
      <div class="card-body">
        <div class="chart-container">
          <div class="chartjs-size-monitor">
            <div class="chartjs-size-monitor-expand">
              <div class=""></div>
            </div>
            <div class="chartjs-size-monitor-shrink"></div>
          </div>
          <canvas id="canvasmodal" width="722" height="360" class="chartjs-render-monitor"
            style="display: block; height: 288px; width: 578px;"></canvas>
        </div>
      </div>
    </div>
    <!-- <div class="modal-footer">
      <button class="btn btn-danger btn-square ml-2" type="button" (click)="modalRef.hide()">Cancel</button>
    </div> -->
  </div>
</ng-template>