/* table{
    width:70%; 
    margin-left:15%; 
    margin-right:15%;
    text-align: center;
} */

/* .container{
    max-width: 100%;
    margin-right: 3%;
    margin-left: 3%;
}

#A{
    overflow-x: hidden;
    overflow-y: auto;
   
}

.h-460{
    height: 540px;
} */