

<!-- Add top navigation componant -->
<app-authorised-top-nav></app-authorised-top-nav>

<div class="row">
  <div class="col-md-2">
    <!-- Add left navigation componant -->
    <app-authorised-side-nav></app-authorised-side-nav>
  </div>

  <div class="col-xl-10 col-lg-10 col-md-10 col-sm-10 col-xs-10">
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="box ml-n2 mt-2">
    
                <div class="row mt-2">
                    <div class="col-md-4 mt-2">
                      <a routerLink="/Dashboard" class="ml-4  text-dark" data-toggle="tooltip" data-placement="bottom"
                        title="home" >
                        Home</a>&nbsp;
                      <i class="fa fa-angle-double-right" aria-hidden="true" ></i>
                      <a  data-toggle="tooltip" data-placement="bottom" class="text-dark"
                      title="Bank Transaction" >
                      Bank Transaction</a>&nbsp;                      
                    </div>

                    <div class="col-md-4">
                      <input type="text"  placeholder="Search" [(ngModel)]="filter" class="  py-2 px-3 mt-1 border-0 rounded-0 shadow-sm">
                  </div>

                    <div class="col-md-4 px-4">
                        <a routerLink="/BankTransaction" class="btn btn-info font-weight-medium rounded-0 pull-right py-2 px-3  f-20" data-toggle="tooltip" data-placement="bottom"
                        title="Add Transaction" (click)="addBank(Addtemplate)" >      
                      Add  
                      </a>&nbsp;
                    </div>
                   
                  </div> 
                  <hr>
            </div>
          </div>

       <div class="container shadow p-3 h-460" id="A">

      <!-- <table class="table table-bordered"> -->
      <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="tbl row-border hover">
        <thead>
          <tr>
            <!-- <th>No.</th> -->
            <th class="pl-2">Bank Name</th>
            <th class="pl-2">Account Number</th>
            <th class="pl-2">Transaction Type</th>
            <th class="pl-2">Amount</th>
            <th class="pl-2">Transaction By</th>
            <th class="pl-2">Transaction Date</th>
            <th></th>


          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let bt of banktransactions | filter:filter">
            <!-- <td>{{bt.ID}}</td> -->
            <!-- <td>{{i+1}}</td> -->
            <td>{{bt.BankName}}</td>
            <td>{{bt.AccountNo}}</td>
            <td>{{bt.TransactionType}}</td>
            <td>{{bt.Amount | number}}</td>
            <td>{{bt.TransactionBy}}</td>
            <td>{{bt.Date | date:'mediumDate'}}</td>

            <td>
              
                <svg class="icon" (click)="edit(editTemplate,bt)"  data-toggle="tooltip"
          data-placement="bottom" title="Edit BankTransaction" version="1.1" id="Capa_1"
          xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
          viewBox="0 0 383.947 383.947" style="enable-background:new 0 0 383.947 383.947;" xml:space="preserve"
          width="18px">
          <g>
            <g>
              <g>
                <polygon points="0,303.947 0,383.947 80,383.947 316.053,147.893 236.053,67.893" />
                <path d="M377.707,56.053L327.893,6.24c-8.32-8.32-21.867-8.32-30.187,0l-39.04,39.04l80,80l39.04-39.04
C386.027,77.92,386.027,64.373,377.707,56.053z" />
              </g>
            </g>
          </g>
        </svg>
            </td>

          </tr>
        </tbody>
      </table>
   
      </div>
      
  </div>

  <!-- Create banktransaction modal -->

  <ng-template #Addtemplate>
    <div class="modal-header">
      <h5 class=" h5 modal-title pull-left px-3">Bank Transaction</h5>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="CreateFormGroup" (ngSubmit)="onSubmit()">
	  <div class="row px-4">
	  <div class="col-md-12 col-xl-12 col-sm-12 col-12">
	  <div class="form-row">
		<div class="form-group col-md-3 col-xl-3 col-sm-3 col-3">
          <select name="BankName" id="BankName" [value]="null"  class="form-control border-bottom text-muted" (change)="getAccountNumber($event)"
            formControlName="BankName" [ngClass]="{ 'is-invalid': submitted &&
          f.BankName.errors }">
            <option [value]="null" disabled selected>Bank Name</option>
            <option *ngFor="let bank of banknames" [value]="bank.BankName">
              {{bank.BankName}}
            </option>
          </select>
          <div *ngIf="submitted && f.BankName.errors" class="invalid-feedback">
            <div *ngIf="f.BankName.errors.required">Please Enter Name</div>
          </div>
        </div>
		<div class="form-group col-md-3 col-xl-3 col-sm-3 col-3">
          <select name="AccountNo" id="AccountNo" [value]="null" class="form-control border-bottom text-muted" formControlName="AccountNo" [ngClass]="{ 'is-invalid': submitted &&
        f.AccountNo.errors }">
        <option [value]="null" disabled selected>Account Number</option>
            <option *ngFor="let accno of listaccno" [value]="accno.AccountNo">
              {{accno.AccountNo}}
            </option>
          </select>
          <div *ngIf="submitted && f.AccountNo.errors" class="invalid-feedback">
            <div *ngIf="f.AccountNo.errors.required">Please Enter Account Number</div>
          </div>
        </div>

        <div class="form-group col-md-3 col-xl-3 col-sm-3 col-lg-3">
            <input type="text" class="form-control border-bottom" formControlName="Amount" placeholder="Amount" [ngClass]="{ 'is-invalid': submitted &&
            f.Amount.errors }">
            <div *ngIf="submitted && f.Amount.errors" class="invalid-feedback">
              <div *ngIf="f.Amount.errors.required">Please Enter Amount</div>
            </div>
          </div>
		</div>
		<!-- First Row End-->
		<div class="form-row">
		<div class="form-group col-md-6 col-xl-6 col-sm-6 col-lg-6">
		
		<div class="radio">
        <label class="control-label-col-sm-2 h6">Transaction Type : </label>       
          <label><input type="radio" name="TransactionType" formControlName="TransactionType"
              value="Withdraw"><span>Withdraw</span></label>
              <label><input type="radio" name="TransactionType" formControlName="TransactionType"
                value="Deposite"><span>Deposite</span></label>
        </div>
        
        </div>
		
		</div>
		<!-- Second Row End-->
		<!-- <div class="form-row">
		<div class="form-group col-md-3 col-xl-3 col-sm-3 col-lg-3">
          <select name="TransactionBy" id="TransactionBy" [value]="null" class="form-control border-bottom text-muted" formControlName="TransactionBy"
            [ngClass]="{ 'is-invalid': submitted &&
        f.TransactionBy.errors }">
            <option [value]="null" disabled selected>Transaction By</option>
            <option *ngFor="let staff of staffMasters" [value]="staff.StaffId">
              <span>{{staff.FirstName+' '}}</span> <span>{{ staff.MiddleName}}</span>
              <span>{{' '+ staff.LastName}}</span>
            </option>
          </select>
          <div *ngIf="submitted && f.TransactionBy.errors" class="invalid-feedback">
            <div *ngIf="f.TransactionBy.errors.required">Please Enter Name</div>
          </div>
        </div>
		<div class="form-group col-md-3 col-xl-3 col-sm-3 col-lg-3">
          <input type="text" onfocus="(this.type='date')"  placeholder="Transaction Date" class="form-control" formControlName="Date" [ngClass]="{ 'is-invalid': submitted &&
                f.Date.errors }">
          <div *ngIf="submitted && f.Date.errors" class="invalid-feedback">
            <div *ngIf="f.Date.errors.required">Please Enter Date</div>
          </div>
        </div>
		</div> -->
		<!-- Third Row End-->
		</div>
		</div>
		<div class="form-row pull-right">
        <button class="btn btn-info btn-lg py-1 pr-3 rounded-0 f-20" type="submit">Submit</button>
        <button class="btn btn-dark text-light btn-lg py-1 pl-3 rounded-0 f-20 ml-4 mr-0" type="button"
          (click)="modalRef.hide()">Cancel</button>
      </div>
      </form>
    </div>
  </ng-template>

  

  <!-- Edit banktransaction modal -->

  

 <ng-template #editTemplate>
    <div class="modal-header">
    <h5 class=" h5 modal-title pull-left px-3">Update Bank Transaction</h5>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
    <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="UpdateFormGroup" (ngSubmit)="update()">
    <div class="row px-4">
    <div class="col-md-12 col-xl-12 col-sm-12 col-12">

    <div class="form-row">
    <div class="form-group col-md-2 col-xl-2 col-sm-2 col-2">
    <label for="BankName" class="mt-3 h6 text-muted">Bank Name : </label>
    </div>
    <div class="form-group col-md-4 col-xl-4 col-sm-4 col-4">
        <input type="text" class="form-control border-0 text-muted" formControlName="BankName" name="BankName" disabled>
    </div>
    
    <div class="form-group col-md-2 col-xl-2 col-sm-2 col-2">
      <label for="AccountNo"class="mt-3 h6 text-muted">Account Number : </label>
    </div>
    <div class="form-group col-md-3 col-xl-3 col-sm-3 col-3">
      <input type="text" class="form-control text-muted" formControlName="AccountNo" name="AccountNo" disabled>
    </div>
      
  </div>
    <!-- First Row End-->
    
    <div class="form-row">
        <div class="form-group col-md-2 col-xl-2 col-sm-2 col-2">
            <label for="Amount" class="mt-3 h6 text-muted">Amount : </label>
          </div>
          <div class="form-group col-md-4 col-xl-4 col-sm-4 col-4">
              <input type="text" class="form-control border-0 text-muted" formControlName="Amount" [ngClass]="{ 'is-invalid': submitted &&
                  fu.Amount.errors }">
                  <div *ngIf="submitted && fu.Amount.errors" class="invalid-feedback">
                      <div *ngIf="fu.Amount.errors.required">Please Enter Amount</div>
                      </div>
                </div>
          
    <div class="form-group col-md-6 col-xl-6 col-sm-6 col-lg-6">
    <div class="radio">
    <label class="control-label-col-sm-2 h5 mt-3 h6 text-muted">Transaction Type: </label> 
    <label><input type="radio" class="ml-3" name="TransactionType" formControlName="TransactionType" value="Withdraw"
                  checked><span class="ml-2">Withdraw</span></label>
                  <label><input type="radio" class="ml-3" name="TransactionType" formControlName="TransactionType"
                  value="Deposite"><span class="ml-2">Deposite</span></label>
    </div>
    </div>
    </div>
    <!-- Second Row End-->
    
    <div class="form-row mt-2">
    <!-- <div class="form-group col-md-2 col-xl-2 col-sm-2 col-lg-2">
        <label for="Date" class="control-label-col-sm-2 mt-3 h6 text-muted">Transaction By : </label>
    </div>
    <div class="form-group col-md-3 col-xl-3 col-sm-3 col-lg-3">
    <select name="TransactionBy" id="TransactionBy" class="form-control text-muted" formControlName="TransactionBy"
                [value]="fu.TransactionById.value" [ngClass]="{ 'is-invalid': submitted &&
            fu.TransactionBy.errors }"   (change)="selectTransactionBy($event)">
                <option [value]="null">Select Name</option>
                <option *ngFor="let staff of staffMasters" [value]="staff.StaffId">
                  <span>{{staff.FirstName+' '}}</span> <span>{{ staff.MiddleName}}</span>
                  <span>{{' '+ staff.LastName}}</span>
                </option>
              </select>
    <div *ngIf="submitted && fu.TransactionBy.errors" class="invalid-feedback">
       <div *ngIf="fu.TransactionBy.errors.required">Please Enter Name</div>
     </div>
     </div> -->
    <!-- <div class="form-group col-md-2 col-xl-2 col-sm-2 col-lg-2">
        <label for="Date" class="control-label-col-sm-2 mt-3 h6 text-muted">TransactionDate : </label>
    </div> -->
    <!-- <div class="form-group col-md-3 col-xl-3 col-sm-3 col-lg-3">
           <input class="form-control text-muted" formControlName="Date" [ngClass]="{ 'is-invalid': submitted &&
            fu.Date.errors }">
          <div *ngIf="submitted && fu.Date.errors" class="invalid-feedback">
              <div *ngIf="fu.Date.errors.required">Please Enter Date</div>
         </div>
    </div> -->
    </div>
    
    <!-- Third Row End-->
    </div>
    </div>
    <div class="form-row pull-right">
    <button class="btn btn-info btn-lg py-1 pr-3 rounded-0 f-20" type="submit">Update</button>
    <button class="btn btn-dark text-light btn-lg py-1 pl-3 rounded-0 f-20 ml-4 mr-0" type="button"
    (click)="modalRef.hide()">Cancel</button>
    </div>
    </form>
    </div>
    </ng-template>

  <!-- <ng-template #editTemplate>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Bank Transaction</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="UpdateFormGroup" (ngSubmit)="update()">

        

        <div class="form-group">
          <label for="BankName">Bank Name : </label>
          <input type="text" class="form-control" formControlName="BankName" name="BankName" disabled>
        </div>

        <div class="form-group">
          <label for="AccountNo">Account Number : </label>
          <input type="text" class="form-control" formControlName="AccountNo" name="AccountNo" disabled>
        </div>

        <div class="radio">
          <label class="control-label-col-sm-2">Transaction Type : </label><br>
          <label><input type="radio" name="TransactionType" formControlName="TransactionType" value="Withdraw"
              checked>Withdraw</label>
        </div>
        <div class="radio">
          <label><input type="radio" name="TransactionType" formControlName="TransactionType"
              value="Deposite">Deposite</label>
        </div>

        <div class="form-group">
          <label for="Amount" class="control-label-col-sm-2">Amount : </label>
          <input type="text" class="form-control" formControlName="Amount" [ngClass]="{ 'is-invalid': submitted &&
        fu.Amount.errors }">
          <div *ngIf="submitted && fu.Amount.errors" class="invalid-feedback">
            <div *ngIf="fu.Amount.errors.required">Please Enter Amount</div>
          </div>
        </div>
       
        <div class="form-group">
          <label for="TransactionBy">Transaction By</label>
          <select name="TransactionBy" id="TransactionBy" class="form-control" formControlName="TransactionBy"
            [value]="fu.TransactionById.value" [ngClass]="{ 'is-invalid': submitted &&
        fu.TransactionBy.errors }"   (change)="selectTransactionBy($event)">
            <option [value]="null" disabled selected>Select Name</option>
            <option *ngFor="let staff of staffMasters" [value]="staff.StaffId">
              <span>{{staff.FirstName+' '}}</span> <span>{{ staff.MiddleName}}</span>
              <span>{{' '+ staff.LastName}}</span>
            </option>
          </select>

          <div *ngIf="submitted && fu.TransactionBy.errors" class="invalid-feedback">
            <div *ngIf="fu.TransactionBy.errors.required">Please Enter Name</div>
          </div>
        </div>

        <div class="form-group">
          <label for="Date" class="control-label-col-sm-2">TransactionDate : </label>
          <input class="form-control" formControlName="Date" [ngClass]="{ 'is-invalid': submitted &&
        fu.Date.errors }">
          <div *ngIf="submitted && fu.Date.errors" class="invalid-feedback">
            <div *ngIf="fu.Date.errors.required">Please Enter Date</div>
          </div>
        </div>
        
        <div class="form-group">
          <button class="btn btn-primary" type="submit">submit</button>
          <button type="button" class="btn btn-primary" style="margin-left: 5px" (click)="modalRef.hide()">Cancel</button>
        </div>
      
      </form>
    </div>
  </ng-template> -->