label {
    float: left
}
span {
    display: block;
    overflow: hidden;
    padding: 0 4px 0 6px
}
input {
    width: 100%
}
.container{
    max-width: 100%;
    margin-right: 3%;
    margin-left: 3%;
}
.material-icons{
    font-size: 30px;
}
#A{
    overflow-x: hidden;
    overflow-y: scroll;
   
}

.h-460{
    height: 540px;
}
