<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
 
    <!-- Breadcrumb-->
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/Dashboard">Home</a></li>
      <li class="breadcrumb-item">Courses</li>

      <li class="breadcrumb-menu d-md-down-none">
        <div class="btn-group" role="group" aria-label="Button group">

          <button class="btn btn-primary" type="button">
            <i class="fa fa-search text-white"></i></button>

          <input type="text" placeholder="Search" class="form-control" [(ngModel)]="filter">
          &nbsp;&nbsp;
          <button class="btn btn-sm btn-primary btn-square text-white" data-toggle="tooltip" data-placement="bottom"
          title="Add New Course" (click)="AddCourses(Addtemplate)" type="button">Add</button>
        </div>
      </li>
    </ol>


    <div id="A" class="container-fluid  h-460">
      <div id="ui-view">
        <div class="card border-0 shadow rounded-0">
          <div class="card-body">
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover tbl">
              <thead>
                <tr>
                  <th class="pl-2">Course Type</th>
                  <th class="pl-2">Course</th>
                  <th class="pl-2">Percentage</th>
                  <th class="pl-2">Fees (Rs)</th>
                  <th class="pl-2">Duration (In Days)</th>

                  <th class="pl-2">Percentage</th>
                  <th class="pl-2">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let c of course | filter:filter">
                  <td>{{c.CourseTypeName}}</td>
                  <td>{{c.ShortName}}</td>
                  <td><i class="material-icons">{{c.IsPercentage ? "check_circle":"cancel"}}</i>
                  </td>
                  <td>{{c.Fees | number}}</td>
                  <td>{{c.Duration}}</td>
                  <td>{{c.Percentage}}
                  <td>
                    <div class="icon-sm " (click)="Edit(editTemplate,c)" data-toggle="tooltip" data-placement="bottom"
                      title="Edit Course">
                      <a class="card-header-action btn-minimize" title="Edit Information">
                        <i class="cui-pencil"></i>
                      </a>

                    </div>
                    &nbsp;
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>



<!-- Create model -->

<ng-template #Addtemplate>
  <div class="modal-header">
    <h5 class="modal-title pull-left">Add Course</h5>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="container-fluid">
      <form [formGroup]="createForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="BankName">Course Type</label>
          <select name="CourseTypeId" id="CourseTypeId" class="form-control" formControlName="CourseTypeId"
            [value]="null" [ngClass]="{ 'is-invalid': submitted && f.CourseTypeId.errors }">
            <option [value]="null" disabled hidden> Course Type </option>
            <option *ngFor="let course of coursetype" [value]="course.CourseTypeId">
              {{course.CourseTypeName}}
            </option>
          </select>
          <div *ngIf="submitted && f.CourseTypeId.errors" class="invalid-feedback">
            <div *ngIf="f.CourseTypeId.errors.required">Please Enter Name.</div>
          </div>
        </div>

        <div class="form-group">
          <label for="BankName">Course Name</label>
          <input type="text" class="form-control" formControlName="ShortName"
            [ngClass]="{ 'is-invalid': submitted && f.ShortName.errors }" placeholder="Course Name">
          <div *ngIf="submitted && f.ShortName.errors" class="invalid-feedback">
            <div *ngIf="f.ShortName.errors.required">Please Enter Courses. </div>

          </div>
        </div>

        <div class="form-group">
          <label for="BankName">Course Full Name</label>
          <input type="text" class="form-control" formControlName="FullName"
            [ngClass]="{ 'is-invalid': submitted && f.FullName.errors }" placeholder="Course Full Name">
          <div *ngIf="submitted && f.FullName.errors" class="invalid-feedback">
            <div *ngIf="f.FullName.errors.required">Please Enter Course Full Name.</div>

          </div>
        </div>

        <div class="form-group">
          <label for="BankName">Course Fees</label>
          <input type="text" class="form-control" formControlName="Fees"
            [ngClass]="{ 'is-invalid': submitted && f.Fees.errors }" placeholder="Fees">
          <div *ngIf="submitted && f.Fees.errors" class="invalid-feedback">
            <div *ngIf="f.Fees.errors.required">Please Enter Fees.</div>
          </div>
        </div>
        <div class="form-row p-0 m-0">
          <div class="form-group col-md-1">
            <input type="checkbox" formControlName="IsPercentage" (click)="calculateIsPercentage()">
          </div>
          <div class="form-group col-md-3">
            <label class="">Percentage</label>
          </div>

        </div>
        <div class="form-group row col-md-12 px-0 mx-0" *ngIf="f.IsPercentage.value">

          <input type="number" minlength="0" maxlength="100" class="form-control" formControlName="Percentage"
            [ngClass]="{ 'is-invalid': submitted && f.Percentage.errors }" placeholder="">
          <div *ngIf="submitted && f.Percentage.errors" class="invalid-feedback">
            <div *ngIf="f.Percentage.errors.required"> Percentage is required. </div>
            <div *ngIf="f.Percentage.errors.maxlength"> Percentage should be less 100. </div>
          </div>
        </div>

        <div class="form-group row col-md-12 px-0 mx-0 ">

          <input type="text" class="form-control" formControlName="Duration"
            [ngClass]="{ 'is-invalid': submitted && f.Duration.errors }" placeholder="Duration in days">

          <div *ngIf="submitted && f.Duration.errors" class="invalid-feedback">
            <div *ngIf="f.Duration.errors.required">Please Enter Duration </div>
          </div>
        </div>



        <!-- second Row start -->

        <div class="modal-footer">
          <button class="btn btn-primary btn-square" type="submit">Submit</button>
          <button class="btn btn-danger btn-square ml-2" type="button" (click)="modalRef.hide()">Cancel</button>
        </div>

      </form>
    </div>
  </div>

</ng-template>


<!-- Edit Course Model -->

<ng-template #editTemplate>
  <div class="modal-header">
    <h5 class="modal-title pull-left">Update Course</h5>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="container-fluid">
      <form [formGroup]="UpdateFormGroup" (ngSubmit)="Update()">
        <div class="form-group">
          <label for="BankName">Course Type</label>
          <input type="text" name="CourseTypeId" id="CourseTypeId" class="form-control" formControlName="CourseTypeId"
            disabled>
        </div>
        <div class="form-group">
          <label for="BankName">Course Name</label>
          <input type="text" name="ShortName" class="form-control" formControlName="ShortName" id="ShortName">
          <div *ngIf="submitted && fu.ShortName.errors" class="invalid-feedback mt-3">
            <div *ngIf="fu.ShortName.errors.required">Please enter Course Short Name</div>
          </div>
        </div>
        <div class="form-group">
          <label for="BankName">Course Full Name</label>
          <input type="text" id="FullName" name="FullName" class="form-control" formControlName="FullName">
        </div>


        <div class="form-row">
          <div class="form-group col-md-1">

            <input type="checkbox" formControlName="IsPercentage" class="control-label-col-sm-2  ">


          </div>
          <div class="form-group col-md-3">
            <label for="Fees">Percentage</label>

          </div>
        </div>

<div class="form-row">
          <div class="form-group col-md-12" *ngIf="fu.IsPercentage.value">

            <input type="text" class="form-control" formControlName="Percentage" [ngClass]="{ 'is-invalid': submitted &&
             fu.Percentage.errors }" placeholder="Percentage">
            <div *ngIf="submitted && fu.Percentage.errors" class="invalid-feedback">
              <div *ngIf="fu.Percentage.errors.required"> </div>
            </div>
          </div>
          </div>
        
        <div class="form-group">
          <label for="BankName">Duration</label>
          <input type="text" class="form-control" formControlName="Duration" [ngClass]="{ 'is-invalid': submitted &&
           fu.Duration.errors }" placeholder="Duration in Days">
          <div *ngIf="submitted && fu.Duration.errors" class="invalid-feedback">
            <div *ngIf="fu.Duration.errors.required">Please Enter Duration </div>
          </div>
        </div>


        <!-- second Row start -->

        <div class="modal-footer">
          <button class="btn btn-primary btn-square" type="submit">Update</button>
          <button class="btn btn-danger btn-square ml-2" type="button" (click)="modalRef.hide()">Cancel</button>
        </div>

      </form>
    </div>
  </div>
</ng-template>