<!-- <table>
  <tr class="navidetails">
    <td class="tdWidth">
        <a href="/" class="btn btn-info" >Home</a>
    </td>
    <td class="tdWidth">
        <a href="/AboutUs" class="btn btn-info">About Us</a> 
    </td>
    <td class="tdWidth">
            <a href="/Courses" class="btn btn-info">Courses</a>
    </td>
    <td class="tdWidth">
            <a href="/Socialact" class="btn btn-info">Social Activities</a>
    </td>
    <td class="tdWidth">
            <a href="/Testinomials" class="btn btn-info">Testinomials</a>
    </td>
    <td class="tdWidth">
            <a href="/ContactUs"class="btn btn-info">Contact US</a>
    </td>
    <td class="tdWidth">
        <a href="/Login"class="btn btn-info">Login </a>
    </td>
    </tr>
</table>


 -->
