<nav class="navbar navbar-light bg-light">
  <app-authorised-side-nav-toggler></app-authorised-side-nav-toggler>
  <!-- <button type="button"  (click)="Logout()"><i class="fas fa-sign-out-alt"></i></button>  -->
  <h3 style="color:black; margin-right:1100px;font-family: 'Trebuchet MS';font-size: 28px">Aditya Academy</h3>

  <!-- <div class="inline">
  <span>
    <div ngbDropdown class="nav-item dropdown">
      <a ngbDropdownToggle class="nav-link dropdown-toggle"  id="dropdown01">
        <i class="fa fa-cog setting-icon" aria-hidden="true" data-toggle="tooltip" title="Setting" data-placement="bottom"></i></a>
        <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown01">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div></div>
       -->
      
   <!-- <span><i class="fa fa-cog setting-icon" aria-hidden="true" data-toggle="tooltip" title="Setting"
      data-placement="bottom"></i>  -->
    <span (click)="Logout()"><i class="fa fa-sign-out fa-2x" aria-hidden="true" data-toggle="tooltip"
        title="LogOut" data-placement="bottom"></i>
    </span>
</nav>