<nav class="navbar navbar-dark bg-dark">
  <app-authorised-side-nav-toggler></app-authorised-side-nav-toggler>
  <!-- <button type="button"  (click)="Logout()"><i class="fas fa-sign-out-alt"></i></button>  -->
  <h3 style="color: white;font-family: cursive">Institute Management</h3>
  <a href="" (click)="Logout()"><i class="fas fa-sign-out-alt" style="font-size:30px;color:white;"
    data-toggle="tooltip" title="LogOut" data-placement="bottom"></i>
   </a>
  
  <!-- <div class="text-primary">
    <h3>LogOut</h3>
    </div> -->
</nav>