
.setting-icon{
    font-size:20px;
    color:black;
    margin-right: 10px;
    cursor: pointer
}
.logout-icon{
    font-size:20px;
    color:black;
    margin-left: 10px;
    cursor: pointer
}

.navbar{
    min-height: 40px;
    -webkit-box-shadow: 0 8px 6px -6px #cccccc;
       -moz-box-shadow: 0 8px 6px -6px #cccccc;
       box-shadow: 0 8px 6px -6px #cccccc;
   }

.heading{
    color:black;
     /* margin-right:1100px; */
     font-family: 'Trebuchet MS';
     /* font-size: 22px; */
     text-align: center;
}
.fa-2x{
    font-size: 1.5em;
}