<!-- Add top navigation componant -->
<app-authorised-top-nav></app-authorised-top-nav>

<div class="row">
  <div class="col-md-2">
    <!-- Add left navigation componant -->
    <app-authorised-side-nav></app-authorised-side-nav>
  </div>

  <div class="col-xl-10 col-lg-10 col-md-10 col-sm-10 col-xs-10">
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="box ml-n2 mt-2">
    
                <div class="row mt-2">
                    <div class="col-md-4 mt-2">
                      <a routerLink="/Dashboard" class="ml-4  text-dark" data-toggle="tooltip" data-placement="bottom"
                        title="home" >
                        Home</a>&nbsp;
                      <i class="fa fa-angle-double-right" aria-hidden="true" ></i>
                      <a data-toggle="tooltip" data-placement="bottom" class=" active"
                      title="Course Type" >
                      Course Type</a>&nbsp;                      
                    </div>

                    <div class="col-md-4">
                      <input type="text"  placeholder="Search" [(ngModel)]="filter" class="  py-2 px-3 mt-1 border-0 rounded-0 shadow-sm">
                  </div>

                    <div class="col-md-4 px-4">
                        <a routerLink="/coursetype" class="btn btn-info font-weight-medium rounded-0 pull-right py-2 px-3  f-20" data-toggle="tooltip" data-placement="bottom"
                        title="Add New Course Type" (click)="createNewCourse(addtemplate); clearForm()" >      
                      Add  
                      </a>&nbsp;
                    </div>
                   
                  </div> 
                  <hr>
            </div>
          </div>

  
  <!-- <table class="table table-bordered"> -->
      <div class="container shadow p-3 h-460" id="A">
      <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover tbl">
    <thead>
      <tr>
        <!-- <th>No.</th> -->
        <th class="pl-2">Course Type Name</th>
        <th></th>
        
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let c of courseType | filter:filter">
        <!-- <td>{{i+1}}</td> -->
        <td>{{c.CourseTypeName}}</td>
        <td>
                   
          <svg class="icon" (click)="editCourseType(editTemplate,c)" data-toggle="tooltip"
          data-placement="bottom" title="Edit Course Type" version="1.1" id="Capa_1"
          xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
          viewBox="0 0 383.947 383.947" style="enable-background:new 0 0 383.947 383.947;" xml:space="preserve"
          width="18px">
          <g>
            <g>
              <g>
                <polygon points="0,303.947 0,383.947 80,383.947 316.053,147.893 236.053,67.893" />
                <path d="M377.707,56.053L327.893,6.24c-8.32-8.32-21.867-8.32-30.187,0l-39.04,39.04l80,80l39.04-39.04
C386.027,77.92,386.027,64.373,377.707,56.053z" />
              </g>
            </g>
          </g>
        </svg>



      </tr>
    </tbody>
  </table>
</div>
</div>

<ng-template #addtemplate>
  <form [formGroup]="createregisterForm" (ngSubmit)="createCourseName(CourseTypeName.value)">
    <div class="modal-header">
      <h5 class="modal-title pull-left"> Add Course Type</h5>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()" >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="modal-body">
        <div class="row">
            <div class="form-group col-md-4">

                <label for="expense" class="mt-3 h6">Course Type:</label>
              </div>
              <div class="form-group col-md-6">
      <input type="text" class="form-control" formControlName="CourseTypeName"
        [ngClass]="{ 'is-invalid': submitted && f.CourseTypeName.errors }" #CourseTypeName  >
      <div *ngIf="submitted && f.CourseTypeName.errors" class="invalid-feedback">
        <div *ngIf="f.CourseTypeName.errors.required">Course type is required</div>
      </div>
      
      </div>
      </div>
      
    </div>
    <div class="modal-footer">
        <button class="btn btn-info btn-lg py-1 pr-3 rounded-0 f-20  " type="submit">Submit</button>
        <button class="btn btn-dark text-light btn-lg py-1 pl-3 rounded-0 f-20 ml-4 mr-0" type="button"
          (click)="modalRef.hide()">Cancel</button>
      </div>

  </form>
</ng-template>


<ng-template #editTemplate>
  <form [formGroup]="editregisterForm" (ngSubmit)="updateCourseType()">
    <div class="modal-header">
      <h5 class="modal-title pull-left">Update Course Type</h5>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()" >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="modal-body">
        <div class="row">
            
              <div class="form-group col-md-4">
                  <label for="expense" class="mt-3 h6 text-muted">Course Type: </label>
                  </div>
                  <div  class="form-group col-md-4">
                  <input type="text" class="form-control" formControlName="CourseTypeName"
                  [ngClass]="{ 'is-invalid': submitted && fu.CourseTypeName.errors }" #CourseTypeName>
                  <div *ngIf="submitted && fu.CourseTypeName.errors" class="invalid-feedback">
                      <div *ngIf="fu.CourseTypeName.errors.required">Course type is Required </div>
                    </div>
      
      </div>
      </div>
      
    </div>

    <div class="modal-footer">
        <button class="btn btn-info btn-lg py-1 pr-3 rounded-0 f-20  " type="submit" (click)="UpdateCourseType(CourseTypeName.value)">Update</button>
        <button class="btn btn-dark text-light btn-lg py-1 pl-3 rounded-0 f-20 ml-4 mr-0" type="button"
          (click)="modalRef.hide()">Cancel</button>
      </div>


  </form>
  
</ng-template>
