<!-- Add top navigation componant -->
<app-authorised-top-nav></app-authorised-top-nav>

<div class="row">
  <div class="col-md-2">
    <!-- Add left navigation componant -->
    <app-authorised-side-nav></app-authorised-side-nav>
  </div>
  <div class="col-md-10">
      <div style="margin-top: 10px;margin-right: 20px">
  
    <button type="submit" class="btn btn-primary" style="float: right;" 
     data-target="#myupdate" data-toggle="modal" (click)="CreateNewCourse(addtemplate)"
     data-toggle="tooltip" data-placement="bottom" title="Add" (click)="clearForm()">Add Course
     Type</button>
  </div>
  <!-- <table class="table table-bordered"> -->
      <div style="margin-top:80px">
      <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
    <thead>
      <tr>
        <th>No.</th>
        <th>CourseType Name</th>
        <th></th>
        
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let c of courseType;index as i">
        <td>{{i+1}}</td>
          <!-- {{c.CourseTypeId}} -->
        
        <td>{{c.CourseTypeName}}</td>
        <td>
          <button type="submit" style="margin-right:5px" class="btn btn-default" 
          data-toggle="tooltip" data-placement="bottom" title="Edit" (click)="EditCourseType(editTemplate,c)" >
          <i style='font-size:18px' class="fas fa-pencil-alt"></i></button>
          
      </tr>
    </tbody>
  </table>
</div>
</div>

<ng-template #addtemplate>
  <form [formGroup]="createregisterForm" (ngSubmit)="onSubmit()">
    <div class="modal-header">
      <h4 class="modal-title pull-left">Course Type</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()" >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <div class="form-group">
      <label for="CourseTypeName">CourseTypeName : </label>
      <input type="text" class="form-control" formControlName="CourseTypeName"
        [ngClass]="{ 'is-invalid': submitted && f.CourseTypeName.errors }" #CourseTypeName  >
      <div *ngIf="submitted && f.CourseTypeName.errors" class="invalid-feedback">
        <div *ngIf="f.CourseTypeName.errors.required">Name is required</div>
      </div>
      </div>
      <div class="form-group">
        <button class="btn btn-primary" style="margin:5px" (click)="CreateCourseName(CourseTypeName.value)">submit</button>
        <button type="button" class="btn btn-primary"  (click)="modalRef.hide()" >Cancel</button>
      </div>
    </div>
  </form>
</ng-template>


<ng-template #editTemplate>
  <form [formGroup]="editregisterForm" (ngSubmit)="UpdateCourseType()">
    <div class="modal-header">
      <h4 class="modal-title pull-left">Edit Course Type</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()" >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <label for="CourseTypeName">CourseTypeName : </label>
      <input type="text" class="form-control" formControlName="CourseTypeName"
        [ngClass]="{ 'is-invalid': submitted && fu.CourseTypeName.errors }" #CourseTypeName  >
      <div *ngIf="submitted && fu.CourseTypeName.errors" class="invalid-feedback">
        <div *ngIf="fu.CourseTypeName.errors.required">Name Required </div>
      </div>
      <div class="form-group">
        <button class="btn btn-primary" style="margin:5px" (click)="UpdateCourseType(CourseTypeName.value)">submit</button>
        <button type="button" class="btn btn-primary"  (click)="modalRef.hide()" >Cancel</button>
      </div>
    </div>
  </form>
  
</ng-template>
