<!-- Add top navigation componant -->
<app-authorised-top-nav></app-authorised-top-nav>

<div class="row">
  <div class="col-md-2">
    <!-- Add left navigation componant -->
    <app-authorised-side-nav></app-authorised-side-nav>
  </div>

  <div class="col-md-10 overflow-auto">
<!-- Create button layout -->
<div class="float-right" style="margin-top: 20px;margin-right: 20px">
  <button type="button" class="btn btn-primary" style="margin-left:100px"
  (click)="OpenCreateModal(CreateTemplate)"> Apply For Leave </button>
</div>

<!-- leave transaction table -->
<div class="container" style="margin-top:100px">
  <!-- <table class="table table-bordered"> -->
      <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
    <thead>
      <tr>
        <!-- <th scope="col">ID</th> -->
        <th scope="col">Course</th>
        <th scope="col">Student</th>
        <th scope="col">Leave Type </th>
        <th scope="col">Reason</th>
        <th scope="col">Comment</th>
        <th scope="col">Is Follow UpDate</th>
        <th scope="col">From Date</th>
        <th scope="col">To Date</th>
        <th scope="col">Total Days</th>
        <div class="float-right">
          <th></th>
        </div>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of leaveTran">
        <!-- <td>{{item.Id}}</td>  -->
        <td> {{item.FullName}}</td>
        <td>{{item.FirstName}}</td>
        <td>{{item.LeaveType}}</td>
        <td>{{item.Reason}}</td>
        <td>{{item.Comment}}</td>
        <td>{{item.NeedFollowupDate}}</td>
        <td>{{item.FromDate}}</td>
        <td>{{item.ToDate}}</td>
        <td>{{item.TotalDays}}</td>
        <td>
          <button type="button" style="margin-left:15px" class="btn btn-primary" (click)="UpdateCreateModal(EditTemplate,item)"><i style='font-size:24px' class='far'>&#xf044;</i></button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
</div>
<!-- Create leave modal -->
<ng-template #CreateTemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Apply For Leave</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="CreateLeaveFormGroup" (ngSubmit)="CreateNewLeave()">
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="CourseName">Course Name</label>
          <select name="CourseName" class="form-control" [value]="null" formControlName="CourseName" (change)="getStudentName($event)"
            [ngClass]="{'is-invalid': submitted && fc.CourseName.errors} ">
            <option [value]="null">--select course--</option>
            <option *ngFor="let Course of Courses" [value]="Course.CourseId">
              {{Course.FullName}}
            </option>
          </select>
        </div>

        <div class="form-group col-md-8">
          <label for="LeaveType">Student Name</label>
          <select name="StudentName" class="form-control"  [value]="null" formControlName="StudentName">
            <option [value]="null">--select student--</option>
            <option *ngFor="let student of students" [value]="student.StudentId">
              {{student.FullName}}
            </option>
          </select>

        </div>

      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="LeaveName">Leave</label>
          <select name="LeaveName" class="form-control" formControlName="LeaveName">
            <option *ngFor="let l of leaves" [value]="l.LeaveId">
              {{l.LeaveType}}
            </option>
          </select>
        </div>

        <div class="form-group col-md-6">
          <label for="NeedFollowupDate">Need Followup Date</label>
          <input type="date" formControlName="NeedFollowupDate" class="form-control" placeholder="NeedFollowupDate"
            [ngClass]="{'is-invalid': submitted && fc.NeedFollowupDate.errors}" />
          <div *ngIf="submitted && fc.NeedFollowupDate.errors" class="invalid-feedback">
            <div *ngIf="fc.NeedFollowupDate.errors.required">Days is required</div>
          </div>
        </div>

      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="FromDate">From Date</label>
          <input type="date" formControlName="FromDate" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && fc.FromDate.errors }" />
          <div *ngIf="submitted && fc.FromDate.errors" class="invalid-feedback">
            <div *ngIf="fc.FromDate.errors.required"> Date is required</div>
          </div>
        </div>

        <div class="form-group col-md-6">
          <label for="ToDate">To Date</label>
          <input type="date" formControlName="ToDate" class="form-control"
            [ngClass]="{'is-invalid': submitted && fc.ToDate.errors}" />
          <div *ngIf="submitted && fc.ToDate.errors" class="invalid-feedback">
            <div *ngIf="fc.ToDate.errors.required">Date is required</div>
          </div>
        </div>
        <div class="form-group col-md-6">
            <label for="TotalDays">Total Days</label>
            <input type="text" disabled [value]="1" class="form-control">
            </div>
        
      </div>

      <div class="form-row">
        <div class="form-group col-md-12">
          <label for="Reason">Reason</label>
          <textarea class="form-control rounded-0" rows="3" placeholder="Reason"
            [ngClass]="{'is-invalid': submitted && fc.Reason.errors}" formControlName="Reason"></textarea>
          <div *ngIf="submitted && fc.Reason.errors" class="invalid-feedback">
            <div *ngIf="fc.Reason.errors.required">Reason is required</div>
          </div>

        </div>
      </div>

      <div class="form-row">
        <label for="Reason">Comment</label>
        <div class="form-group col-md-12">
          <textarea class="form-control rounded-0" rows="3" placeholder="Comment" formControlName="Comment"></textarea>
        </div>
      </div>

      <div class="form-group">
        <button class="btn btn-primary" type="submit">Submit</button>
        <button type="button" class="btn btn-primary" style="margin-left: 5px" (click)="modalRef.hide()">Cancel</button>
      </div>

    </form>
  </div>
</ng-template>

<!-- Edit leave modal -->
<ng-template #EditTemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Apply Leave</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="UpdateLeaveFormGroup" (ngSubmit)="UpdateLeave()">
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="CourseName">Course Name</label>
          <select name="CourseName" class="form-control" [value]="null" formControlName="CourseName" (change)="getStudentName($event)"
            [ngClass]="{'is-invalid': submitted && fc.CourseName.errors} ">
            <option [value]="null">--select course--</option>
            <option *ngFor="let Course of Courses" [value]="Course.CourseId">
              {{Course.ShortName}}
            </option>
          </select>
        </div>

        <div class="form-group col-md-8">
          <label for="LeaveType">Student Name</label>
          <select name="StudentName" class="form-control"  [value]="null" formControlName="StudentName">
            <option [value]="null">--select student--</option>
            <option *ngFor="let student of students" [value]="student.StudentId">
              {{student.FullName}}
            </option>
          </select>
        </div>

      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="LeaveName">Leave</label>
          <select name="LeaveName" class="form-control" formControlName="LeaveName">
            <option *ngFor="let l of leaves" [value]="l.LeaveId">
              {{l.LeaveType}}
            </option>
          </select>
        </div>

        <div class="form-group col-md-4">
          <label for="NeedFollowupDate">Need Followup Date</label>
          <input type="date" formControlName="NeedFollowupDate" class="form-control" placeholder="NeedFollowupDate"
            [ngClass]="{'is-invalid': submitted && fu.NeedFollowupDate.errors}" />
          <div *ngIf="submitted && fu.NeedFollowupDate.errors" class="invalid-feedback">
            <div *ngIf="fu.NeedFollowupDate.errors.required">Days is required</div>
          </div>
        </div>

      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="FromDate">From Date</label>
          <input type="date" formControlName="FromDate" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && fu.FromDate.errors }" />
          <div *ngIf="submitted && fu.FromDate.errors" class="invalid-feedback">
            <div *ngIf="fu.FromDate.errors.required"> Date is required</div>
          </div>
        </div>

        <div class="form-group col-md-6">
          <label for="ToDate">To Date</label>
          <input type="date" formControlName="ToDate" class="form-control"
            [ngClass]="{'is-invalid': submitted && fu.ToDate.errors}" />
          <div *ngIf="submitted && fu.ToDate.errors" class="invalid-feedback">
            <div *ngIf="fu.ToDate.errors.required">Date is required</div>
          </div>
        </div>

      </div>

      <div class="form-row">
        <div class="form-group col-md-12">
          <label for="Reason">Reason</label>
          <textarea class="form-control rounded-0" rows="3" placeholder="Reason"
            [ngClass]="{'is-invalid': submitted && fu.Reason.errors}" formControlName="Reason"></textarea>
          <div *ngIf="submitted && fu.Reason.errors" class="invalid-feedback">
            <div *ngIf="fu.Reason.errors.required">Reason is required</div>
          </div>

        </div>
      </div>

      <div class="form-row">
        <label for="Reason">Comment</label>
        <div class="form-group col-md-12">
          <textarea class="form-control rounded-0" rows="3" placeholder="Comment" formControlName="Comment"></textarea>
        </div>
      </div>

      <div class="form-group">
        <button class="btn btn-primary">Submit</button>
        <button type="button" class="btn btn-primary" style="margin-left: 5px" (click)="modalRef.hide()">Cancel</button>
      </div>

    </form>
  </div>
</ng-template>