
  <div class="sidebar" >
  <nav class="sidebar-nav">
    <ul class="nav">

      <li  class="nav-item"
        *ngIf="currentRole==='Admin' || currentRole==='BranchManager'">
        <a class="nav-link" routerLinkActive="active current" routerLink="/Dashboard">
          <i class="nav-icon icon-home"></i> Dashboard </a>
      </li>
      <li  class="nav-item" *ngIf="currentRole==='SuperAdmin'">
        <a class="nav-link" routerLinkActive="active current" routerLink="/Institute">
          <i class="nav-icon fa fa-institution"></i> Institute</a>
      </li>
      <li  class="nav-item" *ngIf="currentRole==='SuperAdmin'">
        <a class="nav-link" routerLinkActive="active current" routerLink="/InstituteAdmin">
          <i class="nav-icon icon-user"></i> Institute Admin</a>
      </li>

      <li  class="nav-item" *ngIf="currentRole==='SuperAdmin'">
        <a class="nav-link" routerLinkActive="active current" routerLink="/role">
          <i class="nav-icon fa fa-user-plus"></i> Role
        </a>
      </li>

      <li  class="nav-item" *ngIf="currentRole==='Admin'">
        <a class="nav-link" routerLinkActive="active current" routerLink="/Branch">
          <i class="nav-icon fa fa-map-marker"></i> Branch</a>
      </li>

        <li  class="nav-item" *ngIf="currentRole==='Admin'">
          <a class="nav-link" routerLinkActive="active current" routerLink="/BranchManager">
            <i class="nav-icon icon-user"></i> Branch Manager</a>
        </li>

      <li  class="nav-item" *ngIf="currentRole==='Admin'">
        <a class="nav-link" routerLinkActive="active current" routerLink="/bank">
          <i class="nav-icon fa fa-id-card"></i> Bank Account</a>
      </li>

      <li class="nav-item" *ngIf="currentRole==='Admin'">
        <a class="nav-link"  routerLinkActive="active current" routerLink="/reports">
          <i class="nav-icon fa fa-file"></i>Reports
        </a>
      </li>

      <li class="nav-item nav-dropdown" *ngIf="currentRole==='Teacher' || currentRole==='BranchManager'">
        <a class="nav-link nav-dropdown-toggle" href="#">
          <i class="nav-icon fa fa-info"></i> Manage Masters</a>
        <ul class="nav-dropdown-items">
         
          <li  class="nav-item"
            *ngIf="currentRole==='Teacher'|| currentRole==='BranchManager'">
            <a class="nav-link" routerLinkActive="active current" routerLink="/StudentList">
              <i class="nav-icon fa fa-user-circle"></i> Student</a>
          </li>

          <li  class="nav-item"
            *ngIf="currentRole==='BranchManager'">
            <a class="nav-link" routerLinkActive="active current" routerLink="/ExpenseMaster">
              <i class="nav-icon fa fa-dollar"></i> Expense Type</a>
          </li>

          <li  class="nav-item" *ngIf="currentRole==='BranchManager'">
            <a class="nav-link" routerLinkActive="active current" routerLink="/coursetype">
              <i class="nav-icon icon-book-open"></i> Course Type</a>
          </li>

          <li  class="nav-item" *ngIf="currentRole==='BranchManager'">
            <a class="nav-link" routerLinkActive="active current" routerLink="/courses">
              <i class="nav-icon fa fa-graduation-cap"></i> Courses</a>
          </li>
        
       
          <li  class="nav-item" *ngIf="currentRole==='Teacher'">
            <a class="nav-link" routerLinkActive="active current" routerLink="/leavelist">
              <i class="nav-icon fa fa-check"></i> Leave Type</a>
          </li>

        </ul>
      </li>

      <li class="nav-item nav-dropdown" *ngIf="currentRole==='BranchManager'">
        <a class="nav-link nav-dropdown-toggle" href="#">
          <i class="nav-icon icon-people"></i> Manage Users</a>
        <ul class="nav-dropdown-items">
          <li  class="nav-item" *ngIf="currentRole==='BranchManager'">
            <a class="nav-link" routerLinkActive="active current" routerLink="/stafflist">
              <i class="nav-icon icon-user"></i> Staff</a>
          </li>
        </ul>  
      </li>

      <li  class="nav-item" *ngIf="currentRole==='Teacher'">
        <a class="nav-link" routerLinkActive="active current" routerLink="/enquiry">
          <i class="nav-icon fa fa-desktop"></i> Enquiry</a>
      </li>
      <li  class="nav-item" *ngIf="currentRole==='BranchManager'">
        <a class="nav-link" routerLinkActive="active current" routerLink="/banktransaction">
          <i class="nav-icon fa fa-credit-card"></i> Bank Transaction
        </a>
      </li>
      <li  class="nav-item" *ngIf="currentRole==='Teacher'">
        <a class="nav-link" routerLinkActive="active current" routerLink="/leave">
          <i class="nav-icon icon-calculator"></i> Student Leave
        </a>
      </li>
      
      <li  class="nav-item" *ngIf="currentRole==='BranchManager'">
        <a class="nav-link" routerLinkActive="active current" routerLink="/Expenses">
          <i class="nav-icon icon-note"></i> Daily Expenses</a>
      </li>

    </ul>
  </nav>
  <button class="sidebar-minimizer brand-minimizer" type="button"></button> 
 
</div>

