<!-- Add top navigation componant -->
<app-authorised-top-nav></app-authorised-top-nav>

<div class="row">
  <div class="col-md-2">
    <!-- Add left navigation componant -->
    <app-authorised-side-nav></app-authorised-side-nav>
  </div>
  


  <div class="container p-4 m-0">
      <div class="row mb-4">
          <div class="col-md-10 mt-2">
            <a routerLink="/Dashboard" class="ml-3 pt-1" data-toggle="tooltip" data-placement="bottom"
              title="home" class="text-dark">
              Home</a>&nbsp;
              <i class="fa fa-angle-double-right" aria-hidden="true"></i>
            <a routerLink="/StaffList"  data-toggle="tooltip" data-placement="bottom"
            title="staff" class="text-dark">
            Staff</a>&nbsp;
            <i class="fa fa-angle-double-right" aria-hidden="true"></i>
            <a routerLink="/TeacherCourses"  data-toggle="tooltip" data-placement="bottom"
            title="staff" class="text-dark">
            AddStaff</a>
          </div>
        
        </div> <hr>

    <div class="row">
      <!-- <div class="col-md-12  mx-3">
        <h2 class="h1 font-weight-medium mb-4 mt-2">Add Staff</h2>
      </div> -->
    </div>
    <div id="A" class="h-460 shadow p-3">
    <form [formGroup]="registerStaffForm" (ngSubmit)="onSubmit(courseTemplate)">
      <div class="row">
        <div class="col-md-12 border-bottom mx-3">
          <h4 class=" font-weight-medium px-3">Personal Info :</h4>
          
          <div class="row">
            <div class="col-md-12 px-4">
              <div class="form-row">
                
                <div class="form-group col-md-3 px-3">
                  <select id="Gender" formControlName="Gender" [value]="null" class="form-control text-muted" placeholder="Name" [ngClass]="{ 'is-invalid': submitted && f.Gender.errors }">
                    <option [value]="null" disabled>Gender</option>
                    <option value="Male">MR.</option>
                    <option value="Female">Mrs.</option>
                    <option value="Female">Miss</option>
                  </select>
                  <div *ngIf="submitted && f.Gender.errors" class="invalid-feedback">
                    <div *ngIf="f.Gender.errors.required">Gender is required</div>
                  </div>
                </div>
                <div class="form-group col-md-3 px-3">
                  <input type="text" class="form-control" placeholder="First Name" formControlName="FirstName"
                    [ngClass]="{ 'is-invalid': submitted && f.FirstName.errors }">
                  <div *ngIf="submitted && f.FirstName.errors" class="invalid-feedback">
                    <div *ngIf="f.FirstName.errors.required">First Name is required</div>
                  </div>
                </div>

                <div class="form-group col-md-3 px-3">
                  <input type="text" class="form-control" placeholder="Middle Name" formControlName="MiddleName"
                    [ngClass]="{ 'is-invalid': submitted && f.MiddleName.errors }">
                  <div *ngIf="submitted && f.MiddleName.errors" class="invalid-feedback">
                    <div *ngIf="f.MiddleName.errors.required">Middle Name is required</div>
                  </div>
                </div>
                <div class="form-group col-md-3 px-3">
                  <input type="text" class="form-control" placeholder="Last Name" formControlName="LastName"
                    [ngClass]="{ 'is-invalid': submitted && f.LastName.errors }">
                  <div *ngIf="submitted && f.LastName.errors" class="invalid-feedback">
                    <div *ngIf="f.LastName.errors.required">Last Name is required</div>
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-3 px-3">
                  <!-- <label class="col-md-6 control-label">Date Of Birth</label> -->
                  <input type="text" id="DOB" placeholder="DOB"  onfocus="(this.type='date')"  class="form-control" formControlName="DOB" placeholder="Date Of Birth"
                    [ngClass]="{ 'is-invalid': submitted && f.DOB.errors }">
                  <div *ngIf="submitted && f.DOB.errors" class="invalid-feedback">
                    <div *ngIf="f.DOB.errors.required"> Please provide a valid DOB.</div>
                  </div>
                </div>
                <div class="form-group col-md-3 px-3">
                  <!-- <label for="BloodGroup">Blood Group</label> -->
                  <select id="BloodGroup" class="form-control text-muted" [value]="null" formControlName="BloodGroup"
                    [ngClass]="{ 'is-invalid': submitted && f.BloodGroup.errors }">
                    <option [value]="null">Blood Group</option>
                    <option>A+</option>
                    <option>B+</option>
                    <option>AB+</option>
                    <option>O+</option>
                    <option>A-</option>
                    <option>B-</option>
                    <option>O-</option>
                    <option>AB-</option>
                  </select>
                  <div *ngIf="submitted && f.BloodGroup.errors" class="invalid-feedback">
                    <div *ngIf="f.BloodGroup.errors.required"> Please provide a valid BloodGroup.</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- second Row start -->

      <div class="row">
        <div class="col-md-12 border-bottom mx-3 ">
          <h4 class=" font-weight-medium px-3 my-3">Contact Info :</h4>

          <div class="row">
            <div class="col-md-12 px-4">
              <div class="form-row">
                <div class="form-group col-md-3 px-3">
                  <input type="number" id="ContactNo"  formControlName="ContactNo" placeholder="Contact No"
                    class="form-control"  pattern="^[7-9][0-9]{9}$" [ngClass]="{ 'is-invalid': submitted && f.ContactNo.errors }">
                  <div *ngIf="submitted && f.ContactNo.errors" class="invalid-feedback">
                    <div *ngIf="f.ContactNo.errors.required">Contact No is required</div>
                    <div *ngIf="f.ContactNo.errors.pattern">Contact No not correct</div> </div>
                </div>

                <div class="form-group col-md-4 px-3">
                  <input type="number" id="EmergencyNo" formControlName="EmergencyNo" placeholder="Emergency Contact No"
                    class="form-control"  pattern="^[7-9][0-9]{9}$" [ngClass]="{ 'is-invalid': submitted && f.EmergencyNo.errors }">
                  <div *ngIf="submitted && f.EmergencyNo.errors" class="invalid-feedback">
                    <div *ngIf="f.EmergencyNo.errors.required">Emergency Contact No is required</div>
                    <div *ngIf="f.EmergencyNo.errors.pattern">Emergency Contact No not correct</div>
                  </div>
                </div>
                <div class="form-group col-md-4 px-3">
                  <input type="email" class="form-control" id="Email" placeholder="Email" formControlName="Email"
                    [ngClass]="{ 'is-invalid': submitted && f.Email.errors }">
                  <div *ngIf="submitted && f.Email.errors" class="invalid-feedback">
                    <div *ngIf="f.Email.errors.required">Email is required</div>
                    <div *ngIf="f.Email.errors.email">Email must be a valid email address</div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
      <!--Second row End-->
    
          <div class="row">
              <div class="col-md-12 border-bottom mx-3 ">
                <h4 class=" font-weight-medium px-3 my-3">Permanent Address :</h4>
          <div class="row">
            <div class="col-md-12  px-4">
              <div class="form-row">
                <div class="form-group col-md-10 px-3">
                  <input type="text" class="form-control" id="Address1" placeholder="Address"
                    formControlName="Address1" [ngClass]="{ 'is-invalid': submitted && f.Address1.errors }">
                  <div *ngIf="submitted && f.Address1.errors" class="invalid-feedback">
                    <div *ngIf="f.Address1.errors.required">Address is required</div>
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-4 px-3">
                  <select id="State" class="form-control" [value]="null" formControlName="State"
                    [ngClass]="{ 'is-invalid': submitted && f.State.errors }">
                    <option  [value]="null">Select State</option>
                    <option value="Maharashtra">Maharashtra</option>
                  </select>
                  <div *ngIf="submitted && f.State.errors" class="invalid-feedback">
                    <div *ngIf="f.State.errors.required"> Please provide a valid state.</div>
                  </div>
                </div>
                <div class="form-group col-md-4 px-3">
                  <input type="text" class="form-control" id="City" formControlName="City" value="Pune"
                    placeholder="City" [ngClass]="{ 'is-invalid': submitted && f.City.errors }">
                  <div *ngIf="submitted && f.City.errors" class="invalid-feedback">
                    <div *ngIf="f.City.errors.required"> Please provide a valid city.</div>
                  </div>
                </div>
                <div class="form-group col-md-4 px-3">
                  <input type="number" class="form-control" id="ZipCode" formControlName="ZipCode" value="411040"
                    placeholder="Zip Code" [ngClass]="{ 'is-invalid': submitted && f.ZipCode.errors }">
                  <div *ngIf="submitted && f.ZipCode.errors" class="invalid-feedback">
                    <div *ngIf="f.ZipCode.errors.required"> Please provide a valid Zip Code.</div>
                  </div>
                </div>

              </div>
            </div>
          </div>

        </div>
      </div>
      <!--Third Row End-->
      <div class="row">

        <div class="col-md-12 border-bottom mx-3">
          <h4 class=" font-weight-medium px-3 my-3">Current Address :</h4>
          <div class="row pt-2">
            <div class="form-group col-md-4 px-5">
              <input class="form-check-input " type="checkbox" id="gridCheck1" (click)="checkAll($event)"
                formControlName="gridCheck1">
              <label class="form-check-label" for="gridCheck1">
                Same as above
              </label>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 px-4">
              <div class="form-row">
                <div class="form-group col-md-10 px-3">
                  <input type="text" class="form-control" id="P_Address1" placeholder="Address"
                    formControlName="P_Address1" [ngClass]="{ 'is-invalid': submitted && f.P_Address1.errors }">
                  <div *ngIf="submitted && f.Address1.errors" class="invalid-feedback">
                    <div *ngIf="f.P_Address1.errors.required">Address is required</div>
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-4 px-3">

                  <select id="P_State" class="form-control" [value]="null" formControlName="P_State"
                    [ngClass]="{ 'is-invalid': submitted && f.P_State.errors }">
                     <option [value]="null">Select State</option>
                    <option value="Maharashtra">Maharashtra</option>
                  </select>
                  <div *ngIf="submitted && f.P_State.errors" class="invalid-feedback">
                    <div *ngIf="f.P_State.errors.required"> Please provide a valid state.</div>
                  </div>
                </div>
                <div class="form-group col-md-4 px-3">
                  <input type="text" class="form-control" id="City" formControlName="P_City" value="Pune"
                    placeholder="City" [ngClass]="{ 'is-invalid': submitted && f.City.errors }">
                  <div *ngIf="submitted && f.P_City.errors" class="invalid-feedback">
                    <div *ngIf="f.P_City.errors.required"> Please provide a valid city.</div>
                  </div>
                </div>
                <div class="form-group col-md-4 px-3">
                  <input type="number" class="form-control" id="ZipCode" formControlName="P_ZipCode" value="411040"
                    placeholder="Zip Code" [ngClass]="{ 'is-invalid': submitted && f.ZipCode.errors }">
                  <div *ngIf="submitted && f.P_ZipCode.errors" class="invalid-feedback">
                    <div *ngIf="f.P_ZipCode.errors.required"> Please provide a valid STD Code.</div>
                  </div>
                </div>

              </div>
            </div>
          </div>

        </div>
      </div>
      <!--Fourth row End-->
       <!-- <div class="row">
    <div class="col-md-12 shadow mt-3 ">
           <h4 class=" font-weight-medium  py-4 px-3">Course Details :</h4>
       
    <div class="row">
   <div class="col-md-12 pb-4 px-4"> 
       <div class="form-row">
          <div class="form-group col-md-4 px-3">
              <select id="CourseType" class="form-control" [value]="null" formControlName="CourseType" 
                [ngClass]="{ 'is-invalid': submitted && f.CourseType.errors }">
                
                <option [value]="null">Select CourseType</option>
                <option value="goverment" >Goverment</option>
              </select>
              <div *ngIf="submitted && f.CourseType.errors" class="invalid-feedback">
                <div *ngIf="f.CourseType.errors.required"> Please provide a valid CourseType.</div>
              </div>
            </div>
     
            <div class="form-group col-md-4 px-3">
                <select id="Course" class="form-control"  [value]="null" formControlName="Course" 
                  [ngClass]="{ 'is-invalid': submitted && f.Course.errors }">
                  <option [value]="null">Select Course</option>
                  <option value="MSCIT" >MSCIT</option>
                </select>
                <div *ngIf="submitted && f.Course.errors" class="invalid-feedback">
                  <div *ngIf="f.Course.errors.required"> Please provide a valid Course.</div>
                </div>
              </div>
           
         </div>
      </div> 
   </div>
   
   </div>
   </div>  -->
      <!--fifth row end-->
      <div class="row">
        <div class="col-md-12 border-bottom mx-3">
          <h4 class=" font-weight-medium   px-3 my-3">Professional Details :</h4>

          <div class="row">
            <div class="col-md-12  px-4">
              <div class="form-row">

                <div class=" col-md-5 px-3">
                  <div class="media">
                    <img class="img-circle mr-3"
                      [src]=_DomSanitizationService.bypassSecurityTrustUrl(thumbnailUrl)
                      width="80px" height="80px">

                    <div class="media-body">
                      <input type="file" (change)="onImageSelected($event)" id="Photo">

                      <input type="hidden" name="fileHidden" formControlName="Photo" />

                      <button type="button" class="mt-3" (click)="onUploadPhoto()">UploadPhoto</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-row ">
                <div class="col-md-6 mt-4 px-3">
                  <label for="inpuIsCV" class="h6">Is CV?</label>
                  <div class="custom-control custom-radio custom-control-inline ml-4">
                      <input type="radio" class="custom-control-input" id="defaultInline1" value="true"
                        name="IsCv" formControlName="IsCv" (click)="Show()">
                      <label class="custom-control-label" for="defaultInline1">Yes</label>
                    </div>
                  <div class="custom-conl custom-radio custom-control-inline ml-4">
                    <input type="radio" class="custom-control-input" id="defaultInline2" value="false" name="IsCv"
                      formControlName="IsCv" (click)="Hide()" [checked]="true">
                    <label class="custom-control-label" for="defaultInline2">No</label>
                  </div>
                </div>
                <div class="col-md-6 mt-4  px-3" *ngIf='shown'>
                  <input type="file" formControlName="Document" id="customFile" (change)="onFileSelected($event)">
                  <button type="button" (click)="onUploadFile()">UploadFile</button>
                </div>
              </div>
              <div class="form-row ">
                <div class="col-md-6 mt-3 px-3">
                  <label for="inputIsFixedPayemnt" class="h6">Is Fixed Payment?</label>
                  <div class="custom-control custom-radio custom-control-inline ml-4">
                    <input type="radio" class="custom-control-input" id="inputIsFixedPayemnt1" value="true"
                      name="IsFixedPayment" formControlName="IsFixedPayment" [checked]="true">
                    <label class="custom-control-label" for="inputIsFixedPayemnt1">Yes</label>
                  </div>
                  <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" class="custom-control-input" id="inputIsFixedPayemnt2" value="false"
                      name="IsFixedPayment" formControlName="IsFixedPayment">
                    <label class="custom-control-label" for="inputIsFixedPayemnt2">No</label>
                  </div>


                </div>
              </div>

              <div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--Sixth row End-->
      <div class="row">
        <div class="col-md-12 border-bottom mx-3 ">
          <h4 class=" font-weight-medium  px-3 my-3">Previous Company Details :</h4>

          <div class="form-row  ">
            <div class="col-md-4 px-3">
              <input type="text" class="form-control" id="PreviousWorkName" formControlName="PreviousWorkName"
                placeholder="Company Name"  [ngClass]="{ 'is-invalid': submitted && f.PreviousWorkName.errors }">
                <div *ngIf="submitted && f.PreviousWorkName.errors" class="invalid-feedback">
                    <div *ngIf="f.PreviousWorkName.errors.required"> Please provide a valid STD Code.</div>
                  </div>
              </div>

            <div class="col-md-4 px-3">
              <!-- <input type="text" class="form-control" id="PreviousExperience" formControlName="PreviousExperience"
                placeholder="Work Experience (Year)"> -->
                <label for="PreviousExperience"> Candidates Work Experience is {{PreviousExperience}} Years.</label>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12 pb-4 px-4 ">
              <div class="form-row">
                <div class="form-group col-md-3 mt-3 px-3">
                  <!-- <label class="col-md-6 control-label">Date Of Birth</label> -->
                  <input type="text" id="DateOfJoining" placeholder="DateOfJoining"  onfocus="(this.type='date')" onblur="(this.type='text')" id="DateOfJoining" class="form-control" formControlName="DateOfJoining"
                    placeholder="Joining Date" [ngClass]="{ 'is-invalid': submitted && f.DateOfJoining.errors }">
                  <div *ngIf="submitted && f.DateOfJoining.errors" class="invalid-feedback">
                    <div *ngIf="f.DateOfJoining.errors.required"> Please provide a valid Date.</div>
                  </div>
                </div>

                <div class="form-group col-md-3 mt-3 px-3">
                  <!-- <label class="col-md-6 control-label">Date Of Birth</label> -->
                  <input type="text" id="DateOfLeaving" placeholder="DateOfLeaving" onblur="(this.type='text')" onfocus="(this.type='date')"  id="DateOfLeaving" class="form-control" formControlName="DateOfLeaving"
                    placeholder="Leaving Date" [ngClass]="{ 'is-invalid': submitted && f.DateOfLeaving.errors }" (change)="calculateWorkExperience(f.DateOfJoining.value,f.DateOfLeaving.value)">
                  <div *ngIf="submitted && f.DateOfLeaving.errors" class="invalid-feedback">
                    <div *ngIf="f.DateOfLeaving.errors.required"> Please provide a valid Date.</div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="row justify-content-end text-right">
        <div class="col-md-3 pb-4  mt-5">
          <div class="form-row">
            <button class="btn btn-info btn-lg py-1 pr-3 rounded-0 f-20  " type="submit">Submit</button>
            <a routerLink="/StaffList" class="btn btn-dark text-light btn-lg py-1 pl-3 rounded-0 f-20 ml-4 mr-0">      
                Cancel</a>
            

          </div>
        </div>
      </div> -->
      <div class="modal-footer">
          <button class="btn btn-info btn-lg py-1 pr-3 rounded-0 f-20  " type="submit">Submit</button>
          <a routerLink="/StaffList" class="btn btn-dark text-light btn-lg py-1 pl-3 rounded-0 f-20 ml-4 mr-0">      
            Cancel</a>
        </div>

    </form>
  </div>

</div>
</div>
 <ng-template #courseTemplate>
  <form [formGroup]="courseForm" (ngSubmit)="onAddCourses(staffLoginTemplate)">
    <div class="modal-header">
      <h4 class=" h1 modal-title pull-left">Teacher Course Details</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <div class="row shadow my-3 mx-3">
            <div class="col-md-12 ">
              <h4 class=" font-weight-medium  py-4 px-3">Course Type :</h4>
  
              <div class="row">
                <div class="col-md-12 pb-4 px-4">
                  <div class="form-row">
  
                    <div class="form-group col-md-4 px-3">
                        <select id="CourseType" class="form-control" [value]="null" formControlName="CourseType"
                        (change)="selectCourseType($event)" [ngClass]="{ 'is-invalid': submitted && cf.CourseType.errors }">
                        <option [value]="null">Course Type</option>
                        <option *ngFor="let courseType of  CourseTypeList"
                          [value]="courseType.CourseTypeId">
                          {{courseType.CourseTypeName}}
                        </option>
                      </select>
                      <div *ngIf="submitted && cf.CourseType.errors" class="invalid-feedback">
                          <div *ngIf="cf.CourseType.errors.required"> Please provide a valid Date.</div>
                        </div>
                    </div>

                    
                    <div class="form-group col-md-4 px-3">
                        <select id="CourseName" class="form-control" [value]="null" formControlName="CourseName"
                        (change)="selectCourseName($event); getSalaryFromCourseName($event)" [ngClass]="{ 'is-invalid': submitted && cf.CourseName.errors }">
                        <option [value]="null">CourseName</option>
                        <option *ngFor="let courselist of courseNameList"
                          [value]="courselist.CourseId">
                          {{courselist.CourseName}}</option>
                      </select>
                      <div *ngIf="submitted && cf.CourseName.errors" class="invalid-feedback">
                          <div *ngIf="cf.CourseName.errors.required"> Please provide a valid Date.</div>
                        </div>
                    </div>
  
  
  
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-3 mt-3 px-3">
                        
                        <div class="form-group col-md-4" *ngIf="!IsFixedPayment;then  thenBlock else elseBlock">    
                          </div>        
                              <ng-template #thenBlock>
                                 <div *ngFor="let s of Salary"> 
                                   <input  type="text" id="Salary" class="form-control" formControlName="Salary" placeholder="Salary" [ngClass]="{ 'is-invalid': submitted && cf.Salary.errors }">
                                     <!-- <label id="Salary" class="form-control" formControlName="Salary">{{s.Fees}}</label> -->
                                 </div>
                              </ng-template>
                             
                          <ng-template #elseBlock>
                              <input  type="text" id="Salary" class="form-control" formControlName="Salary" [ngClass]="{ 'is-invalid': submitted && cf.Salary.errors }">
                             </ng-template>

                             <div *ngIf="submitted && cf.Salary.errors" class="invalid-feedback">
                                <div *ngIf="cf.Salary.errors.required"> Please provide a Salary.</div>
                              </div>

                      
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
    </div>
    <div class="modal-footer">
      <!-- <button type="submit" id="submitCourse" class="btn btn-primary">Save</button>
      <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="modalRef.hide()">Close</button> -->
      <button class="btn btn-info btn-lg py-1 pr-3 rounded-0 f-20" id="submitCourse" type="submit">Submit</button>
          <button class="btn btn-dark text-light btn-lg py-1 pl-3 rounded-0 f-20 ml-4 mr-0" type="button" data-dismiss="modal"
            (click)="modalRef.hide()">Cancel</button>
    </div>
  </form>
</ng-template>


<ng-template #staffLoginTemplate>
  <div data-keyboard="false" data-backdrop="static" aria-hidden="true">
    <form [formGroup]="staffLoginForm" (ngSubmit)="onStaffLogin()">
      <div class="modal-header">
        <h4 class=" h1 modal-title pull-left">Create Password</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table>
          <!-- <tr>
            <td colspan="1">
              <div class="form-group">
                <div class="form-row">
                  <div class="form-group col-md-4">
                    <label for="fullName">Full Name</label>
                  </div>
                  <div class="form-group col-md-4">
                    <input type="text" class="form-control" placeholder="First name" formControlName="FirstName"
                      [ngClass]="{ 'is-invalid': submitted && login.FirstName.errors }">
                    <div *ngIf="submitted && login.FirstName.errors" class="invalid-feedback">
                      <div *ngIf="login.FirstName.errors.required">First Name is required</div>
                    </div>
                  </div>
                  <div class="form-group col-md-4">
                    <input type="text" class="form-control" placeholder="Last name" formControlName="LastName"
                      [ngClass]="{ 'is-invalid': submitted && login.LastName.errors }">
                    <div *ngIf="submitted && login.LastName.errors" class="invalid-feedback">
                      <div *ngIf="login.LastName.errors.required">Last Name is required</div>
                    </div>
                  </div>
                </div>
              </div>
            </td>
          </tr> -->
          <!-- <tr>
            <td colspan="1">
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="Email">Email ID</label>
                </div>
                <div class="form-group col-md-6">
                  <input type="text" class="form-control" placeholder="Email" formControlName="Email"
                    [ngClass]="{ 'is-invalid': submitted && login.Email.errors }">
                  <div *ngIf="submitted && login.Email.errors" class="invalid-feedback">
                    <div *ngIf="login.Email.errors.required"></div>
                  </div>
                </div>
              </div>
            </td>
          </tr> -->
          <!-- <tr>
            <td colspan="1">
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="Role">Role</label>
                </div>
                <div class="form-group col-md-6">
                  <select class="form-control" formControlName="Role"
                    [ngClass]="{ 'is-invalid': submitted && login.Role.errors }" (change)="selectRole($event)">
                    <option *ngFor="let rolelist of roles" [value]="rolelist.roleID">
                      {{rolelist.RoleName}} </option>
                  </select>
                  <div *ngIf="submitted && login.Role.errors" class="invalid-feedback">
                    <div *ngIf="login.Role.errors.required"></div>
                  </div>
                </div>
              </div>
            </td>
          </tr> -->
          <tr>
            <td colspan="1">
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="inputAddress2">Create Password</label>
                </div>
                <div class="form-group col-md-6">
                  <input type="password" class="form-control" id="CreatePassword" formControlName="Password"
                    [ngClass]="{ 'is-invalid': submitted && login.Password.errors }">
                </div>
                <div *ngIf="submitted && login.Password.errors" class="invalid-feedback">
                  <div *ngIf="login.Password.errors.required">Password is required</div>
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td colspan="1">
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="inputAddress2">Verify Password</label>
                </div>
                <div class="form-group col-md-6">
                  <input type="password" class="form-control" id="VerifyPassword" formControlName="VerifyPassword"
                    [ngClass]="{ 'is-invalid': submitted && login.VerifyPassword.errors }">
                </div>
                <div class="form-group col-md-6">
                  <div *ngIf="submitted && login.VerifyPassword.errors" class="invalid-feedback">
                    <div *ngIf="login.VerifyPassword.errors.required">Confirm Password required</div>
                    <div *ngIf="login.VerifyPassword.errors.mismatch">Password not matched</div>
                  </div>
                </div>
              </div>
            </td>
          </tr>
        </table>
      </div>
      <div class="modal-footer">


          <button class="btn btn-info btn-lg py-1 pr-3 rounded-0 f-20" id="submitLogin" type="submit">Submit</button>
          <button class="btn btn-dark text-light btn-lg py-1 pl-3 rounded-0 f-20 ml-4 mr-0" type="button"
            (click)="modalRef.hide()">Cancel</button>
        <!-- <button type="button" type="submit" id="submitLogin" class="btn btn-primary">Save</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="modalRef.hide()">Close</button> -->
      </div>
    </form>
  </div>
</ng-template> 