<!-- Breadcrumb-->
    <ol class="breadcrumb">
          <div class="flex-1 d-inline-flex">
         <li class="breadcrumb-item align-self-center"><a routerLink="/institute" >Home</a></li>
         <li class="breadcrumb-item align-self-center">Role</li>
         </div>
         <div class="d-none d-md-block d-lg-none d-xl-block flex-1">
            <li class="h5 pt-2">Manage Role Information</li>    
          </div>
         <!-- Breadcrumb Menu-->
         <li class="breadcrumb-menu d-md-down-none flex-1 justify-content-end text-right">
           <div class="btn-group" role="group" aria-label="Button group">
             
                   <div class="input-group">
                       <span class="input-group-prepend">
                       <button class="btn btn-primary btn-square" type="button">
                       <i class="fa fa-search text-white"></i></button>
                       </span>
                       <input type="text" placeholder="Search" class="form-control rounded-0" [(ngModel)]="filter"> 
                       </div>
   
               &nbsp;&nbsp;
            
           </div>
         </li>
    </ol>
   
   <div class="container-fluid">
     <div id="ui-view">
       <div class="card border-0 shadow rounded-0">
         <div class="card-body">
         <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover tbl">
           <thead>
             <tr>
                <th class="pl-2">Role Name</th>  
              
             </tr>
           </thead>
           <tbody>
              <tr *ngFor="let r of roles | filter:filter">
                  <td>{{r.RoleName}}</td>
                </tr>
           </tbody>
         </table>
         </div>
       </div>
     </div>
   </div>
