<app-authorised-top-nav></app-authorised-top-nav>

<div class="row">
  <div class="col-md-2">
    <app-authorised-side-nav></app-authorised-side-nav>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
          <h2 class="h1 font-weight-medium mb-3 mt-5">Add Student</h2>
        </div>
        </div>
        <form [formGroup]="registerForm" (ngSubmit)="openModal(template)">
            <div class="row">
                <div class="col-md-12 shadow my-3">
                  <h4 class=" font-weight-medium  py-4 px-3">Personal Info :</h4>
        
                  <div class="row">
                    <div class="col-md-12 pb-4 px-4">
                      <div class="form-row">
                        <!-- <div class="form-group col-md-1">
                  <label for="fullName">Name</label>
                </div> -->
                        <div class="form-group col-md-2 px-3">
                            <select id="inputGender" [value] ="null" class="form-control" formControlName="gender"
                            [ngClass]="{ 'is-invalid': submitted && f.gender.errors }">
                            <option value="null">Gender</option>
                            <option value="Male">MR.</option>
                            <option value="Female">Mrs.</option>
                            <option value="Female">Miss</option>
                          </select>
                          <div *ngIf="submitted && f.gender.errors" class="invalid-feedback">
                              <div *ngIf="f.gender.errors.required"></div>
                            </div>
                        </div>
                        <div class="form-group col-md-3 px-3">
                          <input type="text" class="form-control" placeholder="First Name" formControlName="firstName"
                            [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }">
                          <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                            <div *ngIf="f.firstName.errors.required">First Name is required</div>
                          </div>
                        </div>
        
                        <div class="form-group col-md-3 px-3">
                          <input type="text" class="form-control" placeholder="Middle Name" formControlName="middleName"
                            [ngClass]="{ 'is-invalid': submitted && f.middleName.errors }">
                          <div *ngIf="submitted && f.middleName.errors" class="invalid-feedback">
                            <div *ngIf="f.middleName.errors.required">Middle Name is required</div>
                          </div>
                        </div>
                        <div class="form-group col-md-3 px-3">
                          <input type="text" class="form-control" placeholder="Last Name" formControlName="lastName"
                            [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }">
                          <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                            <div *ngIf="f.lastName.errors.required">Last Name is required</div>
                          </div>
                        </div>
                      </div>
                      <div class="form-row">
                        <div class="form-group col-md-3 mt-3 px-3">
                          <!-- <label class="col-md-6 control-label">Date Of Birth</label> -->
                          <input type="text" id="birthDate" class="form-control" formControlName="dateOfBirth" placeholder="Date Of Birth"
                            [ngClass]="{ 'is-invalid': submitted && f.dateOfBirth.errors }">
                          <div *ngIf="submitted && f.dateOfBirth.errors" class="invalid-feedback">
                            <div *ngIf="f.dateOfBirth.errors.required"> Please provide a valid DOB.</div>
                          </div>
                        </div>
                        <div class="form-group col-md-3 mt-3 px-3">
                          <!-- <label for="BloodGroup">Blood Group</label> -->
                          <select id="inputBloodGroup" class="form-control" [value]="null" formControlName="bloodgroup"
                            [ngClass]="{ 'is-invalid': submitted && f.bloodgroup.errors }">
                            <option [value]="null">Blood Group</option>
                            <option>A+</option>
                            <option>B+</option>
                            <option>AB+</option>
                            <option>O+</option>
                            <option>A-</option>
                            <option>B-</option>
                            <option>O-</option>
                            <option>AB-</option>
                          </select>
                          <div *ngIf="submitted && f.BloodGroup.errors" class="invalid-feedback">
                            <div *ngIf="f.BloodGroup.errors.required"> Please provide a valid BloodGroup.</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- second Row start -->

              <div class="row">
                  <div class="col-md-12 shadow mt-3 ">
                    <h4 class=" font-weight-medium  py-4 px-3">Contact Info :</h4>
          
                    <div class="row">
                      <div class="col-md-12 pb-4 px-4">
                        <div class="form-row">
                          <div class="form-group col-md-3 px-3">
                              <input type="number" id="inputContactNo" class="form-control" formControlName="ContactNo"
                              [ngClass]="{ 'is-invalid': submitted && f.ContactNo.errors }" placeholder="Contact Number">
                              <div *ngIf="submitted && f.ContactNo.errors" class="invalid-feedback">
                                  <div *ngIf="f.ContactNo.errors.required">Contact Number is required</div>
                                  <div *ngIf="f.ContactNo.errors.invalidNumber">Contact No must be a valid number</div>
                                </div>
                          </div>
          
                          <div class="form-group col-md-4 px-3">
                              <input type="number" id="inputEmergencyContactNO" class="form-control"
                              formControlName="EmergencyContactNo"
                              [ngClass]="{ 'is-invalid': submitted && f.EmergencyContactNo.errors }"
                              placeholder="Emergency Contact Number">
                              <div *ngIf="submitted && f.EmergencyContactNo.errors" class="invalid-feedback">
                                  <div *ngIf="f.EmergencyContactNo.errors.required">Emergency Contact Number is required</div>
                                  <div *ngIf="f.EmergencyContactNo.errors.invalidNumber">Emergency Contact No must be a valid
                                    number
                                  </div>
                                </div>
                          </div>
                          <div class="form-group col-md-4 px-3">
                              <input type="email" class="form-control" id="inputEmail" formControlName="Email"
                              [ngClass]="{ 'is-invalid': submitted && f.Email.errors }" placeholder="Email ID">
                              <div *ngIf="submitted && f.Email.errors" class="invalid-feedback">
                                  <div *ngIf="f.Email.errors.required">Email is required</div>
                                  <div *ngIf="f.Email.errors.email">Email must be a valid email address</div>
                                </div>
                          </div>
                        </div>
                      </div>
                    </div>
          
                  </div>
                </div>
                <!--Second row End-->
                <div class="row">

                    <div class="col-md-12 shadow mt-3 ">
                      <h4 class=" font-weight-medium  py-4 px-3">Permanent Address :</h4>
            
                      <div class="row">
                        <div class="col-md-12 pb-4 px-4">
                          <div class="form-row">
                            <div class="form-group col-md-10 px-3">
                                <input type="text" class="form-control" id="PermanentAddress1" placeholder="Address"
                                formControlName="PAddress1" [ngClass]="{ 'is-invalid': submitted && f.PAddress1.errors }">
                                <div *ngIf="submitted && f.PAddress1.errors" class="invalid-feedback">
                                    <div *ngIf="f.PAddress1.errors.required">Address is required</div>
                                  </div>
                            </div>
                          </div>
                          <div class="form-row">
                            <div class="form-group col-md-4 px-3">
                                <select id="inputState" class="form-control" [value]="null" placeholder="State" formControlName="Pstate"
                                [ngClass]="{ 'is-invalid': submitted && f.Pstate.errors }">
                                <option value="null">Select State</option>
                                <option selected>Maharashtra</option>
                                <option>TamilNadu</option>
                              </select>
                              <div *ngIf="submitted && f.Pstate.errors" class="invalid-feedback">
                                  <div *ngIf="f.Pstate.errors.required">State is required</div>
                                </div>
                            </div>
                            <div class="form-group col-md-4 px-3">
                                <input type="text" class="form-control" id="inputPCity" placeholder="City" formControlName="Pcity"
                                value="Pune" [ngClass]="{ 'is-invalid': submitted && f.Pcity.errors }">
                                <div *ngIf="submitted && f.Pcity.errors" class="invalid-feedback">
                                    <div *ngIf="f.Pcity.errors.required">City is required</div>
                                  </div>
                            </div>
                            <div class="form-group col-md-4 px-3">
                                <input type="number" class="form-control" placeholder="ZipCode" formControlName="PzipCode"
                                id="inputZip" [ngClass]="{ 'is-invalid': submitted && f.PzipCode.errors }">
                                <div *ngIf="submitted && f.PzipCode.errors" class="invalid-feedback">
                                    <div *ngIf="f.PzipCode.errors.required">PinCode is required</div>

                              </div>
                            </div>
            
                          </div>
                        </div>
                      </div>
            
                    </div>
                  </div>
                  <!--Third Row End-->
                  <div class="row">

                      <div class="col-md-12 shadow mt-3">
                        <h4 class=" font-weight-medium  py-4 px-3">Current Address :</h4>
                        <div class="row">
                          <div class="form-group col-md-4 px-5">
                            <input class="form-check-input " type="checkbox" id="gridCheck1" (click)="checkAll($event)"
                             >
                            <label class="form-check-label" for="gridCheck1">
                              Same as above
                            </label>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-12 pb-4 px-4">
                            <div class="form-row">
                              <div class="form-group col-md-10 px-3">
                                  <input type="text" class="form-control" placeholder="Address" formControlName="Address1"
                                  [ngClass]="{ 'is-invalid': submitted && f.Address1.errors }">
                                  <div *ngIf="submitted && f.Address1.errors" class="invalid-feedback">
                                      <div *ngIf="f.Address1.errors.required">Address is required</div>
                                    </div>
                              </div>
                            </div>
                            <div class="form-row">
                              <div class="form-group col-md-4 px-3">
                                  <select id="inputState" class="form-control" [value]="null" formControlName="state"
                                  [ngClass]="{ 'is-invalid': submitted && f.state.errors }">
                                  <option value="null">Select State</option>
                                  <option value="Maharashtra">Maharashtra</option>
                                  <option value="Tamilnadu">Tamilnadu</option>
                                </select>
                                <div *ngIf="submitted && f.state.errors" class="invalid-feedback">
                                    <div *ngIf="f.state.errors.required">State is required</div>
                                  </div>
                              </div>
                              <div class="form-group col-md-4 px-3">
                                <input type="text" class="form-control" id="inputCity" formControlName="city" value="Pune"
                                  placeholder="city" [ngClass]="{ 'is-invalid': submitted && f.city.errors }">
                                <div *ngIf="submitted && f.city.errors" class="invalid-feedback">
                                  <div *ngIf="f.city.errors.required"> Please provide a valid city.</div>
                                </div>
                              </div>
                              <div class="form-group col-md-4 px-3">
                                  <input type="number" class="form-control" placeholder="ZipCode" class="form-control"
                                  formControlName="zipCode" [ngClass]="{ 'is-invalid': submitted && f.zipCode.errors }">
                                  <div *ngIf="submitted && f.zipCode.errors" class="invalid-feedback">
                                      <div *ngIf="f.zipCode.errors.required">Code is required</div>
                                    </div>
                              </div>
              
                            </div>
                          </div>
                        </div>
              
                      </div>
                    </div>
                    <!--Fourth row End-->
                    
                          
                          <div class="row">
                              <div class="col-md-12 shadow mt-3">
                                <h4 class=" font-weight-medium  py-4 px-3">Profile Details :</h4>
                      
                                <div class="row">
                                  <div class="col-md-12 pb-4 px-4">
                                    <div class="form-row">
                      
                                      <div class=" col-md-5 px-3">
                                        <div class="media">
                                            <img class="img-circle mr-3"  [src]=_DomSanitizationService.bypassSecurityTrustUrl(CreateNewStudentService.thumbnailUrl) width="80px" height="80px"
                                            >
                      
                                          <div class="media-body">
                                            <input type="file" (change)="onImageSelected($event)" id="Photo">
                      
                                            <input type="hidden" name="fileHidden" formControlName="Photo" />
                      
                                            <button type="button" class="mt-3" (click)="onUploadPhoto()">UploadPhoto</button>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="form-row mt-2">
                                      <div class="col-md-6 mt-4 px-3">
                                          <div class="form-check">
                                              <input type="checkbox" class="form-check-input" formControlName="IsDocumentSubmitted" [value]="true" name="IsDocumentSubmitted"
                                              (click)="showUpload()">
                                              
                                              <label class="form-check-label" for="IsDocumentSubmitted">Document Submitted? </label>
                                          </div>
                                        
                                        
                                        
                                      </div>
                                      <div class="col-md-6 px-3" *ngIf='shown'>
                                        <input type="file" formControlName="Document" id="customFile" (change)="onFileSelected($event)">
                                        <button type="button" (click)="onUploadFile()">UploadFile</button>
                                      </div>
                                    </div>
                                    <div class="form-row mt-2">
                                      <div class="col-md-6 mt-3 px-3">
                                          <div class="form-check">
                                              <input type="checkbox" class="form-check-input" id="materialUnchecked">
                                              <label class="form-check-label" for="PayingFeesNow">Paying Fees Now? </label>
                                          </div>
                                          
                                        
                                        
                      
                      
                                      </div>
                                    </div>
                      
                                    <div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <!--Sixth row End-->
                            <div class="row justify-content-end text-right">
                                <div class="col-md-3 pb-4  mt-5">
                                  <div class="form-row">
                                    <button class="btn btn-info btn-lg py-1 pr-3 rounded-0 f-20  " type="submit">Submit</button>
                                    <button class="btn btn-dark text-light btn-lg py-1 pl-3 rounded-0 f-20 ml-4 mr-0" type="button"
                                      (click)="modalRef.hide()">Cancel</button>
                                    <!-- <button class="btn btn-info btn-lg  py-1 px-3 rounded-0 f-20 ml-3" type="button" (click)="modalRef.hide()">Cancel</button> -->
                        
                                  </div>
                                </div>
                              </div>
        </form>
      </div>
<!--Register Student Course-->
  <ng-template #template>
    <!-- <div class="modal-header">
      <h4 class="modal-title pull-left">Paying Fees</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      Just a modal with a bunch of words inside, nothing serious.
    </div> -->
    <html>

    <body>
      <form [formGroup]="registerStudentCourse" (ngSubmit)="createStudentCourse()">
        <fieldset>
          <div  data-keyboard="false" data-backdrop="static" aria-hidden="true">
            <table>
              <tbody>


                <tr>
                  <td colspan="1">
                    <label for="StudentID">StudentID</label>
                    <div class="form-group">
                      <select class="form-control" formControlName="StudentID"
                        [ngClass]="{ 'is-invalid': submitStudentFees && g.StudentID.errors }"
                        (change)="selectStudentId($event)">
                        <option *ngFor="let student of getRecentStudent"
                          [value]=" student.StudentId">
                          {{student.StudentId}}
                        </option>
                      </select>
                      <div *ngIf="submitStudentFees && g.StudentID.errors" class="invalid-feedback">
                        <div *ngIf="g.StudentID.errors.required"></div>
                      </div>
                    </div>
                  </td>
                </tr>



                <!-- <tr>
                      <td colspan="1" *ngFor = "let student of CreateNewStudentService.listRecentStudent">
                         <label for="StudentID">StudentID</label>
                         <div class="form-group">
                             <input type="number" class="form-control" value="{{student.StudentId}}" formControlName="StudentID" [ngClass]="{ 'is-invalid': submitted && g.StudentID.errors }" (change)="selectStudentId($event)" >
                             <div *ngIf="submitted && g.StudentID.errors" class="invalid-feedback">
                              <div *ngIf="g.StudentID.errors.required"></div>
                          </div>
                           </div>
                      </td>
                    </tr> -->


                <!-- <tr>
                      <td colspan="1" *ngFor = "let student of CreateNewStudentService.listRecentStudent" [value]="student.StudentId">
                     <label for="StudentID">Student ID</label>
                         <div class="row">
                             <div class="col">
                               {{student.StudentId}}
                             </div>
                         </div>              
                  </td>
                </tr> -->



                <tr>
                  <td colspan="1">
                    <label for="CourseType">Course Type</label>
                    <div class="row">
                      <div class="col">
                        <select class="form-control" formControlName="CourseType"
                          [ngClass]="{ 'is-invalid': submitStudentFees && g.CourseType.errors }"
                          (change)="selectUser($event);getCourseNameFromCourseType()">
                          <option *ngFor="let course of courseTypeList"
                            [value]="course.CourseTypeId">
                            {{course.CourseTypeName}}
                          </option>
                        </select>
                        <div *ngIf="submitStudentFees && g.CourseType.errors" class="invalid-feedback">
                          <div *ngIf="g.CourseType.errors.required">Course Type is required</div>
                        </div>
                      </div>

                    </div>
                  </td>
                </tr>
                <tr>
                  <td colspan="1"><label for="CourseName">Course Name</label>
                    <div class="form-group">
                      <select class="form-control" formControlName="CourseName"
                        [ngClass]="{ 'is-invalid': submitStudentFees && g.CourseName.errors }"
                        (change)="selectFees($event);getCourseFeesFromCourseName()">
                        <option *ngFor="let course of courses" [value]="course.CourseId">
                          {{course.CourseName}}</option>

                      </select>
                      <div *ngIf="submitStudentFees && g.CourseName.errors" class="invalid-feedback">
                        <div *ngIf="g.CourseName.errors.required">Course Name is required</div>
                      </div>
                    </div>
                  </td>
                </tr>

                <tr>
                  <td colspan="1">
                    <label for="StudentID">Course Fees</label>
                    <div class="form-group">
                      <select class="form-control" formControlName="CourseFees"
                        [ngClass]="{ 'is-invalid': submitStudentFees && g.CourseFees.errors }"
                        (change)="selectCourseFees($event)">
                        <option *ngFor="let course of courseFees" [value]="course.Fees">
                          {{course.Fees}}
                        </option>
                      </select>
                      <div *ngIf="submitStudentFees && g.CourseFees.errors" class="invalid-feedback">
                        <div *ngIf="g.CourseFees.errors.required"></div>
                      </div>
                    </div>
                  </td>
                </tr>

                <tr>
                  <td colspan="1">
                    <label for="AnyDiscount">Any Discount in %?</label>
                    <div class="form-group">
                      <input type="number" class="form-control" id="Discount" formControlName="AnyDiscount"
                        [ngClass]="{ 'is-invalid': submitStudentFees && g.AnyDiscount.errors }" >
                      <div *ngIf="submitStudentFees && g.AnyDiscount.errors" class="invalid-feedback">
                        <div *ngIf="g.AnyDiscount.errors.required">Any Discount in % is required</div>
                      </div>
                    </div>
                  </td>
                </tr>


                <tr>
                  <td colspan="1">
                    <div>

                      <div class="form-row">
                        <button type="button" name="button2id" class="btn btn-success" id="CalculateNewFees"
                          (click)="calculateDiscountedAmount()">Calculate Discounted Amount</button>
                        &nbsp;

                      </div>
                    </div>
                  </td>
                </tr>



                <tr>
                  <td colspan="1">
                    <label for="DiscountedAmount">New Discounted Amount</label>
                    <div class="form-group">
                      <input type="number" class="form-control" id="DiscountedAmount"
                        formControlName="NewDiscountedAmount"
                        [ngClass]="{ 'is-invalid': submitStudentFees && g.NewDiscountedAmount.errors }" disabled>
                      <div *ngIf="submitStudentFees && g.NewDiscountedAmount.errors" class="invalid-feedback">
                        <div *ngIf="g.NewDiscountedAmount.errors.required">New Discounted Amount is required</div>
                      </div>
                    </div>
                  </td>
                </tr>

                <tr>
                  <td colspan="1">
                    <label for="FeesAmount">Fees Amount Paying?</label>
                    <div class="form-group">
                      <input type="number" class="form-control" id="FeesAmount" formControlName="FeesAmount"
                        [ngClass]="{ 'is-invalid': submitStudentFees && g.FeesAmount.errors }">
                      <div *ngIf="submitStudentFees && g.FeesAmount.errors" class="invalid-feedback">
                        <div *ngIf="g.FeesAmount.errors.required">Fees Amount is required</div>
                      </div>
                    </div>
                  </td>
                </tr>


                <tr>
                  <td colspan="1">
                    <label for="DateofPayment">Date of Payment</label>
                    <div class="form-group">
                      <input type="date" id="DateofPayment" class="form-control" placeholder="Date of Payment"
                        formControlName="DateofPayment"
                        [ngClass]="{ 'is-invalid': submitStudentFees && g.DateofPayment.errors }">
                      <div *ngIf="submitStudentFees && g.DateofPayment.errors" class="invalid-feedback">
                        <div *ngIf="g.DateofPayment.errors.required">Date of Payment is required</div>
                      </div>
                    </div>
                  </td>
                </tr>

                <tr>
                  <td colspan="1">
                    <label for="Remark">Remark</label>
                    <div class="form-group">
                      <input type="text" class="form-control" id="Remark" formControlName="Remark"
                        [ngClass]="{ 'is-invalid': submitStudentFees && g.Remark.errors }">
                      <div *ngIf="submitStudentFees && g.Remark.errors" class="invalid-feedback">
                        <div *ngIf="g.Remark.errors.required">Remark is required</div>
                      </div>
                    </div>
                  </td>
                </tr>

                <tr>
                  <td colspan="1"><label for="FeesTakenby">Fees Taken By</label>
                    <div class="form-group">
                      <select class="form-control" formControlName="FeesTakenBy"
                        [ngClass]="{ 'is-invalid': submitStudentFees && g.FeesTakenBy.errors }">
                        <option *ngFor="let user of users" [value]="user.Id">
                          {{user.FirstName}} {{user.LastName}}
                        </option>

                      </select>
                      <div *ngIf="submitStudentFees && g.FeesTakenBy.errors" class="invalid-feedback">
                        <div *ngIf="g.FeesTakenBy.errors.required">Fees Taken by is required</div>
                      </div>
                    </div>
                  </td>
                </tr>

                <!-- Button (Double) -->
                <tr>
                  <td colspan="1">
                    <div class="form-group">

                      <div class="form-row">
                        <button name="button1id" type="submit" class="btn btn-success" id="SubmitFees">Save</button>
                        &nbsp;
                        <!-- <button name="button2id" class="btn btn-danger" id="CancelFees" (click)="modalRef.hide(template)">Cancel</button> -->
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </fieldset>
      </form>
    </body>

    </html>
  </ng-template>


  <!-- <ng-template #template2>
    <html>

    <body>
      <form [formGroup]="registerStudentLogin" (ngSubmit)="onSubmitStudentLogin()">
        <fieldset>
          <div data-keyboard="false" data-backdrop="static" aria-hidden="true">
            <table>
              <tbody>

                <tr>
                  <td colspan="1" *ngFor="let student of CreateNewStudentService.listRecentStudent">
                    <label for="fullName">Full Name</label>
                    <div class="row">

                      <div class="col">
                        <select class="form-control" formControlName="FirstName"
                          [ngClass]="{ 'is-invalid': submitStudentLogin && e.FirstName.errors }"
                          (change)="selectStudentFirstName($event)">
                          <option *ngFor="let student of CreateNewStudentService.listRecentStudent"
                            [value]="student.FirstName">
                            {{student.FirstName}}
                          </option>
                        </select>
                        <div *ngIf="submitStudentLogin && e.FirstName.errors" class="invalid-feedback">
                          <div *ngIf="e.FirstName.errors.required"></div>
                        </div>
                      </div>


                      <div class="col">
                        <select class="form-control" formControlName="Lastname"
                          [ngClass]="{ 'is-invalid': submitStudentLogin && e.Lastname.errors }"
                          (change)="selectStudentLastName($event)">
                          <option *ngFor="let student of CreateNewStudentService.listRecentStudent"
                            [value]="student.LastName">
                            {{student.LastName}}
                          </option>
                        </select>
                        <div *ngIf="submitStudentLogin && e.Lastname.errors" class="invalid-feedback">
                          <div *ngIf="e.Lastname.errors.required"></div>
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>


                <tr>
                  <td colspan="1" *ngFor="let student of CreateNewStudentService.listRecentStudent">
                    <label for="EmailID">Email ID</label>
                    <div class="form-group">
                      <select class="form-control" formControlName="EMailId"
                        [ngClass]="{ 'is-invalid': submitStudentLogin && e.EMailId.errors }"
                        (change)="selectStudentEmail($event)">
                        <option *ngFor="let student of CreateNewStudentService.listRecentStudent"
                          [value]="student.EmailId">
                          {{student.EmailId}}
                        </option>
                      </select>
                      <div *ngIf="submitStudentLogin && e.EMailId.errors" class="invalid-feedback">
                        <div *ngIf="e.EMailId.errors.required"></div>
                      </div>
                    </div>
                  </td>
                </tr>

                <tr>
                  <td colspan="1">
                    <label for="Role">Role</label>
                    <div class="form-group">
                      <select class="form-control" formControlName="Role"
                        [ngClass]="{ 'is-invalid': submitStudentLogin && e.Role.errors }" (change)="selectRole($event)">
                        <option *ngFor="let roles of CreateNewStudentService.listRoles" [value]="roles.roleID">
                          {{roles.RoleName}}
                        </option>
                      </select>
                      <div *ngIf="submitStudentLogin && e.Role.errors" class="invalid-feedback">
                        <div *ngIf="e.Role.errors.required"></div>
                      </div>
                    </div>
                  </td>
                </tr>

                <tr>
                  <td colspan="1">
                    <label for="inputAddress2">Create Password</label>
                    <div class="form-group">
                      <input type="password" class="form-control" id="CreatePassword" formControlName="Password"
                        [ngClass]="{ 'is-invalid': submitStudentLogin && e.Password.errors }">
                    </div>
                    <div *ngIf="submitStudentLogin && e.Password.errors" class="invalid-feedback">
                      <div *ngIf="e.Password.errors.required">Password is required</div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td colspan="1">
                    <label for="inputAddress2">Verify Password</label>
                    <div class="form-group">
                      <input type="password" class="form-control" id="VerifyPassword" formControlName="VerifyPassword"
                        [ngClass]="{ 'is-invalid': submitStudentLogin && e.VerifyPassword.errors }">
                    </div>
                    <div *ngIf="submitStudentLogin && e.VerifyPassword.errors" class="invalid-feedback">
                      <div *ngIf="e.VerifyPassword.errors.required">Confirm Password required</div>
                      <div *ngIf="e.VerifyPassword.errors.mismatch">Password not matched</div>

                    </div>
                  </td>
                </tr>


                <tr>
                  <td colspan="1"><label for="Created By">Created By</label>
                    <div class="form-group">
                      <select class="form-control" formControlName="CreatedBy"
                        [ngClass]="{ 'is-invalid': submitStudentLogin && e.CreatedBy.errors }">
                        <option *ngFor="let user of CreateNewStudentService.listUsers" [value]="user.Id">
                          {{user.FirstName}} {{user.LastName}}
                        </option>

                      </select>
                      <div *ngIf="submitStudentLogin && e.CreatedBy.errors" class="invalid-feedback">
                        <div *ngIf="e.CreatedBy.errors.required">Fees Taken by is required</div>
                      </div>
                    </div>
                  </td>
                </tr>


                <tr>
                  <td colspan="1">
                    <div class="form-group">
                      <div class="col-md-12">
                        <button name="button1id" class="btn btn-success" id="CreateStudent"
                          (click)="createStudentLogin()">Save</button>
                        &nbsp;
                        <button name="button2id" class="btn btn-danger" id="CancelStudent"
                          (click)="modalRef.hide()">Cancel</button>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </fieldset>
      </form>
    </body>

    </html>
  </ng-template> -->