<html>
<head>
</head>
<body>
  <form>
    <h3>Expenses</h3>
    
<div>
        <button type="button" class="btn btn-primary" id="btnAddNewExpense" (click)="AddNewExpense(addExpense)">AddNewExpense</button>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>No</th>
                <th>Expense Type</th> 
                <th>Date</th>
                <th>Paid By Whom</th>
                <th>Amount Paid</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let e of expenses">
                <td>{{e.ExpenseId}}</td>
                <td>{{e.ExpenseType}}</td> 
                <td>{{e.Date}}</td>
                <td>{{e.PaidByWhom}}</td>
                <td>{{e.Paid}}</td>
                <td class="text-center">
                        <!-- <a [routerLink]="['/employee/edit/', emp.employeeId]">Edit</a> | -->
                         <button type="btn" class="btn btn-primary" (click)="Edit(editExpense,e.Id,e.ExpenseId,e.ExpenseType,e.Date,e.PaidByWhom,e.Paid,e.Comment)"><span class="glyphicon glyphicon-edit"></span> Edit</button> 
                </td>
                 <td> 
                     <button type="btn" class="btn btn-primary" (click)="Delete(e.ExpenseId)"><span class="glyphicon glyphicon-remove"></span> Del</button>
                </td>
            </tr>  
        </tbody>
    </table>
</div> 
</div> 
</form>
<ng-template #editExpense>
    <div [hidden]="IsmodelShow">
    <div class="modal-header">
        <h4 class="modal-title pull-left">Update Expense</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <form [formGroup]="editExpenseForm" (ngSubmit)="onSubmit()" >
        <table class="table">
            <tr>
              <td colspan="1">
                 <div class="form-row"> 
                 <div class="form-group col-md-6">
                     <label class="col-md-6 control-label">ExpenseType</label> 
                 </div>
                 <div class="form-group col-md-6">
                     <input type="text" class="form-control" id="expenseType"  formControlName="expenseType" placeholder="Expense Type" [ngClass]="{'is-invalid': submitted && f.expenseType.errors }">  
                    </div>
                    <div *ngIf="submitted && f.expenseType.errors">
                        <div *ngIf="f.expenseType.errors.required">ExpenseType is required</div>
                      </div>
              </div>
             </td>
            </tr>
            <tr>
             <td colspan="1">
                <div class="form-row"> 
                <div class="form-group col-md-6">
                    <label class="col-md-6 control-label">AmountPaid</label> 
                </div>
                <div class="form-group col-md-6">
                    <input type="text" class="form-control" id="AmountPaid" formControlName="AmountPaid" placeholder="Amount Paid" [ngClass]="{'is-invalid': submitted && f.AmountPaid.errors} ">  
             </div>
             <div *ngIf="submitted && f.AmountPaid.errors">
                <div *ngIf="f.AmountPaid.errors.required">AmountPaid is required</div>
              </div>
             </div>
            </td>
           </tr>
           <tr>
             <td colspan="1">
                <div class="form-row"> 
                <div class="form-group col-md-6">
                    <label class="col-md-6 control-label">Date</label> 
                </div>
                <div class="form-group col-md-6">
                    <input type="date" class="form-control" id="Date" formControlName="Date" [ngClass]="{'is-invalid': submitted && f.Date.errors }">  
             </div>
             <div *ngIf="submitted && f.Date.errors">
                <div *ngIf="f.Date.errors.required">Date is required</div>
              </div>
             </div>
            </td>
           </tr>
           <tr>
             <td colspan="1">
                <div class="form-row"> 
                <div class="form-group col-md-6">
                    <label class="col-md-6 control-label">PaidByWhom</label> 
                </div>
                <div class="form-group col-md-6">
                    <!-- <input type="text" class="form-control" id="PaidByWhom" formControlName="PaidByWhom" [ngClass]="{'is-invalid': submitted && f.PaidByWhom.errors} ">   -->
                    <select name="PaidByWhom" class="form-control" formControlName="PaidByWhom"  (change)="selectUser($event)" [ngClass]="{'is-invalid': submitted && f.PaidByWhom.errors} ">  
                            <option *ngFor="let user of ExpenseService.listUser" [value]="user.Id">  
                                {{user.FirstName+' '+user.LastName}}   
                            </option>  
                        </select> 
             </div>
             <div *ngIf="submitted && f.PaidByWhom.errors">
                <div *ngIf="f.PaidByWhom.errors.required">Paid By Whom is required</div>
              </div>
             </div>
            </td>
           </tr>
           <tr>
             <td colspan="1">
                <div class="form-row"> 
                <div class="form-group col-md-6">
                    <label class="col-md-6 control-label">Remark</label> 
                </div>
                <div class="form-group col-md-6">
                    <input type="text" class="form-control" id="Remark" formControlName="Remark" [ngClass]="{'is-invalid': submitted && f.Remark.errors} ">   
             </div>
             <div *ngIf="submitted && f.Remark.errors">
                <div *ngIf="f.Remark.errors.required">Remark is required</div>
              </div>
             </div>
            </td>
           </tr>
           </table>
        </form>
       <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click)="Update()">Save</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
    </ng-template>

    <ng-template #addExpense>
        <div class="modal-header">
            <h4 class="modal-title pull-left">Add Expense</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <form [formGroup]="expenseForm" (ngSubmit)="onSubmit()" >
            <table class="table">
                <tr>
                  <td colspan="1">
                     <div class="form-row"> 
                     <div class="form-group col-md-6">
                         <label class="col-md-6 control-label">ExpenseType</label> 
                     </div>
                     <div class="form-group col-md-6">
                         <input type="text" class="form-control" id="inputExpenseType"  formControlName="inputExpenseType" placeholder="Expense Type" [ngClass]="{'is-invalid': submitted && f.inputExpenseType.errors }">  
                        </div>
                        <div *ngIf="submitted && f.inputExpenseType.errors">
                            <div *ngIf="f.inputExpenseType.errors.required">ExpenseType is required</div>
                          </div>
                  </div>
                 </td>
                </tr>
                <tr>
                 <td colspan="1">
                    <div class="form-row"> 
                    <div class="form-group col-md-6">
                        <label class="col-md-6 control-label">AmountPaid</label> 
                    </div>
                    <div class="form-group col-md-6">
                        <input type="text" class="form-control" id="inputAmountPaid" formControlName="inputAmountPaid" placeholder="Amount Paid" [ngClass]="{'is-invalid': submitted && f.inputAmountPaid.errors} ">  
                 </div>
                 <div *ngIf="submitted && f.inputAmountPaid.errors">
                    <div *ngIf="f.inputAmountPaid.errors.required">AmountPaid is required</div>
                  </div>
                 </div>
                </td>
               </tr>
               <tr>
                 <td colspan="1">
                    <div class="form-row"> 
                    <div class="form-group col-md-6">
                        <label class="col-md-6 control-label">Date</label> 
                    </div>
                    <div class="form-group col-md-6">
                        <input type="date" class="form-control" id="inputDate" formControlName="inputDate" [ngClass]="{'is-invalid': submitted && f.inputDate.errors }">  
                 </div>
                 <div *ngIf="submitted && f.inputDate.errors">
                    <div *ngIf="f.inputDate.errors.required">Date is required</div>
                  </div>
                 </div>
                </td>
               </tr>
               <tr>
                 <td colspan="1">
                    <div class="form-row"> 
                    <div class="form-group col-md-6">
                        <label class="col-md-6 control-label">PaidByWhom</label> 
                    </div>
                    <div class="form-group col-md-6">
                       <!-- <input type="text" class="form-control" id="PaidByWhom" formControlName="PaidByWhom" [ngClass]="{'is-invalid': submitted && f.PaidByWhom.errors} ">   -->
                    <select name="PaidByWhom" class="form-control" formControlName="PaidByWhom" (change)="selectUser($event)"
                    [ngClass]="{'is-invalid': submitted && f.PaidByWhom.errors} ">   
                            <option *ngFor="let user of ExpenseService.listUser" [value]="user.Id">  
                                {{user.FirstName+' '+user.LastName}}   
                            </option>  
                        </select> 
                 </div>
                 <div *ngIf="submitted && f.inputPaidByWhom.errors">
                    <div *ngIf="f.inputPaidByWhom.errors.required">Paid By Whom is required</div>
                  </div>
                 </div>
                </td>
               </tr>
               <tr>
                 <td colspan="1">
                    <div class="form-row"> 
                    <div class="form-group col-md-6">
                        <label class="col-md-6 control-label">Remark</label> 
                    </div>
                    <div class="form-group col-md-6">
                        <input type="text" class="form-control" id="inputRemark" formControlName="inputRemark">   
                 </div>
                 <div *ngIf="submitted && f.inputRemark.errors">
                    <div *ngIf="f.inputRemark.errors.required">Remark is required</div>
                  </div>
                 </div>
                </td>
               </tr>
               </table>
            </form>
           <div class="modal-footer">
              <button type="button" class="btn btn-primary" (click)="Save()">Save</button>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </ng-template>
</body>
</html>