<!-- Add top navigation componant -->
<app-authorised-top-nav></app-authorised-top-nav>

<div class="row">
  <div class="col-md-2">
  <!-- Add left navigation componant -->
  <app-authorised-side-nav></app-authorised-side-nav>
</div>

<div class="col-md-10">
 <div class="row justify-content-center">

    <div class="col-md-12 col-12 col-sm-12 col-xs-12">
        <div class="box ml-n2 mt-2">

          <div class="row px-0">
            <div class="col-md-4 mt-2 ">
              <a routerLink="/Dashboard" class="ml-3 pt-1 text-dark" data-toggle="tooltip" data-placement="bottom" title="home">
                Home</a>&nbsp;
              <i class="fa fa-angle-double-right" aria-hidden="true"></i>
              <a class="ml-3 pt-1 text-dark" data-toggle="tooltip" data-placement="bottom"
                title="role">
                Role</a>&nbsp;
            </div>

              <div class="col-md-4">
                <input type="text"  placeholder="Search" [(ngModel)]="filter" class="  py-2 px-3 mt-1 border-0 rounded-0 shadow-sm">
            </div>

            <div class="col-md-4 px-4">
              <a class="btn btn-info font-weight-medium rounded-0 pull-right py-2 px-3 f-20 text-white" data-toggle="tooltip" data-placement="bottom"
              title="Add New Role" (click)="openModal(template)" >      
            Add  
            </a>&nbsp;
          </div>

          </div>

          <hr>
          <div class="row m-3 ">

            <!-- <div class="col-md-9 px-2 pt-2 py-1 justify-content-end text-right">
              <a routerLink="/role"
                class="btn btn-info font-weight-medium px-3 py-2 rounded-0 f-20 ml-1 pull-right" data-toggle="tooltip"
                data-placement="bottom" title="Create New" (click)="openModal(template)"
                data-toggle="tooltip" data-placement="bottom" title="Add Course Type" (click)="clearForm()">
                Add Role</a>&nbsp;
            </div> -->
          </div>
        </div>
      </div>






    <!-- <button type="submit" class="btn btn-primary"  style="float: right;"
    (click)="openModal(template)" data-target="#myupdate" data-toggle="modal"
    data-toggle="tooltip" data-placement="bottom" title="Add" (click)="clearForm()">Add Roles</button> -->
 </div>
  <!-- <table class="table table-bordered"> -->
    <div class="row">
      <div class="container col-md-12">
      <div class="shadow p-3 h-460" id="A">
      <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover tbl">
    <thead>
      <tr>
        <!-- <th>No</th> -->
        <th class="pl-2">Role Name</th>
        <!-- <th></th> -->
        
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let r of roles | filter:filter">
        <!-- <td>{{i+1}}</td> -->
        <td>{{r.RoleName}}</td>
        <!-- <td>{{r.IsActive}}</td> -->
        <!-- <td>
         
          <svg class="icon-red" (click)="Delete(r.roleID,r.RoleName)" data-toggle="tooltip"
                data-placement="bottom" title="Delete role" xmlns="http://www.w3.org/2000/svg" width="18"
                viewBox="0 0 24 24">
                <path
                  d="M3 6v18h18v-18h-18zm5 14c0 .552-.448 1-1 1s-1-.448-1-1v-10c0-.552.448-1 1-1s1 .448 1 1v10zm5 0c0 .552-.448 1-1 1s-1-.448-1-1v-10c0-.552.448-1 1-1s1 .448 1 1v10zm5 0c0 .552-.448 1-1 1s-1-.448-1-1v-10c0-.552.448-1 1-1s1 .448 1 1v10zm4-18v2h-20v-2h5.711c.9 0 1.631-1.099 1.631-2h5.315c0 .901.73 2 1.631 2h5.712z" />
              </svg>

        </td> -->
      </tr>
    </tbody>
  </table>
</div>
</div>
</div>

</div>

<ng-template #template>
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="modal-header">
      <h5 class="modal-title pull-left">Role</h5>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()" >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="form-group col-md-4">

                <label for="role" class="h6 mt-3">Role :</label>
              </div>
              <div class="form-group col-md-6">
                  <input type="text" class="form-control" formControlName="role"
                  [ngClass]="{ 'is-invalid': submitted && f.role.errors }" #RoleName  >
                  <div *ngIf="submitted && f.role.errors" class="invalid-feedback">
                      <div *ngIf="f.role.errors.required">Role Name is Required </div>
                    </div>
                    
      
      </div>
      </div>
      
    </div>
    <div class="modal-footer">
        <button class="btn btn-info btn-lg py-1 pr-3 rounded-0 f-20 " type="submit" (click)="CreateRole(RoleName.value)">Submit</button>
        <button class="btn btn-dark text-light btn-lg py-1 pl-3 rounded-0 f-20 ml-4 mr-0" type="button"
          (click)="modalRef.hide()">Cancel</button>
      </div>
  </form>
</ng-template>




