<!-- Add top navigation componant -->
<app-authorised-top-nav></app-authorised-top-nav>

<div class="app-body">
    <!-- Add left navigation componant -->
    <app-authorised-side-nav></app-authorised-side-nav>

    <main class="main">
  <!-- Breadcrumb-->
  <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/Dashboard" class="text-dark" data-toggle="tooltip" data-placement="bottom"
        title="home">
        Home</a></li>
      <li class="breadcrumb-item">Staff</li>
      
      <!-- Breadcrumb Menu-->
      <li class="breadcrumb-menu d-md-down-none">
        <div class="btn-group" role="group" aria-label="Button group">
          
            <button class="btn btn-primary" type="button">
                <i class="fa fa-search"></i></button>

            <input type="text" placeholder="Search" class="form-control" [(ngModel)]="filter">
            &nbsp;&nbsp;
            <a routerLink="/TeacherCourses" class="btn btn-info font-weight-medium px-3 py-2  rounded-0 f-20 ml-1 pull-right" data-toggle="tooltip" data-placement="bottom"
                title="Add Staff" > Add      
              </a>
        </div>
      </li>
    </ol>

          <!-- <div class="row mt-2">
            <div class="col-md-4 mt-2">
              <a routerLink="/Dashboard" class="ml-4  text-dark" data-toggle="tooltip" data-placement="bottom"
                title="home" >
                Home</a>&nbsp;
              <i class="fa fa-angle-double-right" aria-hidden="true" ></i>&nbsp;
              <a data-toggle="tooltip" data-placement="bottom"  class=" active"
              title="staff" >
              Staff</a>&nbsp;
              
            </div>
            <div class="col-md-4">
                <input type="text"  placeholder="Search" [(ngModel)]="filter" class="  py-2 px-3 mt-1 border-0 rounded-0 shadow-sm">
            </div>
            <div class="col-md-4 px-4">
                <a routerLink="/TeacherCourses" class="btn btn-info font-weight-medium px-3 py-2  rounded-0 f-20 ml-1 pull-right" data-toggle="tooltip" data-placement="bottom"
                title="Add Staff" > Add      
              </a>
              &nbsp;
            </div>
            
          </div> <hr> -->

          
          <div class="row my-4 px-3 pb-3">
              <div class="col-sm-4 col-md-4 col-xl-4 col-lg-4 mb-3" *ngFor="let t of staffMaster | filter:filter | paginate: { itemsPerPage: 6, currentPage: p }">
     
                
                  <div class="card">
                      <div class="card-header h5">{{t.FirstName+' '+t.LastName | titlecase}}
                        <div class="card-header-actions">
                          <a class="card-header-action btn-setting" (click)="getStaffDetails(showStaff,t)" title="Staff Details">
                            <i class="cui-info"></i>
                          </a>
                          <a class="card-header-action btn-minimize" (click)="edit(editStaff,t)" title="Edit Information">
                            <i class="cui-pencil"></i>
                          </a>
                          <a class="card-header-action btn-close" (click)="delete(t.StaffId,t.FirstName,t.LastName)" title="Delete Staff">
                            <i class="icon-close"></i>
                          </a>
                        </div>
                      </div>
                      <div class="collapse show" id="collapseExample">
                        <div class="card-body">
                            <div class="row border-bottom">
                            <div class="col-sm-3">
                                <img src="{{t.Photo}}" class="img-circle" width="80" height="80">
                              </div>
                              <div class="col-sm-9">
      
                                <div class="row ">
                                  <div class="col-sm-12  ">
                                    <p class="card-title"><i class="font-md cui-phone"></i> {{t.ContactNo}}</p>
                                  </div>
                                </div>
                                <div class="row">
                                  <div class="col-sm-12  ">
                                    <p class="card-title"><i class="font-md cui-envelope-closed"></i> {{t.Email}}</p>
                                  </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12  ">
                                      <p class="card-title"><i class="icon-book-open"></i> {{t.CourseName}}</p>
                                    </div>
                                  </div>
                                <!-- <div class="row">
                                    <div class="col-sm-12  ">
                                      <p class="card-title">{{s.EmailId}}</p>
                                    </div>
                                  </div> -->

                              </div>
                            </div>
                        </div>
                      </div>
                    </div>
           
                <!-- <div class="card shadow  pb-0 bg-white rounded-0" style="width: 22rem;">
                <div class="card-body  pb-0">
                  <div class="row border-bottom">
                    <div class="col-sm-3">
                      <img src="{{t.Photo}}" class="img-circle" width="80" height="80">
                    </div>
                    <div class="col-sm-9">
                      <div class="row ">
                        <div class="col-sm-12 ">
                            </a> 
                          <h5 class="card-title mb-1">{{t.FirstName+' '+t.LastName | titlecase}}</h5>
                        </div>
                      </div>
                      <div class="row ">
                        <div class="col-sm-12  ">
                          <p class="card-title mb-1">{{t.ContactNo}}</p>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-12  ">
                          <p class="card-title">{{t.Email}}</p>
                        </div>
                      </div>
                    </div>

                  </div>

                  <div class="row justify-content-center text-center mb-0 pb-0">
                    <div class="col-md-4 mt-3">

                        <div class="icon-sm" (click)="getStaffDetails(showStaff,t)"
                        data-toggle="tooltip" data-placement="bottom" title="View Staff">
                        <svg class="icon" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                          xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512"
                          style="enable-background:new 0 0 512 512;" xml:space="preserve" width="40px">
                          <g>
                            <g>
                              <path d="M508.177,245.995C503.607,240.897,393.682,121,256,121S8.394,240.897,3.823,245.995c-5.098,5.698-5.098,14.312,0,20.01
                             C8.394,271.103,118.32,391,256,391s247.606-119.897,252.177-124.995C513.274,260.307,513.274,251.693,508.177,245.995z M256,361
                             c-57.891,0-105-47.109-105-105s47.109-105,105-105s105,47.109,105,105S313.891,361,256,361z" />
                            </g>
                          </g>
                          <g>
                            <g>
                              <path
                                d="M271,226c0-15.09,7.491-28.365,18.887-36.53C279.661,184.235,268.255,181,256,181c-41.353,0-75,33.647-75,75
                             c0,41.353,33.647,75,75,75c37.024,0,67.668-27.034,73.722-62.358C299.516,278.367,271,255.522,271,226z" />
                            </g>
                          </g>
                        </svg>
                      </div>


                    </div>
                    <div class="col-md-4 mt-4">
                       
                      <div class="icon-sm" (click)="edit(editStaff,t)" data-toggle="tooltip"
                        data-placement="bottom" title="Edit Staff">
                        <svg class="icon" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                          xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 383.947 383.947"
                          style="enable-background:new 0 0 383.947 383.947;" xml:space="preserve" width="25px">
                          <g>
                            <g>
                              <g>
                                <polygon points="0,303.947 0,383.947 80,383.947 316.053,147.893 236.053,67.893 			" />
                                <path d="M377.707,56.053L327.893,6.24c-8.32-8.32-21.867-8.32-30.187,0l-39.04,39.04l80,80l39.04-39.04
            C386.027,77.92,386.027,64.373,377.707,56.053z" />
                              </g>
                            </g>
                          </g>
                        </svg>
                      </div>
                      &nbsp;
                    </div>
                    <div class="col-md-4 mt-4">

                      <div class="icon-sm" (click)="delete(t.StaffId,t.FirstName,t.LastName)" data-toggle="tooltip"
                        data-placement="bottom" title="Delete Staff">
                        <svg class="icon" xmlns="http://www.w3.org/2000/svg" width="25" height="30"
                          viewBox="0 0 24 24">
                          <path
                            d="M3 6v18h18v-18h-18zm5 14c0 .552-.448 1-1 1s-1-.448-1-1v-10c0-.552.448-1 1-1s1 .448 1 1v10zm5 0c0 .552-.448 1-1 1s-1-.448-1-1v-10c0-.552.448-1 1-1s1 .448 1 1v10zm5 0c0 .552-.448 1-1 1s-1-.448-1-1v-10c0-.552.448-1 1-1s1 .448 1 1v10zm4-18v2h-20v-2h5.711c.9 0 1.631-1.099 1.631-2h5.315c0 .901.73 2 1.631 2h5.712z" />
                        </svg>
                      </div>
                    </div>
                  </div>
                </div>
              </div> -->


            </div>
          </div>
          <p *ngIf="staffMaster && staffMaster.length==0">No records found.</p>
          <div class="row">
            <div class="col-md-12">
          <ul class="pagination" *ngIf="staffMaster && staffMaster.length>6">
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
          </ul>
        </div>
      </div>
      </main>
        </div>

  <ng-template #editStaff>
    <div data-keyboard="false" data-backdrop="static" aria-hidden="true">
      <form [formGroup]="staffForm" (ngSubmit)="onSubmitEditStaff()">
        <div class="modal-header">
          <h5 class=" modal-title pull-left ml-4">Update Staff</h5>
          <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row  mb-0">
            <div class="col-md-12 px-5 mb-0">
              <div class="form-row">
                <h5 class="mb-0">Personal Details </h5>
              </div>
              <div class="form-row mb-0">
                <div class="form-group  mb-0 col-md-1">
                  <label for="firstName" class="mt-3 h6 text-muted">Name :</label>
                </div>
                <div class="form-group  mb-0 col-md-2">
                  <input type="text" class="form-control border-0 mt-1" formControlName="FirstName"
                    [ngClass]="{'is-invalid': submitted && f.FirstName.errors} ">
                </div>
                <div *ngIf="submitted && f.FirstName.errors" class="invalid-feedback">
                  <div *ngIf="f.FirstName.errors.required">First Name is required</div>

                </div>
                <div class="form-group  mb-0 col-md-2">
                  <input type="text" class="form-control border-0" formControlName="MiddleName"
                    [ngClass]="{'is-invalid': submitted && f.MiddleName.errors} ">
                </div>
                <div *ngIf="submitted && f.MiddleName.errors" class="invalid-feedback">
                  <div *ngIf="f.MiddleName.errors.required">Middle Name is required</div>
                </div>
                <div class="form-group  mb-0 col-md-2">
                  <input type="text" class="form-control border-0" formControlName="LastName"
                    [ngClass]="{'is-invalid': submitted && f.LastName.errors} ">
                </div>
                <div *ngIf="submitted && f.LastName.errors" class="invalid-feedback">
                  <div *ngIf="f.LastName.errors.required">Last Name is required</div>
                </div>
              </div>
              <div class="form-row  mb-0">
                  <div class="form-group  mb-0 col-md-6 col-xl-6 col-sm-6 col-lg-6">
                     <div class="row">
                         <div class="col-md-2  mb-0">
                             <label class="control-label-col-sm-2 h6 mt-3 text-muted">Gender: </label> 
                           </div>
                       <div class="col-md-4 mt-3 radio  mb-0">
                       
                       <label><input type="radio" class="ml-3" name="Gender" formControlName="Gender" value="Male"
                                    ></label><span class="ml-5 h6 text-muted">Male</span>
                          </div>
                          <div class="col-md-4  mb-0 mt-3 radio px-0 mx-0 ml-n5  mb-0">
                           <label><input type="radio" class="ml-3" name="Gender" formControlName="Gender" value="Female"></label>
                                     <span class="ml-5 h6 text-muted">Female</span>
                       </div>
                       </div>
                     </div>
                 <div *ngIf="submitted && f.Gender.errors" class="invalid-feedback">
                   <div *ngIf="f.Gender.errors.required">Gender is required</div>
                 </div>
                
                 
                 <div class="form-group col-md-4  mb-0">
                     <label class="col-md-6 control-label" class="mt-3 h6  text-muted">Date Of Birth :</label>
                     <span> <input type="date" id="DOB" class="form-control border-0 mt-1" formControlName="DOB"
                     [ngClass]="{'is-invalid': submitted && f.DOB.errors} ">  </span>
                 </div>
                 <div *ngIf="submitted && f.DOB.errors" class="invalid-feedback">
                   <div *ngIf="f.DOB.errors.required">CoDateOfBirthntact No is required</div>
                 </div>
                </div>
                <div class="form-row  mb-0">
                 <div class="form-group col-md-3  mb-0">
                     <label for="BloodGroup" class="mt-3 h6 text-muted">Blood Group :</label>
                   <span> <select id="BloodGroup" class="form-control border-0 mt-1" formControlName="BloodGroup"
                     [ngClass]="{'is-invalid': submitted && f.BloodGroup.errors} ">
                     <option>A+</option>
                     <option>B+</option>
                     <option>AB+</option>
                     <option>O+</option>
                     <option>A-</option>
                     <option>B-</option>
                     <option>O-</option>
                     <option>AB-</option>
                   </select></span>
                 </div>
                 <div *ngIf="submitted && f.BloodGroup.errors" class="invalid-feedback">
                   <div *ngIf="f.BloodGroup.errors.required">BloodGroup No is required</div>
                 </div>
               </div>

            </div>
          </div>
          <hr>
          <!--First Edit End-->

          <div class="row">
            <div class="col-md-12 px-5  mb-0">
              <div class="form-row mb-0">
                <h5 class="mb-0">Contact Details </h5>
              </div>
              <div class="form-row mb-0">
                
                <div class="form-group col-md-4 mb-0">
                    <label class="mt-3 h6 text-muted">Contact No :</label>
                  <span> <input type="number" id="ContactNo" formControlName="ContactNo" placeholder="Contact No"
                    class="form-control border-0 mt-1" [ngClass]="{ 'is-invalid': submitted && f.ContactNo.errors }"></span>
                </div>
                <div *ngIf="submitted && f.ContactNo.errors" class="invalid-feedback">
                  <div *ngIf="f.ContactNo.errors.required">Contact No is required</div>
                </div>
               
                <div class="form-group col-md-4 mb-0">
                    <label class="mt-3 h6 text-muted">Emergency No :</label>
                  <span><input type="number" id="EmergencyNo" formControlName="EmergencyNo" placeholder="Emergency Contact No"
                    class="form-control border-0 mt-1" [ngClass]="{ 'is-invalid': submitted && f.EmergencyNo.errors }"></span>
                </div>

                <div *ngIf="submitted && f.EmergencyNo.errors" class="invalid-feedback">
                  <div *ngIf="f.EmergencyNo.errors.required">Emergency Contact No is required</div>
                </div>
              </div>
            </div>
          </div>
          <div class="row  mb-0">
            <div class="col-md-12 px-5">
              <div class="form-row mb-0">
                
                <div class="form-group col-md-6 mb-0">
                    <label class="mt-3 h6 text-muted">Email ID :</label>
                  <span> <input type="email" class="form-control border-0 mt-1" id="Email" formControlName="Email"
                    [ngClass]="{'is-invalid': submitted && f.Email.errors} "></span>
                </div>
                <div *ngIf="submitted && f.Email.errors">
                  <div *ngIf="f.Email.errors.required">Email is required</div>
                </div>
              </div>
            </div>
          </div>
          <hr>
          <!--Second Edit End-->

          <div class="row">
            <div class="col-md-12 px-5">
              <div class="form-row mb-0">
                <h5 class="mb-0">Permanent Address </h5>
              </div>
              <div class="form-row mb-0">
                
                <div class="form-group col-md-12 mb-0">
                    <label  for="inputPaddress" class="mt-3 h6 text-muted"> Address :</label>
                  <span> <input type="text" class="form-control border-0 mt-1" id="P_Address1" placeholder="Address 1"
                    formControlName="P_Address1" [ngClass]="{'is-invalid': submitted && f.P_Address1.errors} ">
                  </span>
                </div>
                <div *ngIf="submitted && f.P_Address1.errors">
                  <div *ngIf="f.P_Address1.errors.required">Address is required</div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12  mb-0  px-5">
              <div class="form-row mb-0">
                
                <div class="form-group mb-0 col-md-4">
                    <label class="mt-3 h6 text-muted">State:</label>
                  <span> <select id="P_State" class="form-control border-0 mt-1" formControlName="P_State"
                    [ngClass]="{'is-invalid': submitted && f.P_State.errors} ">
                    <option selected>Select State...</option>
                    <option>Maharashtra</option>
                  </select></span>
                </div>
                <div *ngIf="submitted && f.P_State.errors">
                  <div *ngIf="f.P_State.errors.required">State is required</div>
                </div>

                
                <div class="form-group mb-0 col-md-4">
                    <label class="mt-3 h6 text-muted">City:</label>
                  <span> <input type="text" class="form-control border-0 mt-1" id="P_City" formControlName="P_City"
                    [ngClass]="{'is-invalid': submitted && f.P_City.errors} "></span>
                </div>
                <div *ngIf="submitted && f.P_City.errors">
                  <div *ngIf="f.P_City.errors.required">City is required</div>
                </div>

                
                <div class="form-group mb-0 col-md-4">
                    <label class="mt-3 h6 text-muted">PinCode:</label>
                  <span> <input type="number" class="form-control border-0 mt-1" id="P_STDCode" formControlName="P_STDCode"
                    [ngClass]="{'is-invalid': submitted && f.P_STDCode.errors} "></span>
                </div>
                <div *ngIf="submitted && f.P_STDCode.errors">
                  <div *ngIf="f.P_STDCode.errors.required">PinCode is required</div>
                </div>
              </div>
            </div>
          </div>
          <hr>
          <!--Third Edit End-->

          <div class="row">
            <div class="col-md-12 px-5">
              <div class="form-row mb-0">
                <h5 class="mb-0">Current Address </h5>
              </div>
              <div class="form-row mb-0">
                
                <div class="form-group mb-0 col-md-12">
                    <label  for="inputPaddress" class="mt-3 h6 text-muted"> Address :</label>
                  <span><input type="text" class="form-control border-0 mt-1" id="Address1" placeholder="Address 1"
                    formControlName="Address1" [ngClass]="{ 'is-invalid': submitted && f.Address1.errors }">
                  </span></div>
                <div *ngIf="submitted && f.Address1.errors" class="invalid-feedback">
                  <div *ngIf="f.Address1.errors.required">Address is required</div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 mb-0 px-5">
              <div class="form-row">
                
                <div class="form-group mb-0 col-md-4">
                    <label class="mt-3 h6 text-muted">State:</label>
                  <span> <select id="State" class="form-control border-0 mt-1" formControlName="State"
                    [ngClass]="{ 'is-invalid': submitted && f.State.errors }">
                    <option>Maharashtra</option>
                  </select></span>
                </div>
                <div *ngIf="submitted && f.State.errors" class="invalid-feedback">
                  <div *ngIf="f.State.errors.required"> Please provide a valid state.</div>
                </div>

                
                <div class="form-group mb-0 col-md-4">
                    <label class="mt-3 h6 text-muted">City:</label>
                  <span> <input type="text" class="form-control border-0 mt-1" id="City" formControlName="City"
                    [ngClass]="{ 'is-invalid': submitted && f.City.errors }"></span>
                </div>
                <div *ngIf="submitted && f.City.errors" class="invalid-feedback">
                  <div *ngIf="f.City.errors.required"> Please provide a valid city.</div>
                </div>

                
                <div class="form-group mb-0 col-md-4">
                    <label class="mt-3 h6 text-muted">PinCode:</label>
                  <span> <input type="number" class="form-control border-0 mt-1" id="STD" formControlName="STDCode"
                    [ngClass]="{ 'is-invalid': submitted && f.STDCode.errors }"></span>
                </div>
                <div *ngIf="submitted && f.STDCode.errors" class="invalid-feedback">
                  <div *ngIf="f.STDCode.errors.required"> Please provide a valid STD Code.</div>
                </div>
              </div>
            </div>
          </div>
          <hr>
          <!--Fourth Edit End-->
          <div class="row">
            <div class="col-md-12 mb-0 px-5">
                <div class="form-row mb-0">
                    <h5 class="mb-0">Course Details </h5>
                  </div>
                  <div class="form-row mb-0">
                    <div class="form-group mb-0 col-md-4">
                        <label  for="inputSalary" class="mt-3 h6 text-muted"> Course Type :</label>
                      <span> <select id="CourseTypeName" class="form-control border-0 mt-1" formControlName="CourseTypeName"
                        (change)="selectCourse($event)" [ngClass]="{ 'is-invalid': submitted && f.CourseTypeName.errors }">
                        <option *ngFor="let courseType of  courseTypeList"
                        [value]="courseType.CourseTypeId">
                          {{courseType.CourseTypeName}}
                        </option>
                      </select></span>
                      <!-- <label  for="inputPaddress" class="mt-3 h6 text-muted"> CourseType :</label>
                            </div>
                            <div class="form-group col-md-2">
                                <input type="text" class="form-control border-0" id="CourseTypeName" formControlName="CourseTypeName" [ngClass]="{ 'is-invalid': submitted && f.CourseTypeName.errors }">
                             -->
                      <div *ngIf="submitted && f.CourseTypeName.errors" class="invalid-feedback">
                        <div *ngIf="f.CourseTypeName.errors.required"> Please provide a valid CourseType.</div>
                      </div>
                    </div>

                    <div class="form-group mb-0 col-md-4">
                        <label  for="inputSalary" class="mt-3 h6 text-muted"> Course Name :</label>
                      <span> <select id="CourseName" class="form-control mt-1 border-0" formControlName="CourseName"
                      (change)="selectCourseName($event)" [ngClass]="{ 'is-invalid': submitted && f.CourseName.errors }">
                      <option *ngFor="let courselist of courseNameList"
                        [value]="courselist.CourseId">
                          {{courselist.CourseName}}</option>
                      </select></span>
                      <!-- <label  for="inputPaddress" class="mt-3 h6 text-muted"> Course :</label>
                        </div>
                        <div class="form-group col-md-2">
                            <input type="text" class="form-control border-0" id="CourseName" formControlName="CourseName" [ngClass]="{ 'is-invalid': submitted && f.CourseName.errors }">
                         -->
                      <div *ngIf="submitted && f.CourseName.errors" class="invalid-feedback">
                        <div *ngIf="f.CourseName.errors.required"> Please provide a valid Course.</div>
                      </div>
                    </div>


                  
                    <div class="form-group mb-0 col-md-4">
                        <label  for="inputSalary" class="mt-3 h6 text-muted"> Salary :</label>
                      <span> <input type="text" class="form-control border-0 mt-1" id="Salary" formControlName="Salary" [ngClass]="{ 'is-invalid': submitted && f.Salary.errors }">
                      </span>  </div>
                    <div *ngIf="submitted && f.Salary.errors" class="invalid-feedback">
                      <div *ngIf="f.Salary.errors.required"> Please provide a valid Salary.</div>
                    </div>
                  </div>  
            </div>
          </div>
          <hr>
          <!--fifth row end-->

          <div class="row">
            <div class="col-md-12 px-5">
              <div class="form-row  mb-0">
                <h5 class="mb-0"> Previous Work Details </h5>
              </div>
              <div class="form-row mb-0">
                <div class="form-group col-md-4 mb-0">
                    <label  for="inputPaddress" class="mt-3 h6 text-muted"> Previous Work :</label>
                  <span> <input type="text" class="form-control border-0 mt-1" id="PreviousWorkName" formControlName="PreviousWorkName">
                  </span>
                </div>

              
                <div class="form-group col-md-4 mb-0">
                    <label  for="inputPaddress" class="mt-3 h6 text-muted"> Date Of Joining :</label>
                  <span> <input type="date" class="form-control border-0 mt-1" id="DateOfJoining" formControlName="DateOfJoining">
                  </span>
                </div>
                <div class="form-group col-md-4 mb-0">
                    <label class="mt-3 h6 text-muted">Date Of Leaving:</label>
                  <span>  <input type="date" class="form-control border-0 mt-1" id="DateOfLeaving" formControlName="DateOfLeaving">
                  </span>
                </div>

              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12  mb-0  px-5">
              <div class="form-row mb-0">
                <div class="form-group col-md-4 mb-0"> 
                  <label class="mt-3 h6 text-muted">Previous Experience:</label>
                  <span> <input type="number" class="form-control border-0 mt-1" id="PreviousExperience"
                    formControlName="PreviousExperience"></span>
                </div>


              </div>
            </div>
          </div>
          <hr>
          <!--sixth Edit End-->

          <!--Seventh Row-->

          <div class="row">
              <div class="col-md-12 px-5">
                  <div class="form-row  mb-0">
                      <h5 class="mb-0">New Image Upload </h5>
                    </div>
                  <div class="form-row mt-3">
                      <div class="form-group col-md-6 mb-0">
                          <div class="media">
      
                              <div class="media-body">
                                  <div class="row">
                                      <div class="col-md-3">
                                  <img [src]="thumbnailUrl" width="100" height="100"> &nbsp;
                                </div>
                               
                                <div class="col-md-6 mt-4">
                                <input type="file" (change)="onImageSelected($event);onUploadPhoto()" id="Photo">
          
                                <input type="hidden" name="fileHidden" formControlName="Photo" />
          
                                <!-- <button type="button" class="mt-3" (click)="onUploadPhoto()">UploadPhoto</button> -->
                              </div>
        
                              </div>
                            </div>
                  </div>
        
                  </div>
            
          </div>
          </div>
        </div> 

          <!--Seventh Row End-->
       
        <div class="modal-footer">
          <button class="btn btn-info btn-lg py-1 pr-3 rounded-0 f-20  " type="submit">Update</button>
          <button class="btn btn-dark text-light btn-lg py-1 pl-3 rounded-0 f-20 ml-4 mr-0" type="button"
            (click)="modalRef.hide()">Cancel</button>
        </div>
      </div>
      </form>
    </div>
  </ng-template>
  <ng-template #showCourses>
    <div data-keyboard="false" data-backdrop="static" aria-hidden="true">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Course List</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="table table-striped">
          <thead>
            <th>No</th>
            <th>CourseType</th>
            <th>CounrseName</th>
          </thead>
          <tbody>
            <tr *ngFor="let c of staffListService.listTeacherCourse; let i = index">
              <td>{{i+1}}</td>
              <td>{{c.CourseType}}</td>
              <td>{{c.Courses}}</td>
            </tr>
          </tbody>
        </table>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="modalRef.hide()">Close</button>
        </div>
      </div>
    </div>
  </ng-template>

  <ng-template #showStaff>

    <div data-keyboard="false" data-backdrop="static" aria-hidden="true">
      <!-- <div class="modal-dialog modal-xl"> -->
      <div class="modal-header">
        <h5 class="modal-title pull-left ml-4">Staff Details</h5>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      
      <div class="modal-body">
        <form [formGroup]="showStaffDetailsForm">
          <div class="row">
            <div class="col-md-12 px-5">
              <div class="form-row ">
                <h5 class="mb-0">Personal Details </h5>
              </div>
              <div class="form-row mb-0">
                <div class="form-group col-md-1 mb-0">
                  <label for="firstName" class="mt-3 h6 text-muted">Name :</label>
                </div>

                <div class="form-group col-md-2 mb-0">
                    <label class="h6 text-dark mt-3">{{g.FirstName.value}} {{g.MiddleName.value}} {{g.LastName.value}}</label>
                 </div>

                <!-- <div class="form-group col-md-2 mb-0">
                  <input type="text" class="form-control text-dark border-0 mt-1" formControlName="FirstName" disabled>
                </div>
                <div class="form-group col-md-2 mb-0">
                  <input type="text" class="form-control text-dark border-0 ml-n5 mt-1" formControlName="MiddleName" disabled>
                </div>
                <div class="form-group col-md-2 mb-0">
                  <input type="text" class="form-control text-dark border-0 ml-n5 mt-1" formControlName="LastName" disabled>
                </div> -->
              </div>



            </div>
          </div>
            
          <div class="row mb-0">
            <div class="col-md-12  mb-0 px-5">
              <div class="form-row mb-0">
               
                <div class="form-group col-md-4 mb-0">
                    <label for="Gender" class="mt-3 h6 text-muted">Gender :</label>
                  <span><input type="text" class="form-control text-dark border-0 mt-1" formControlName="Gender" disabled></span>
                </div>

                <div class="form-group col-md-4  mb-0"> 
                    <label class="col-md-6 control-label" class="mt-3 h6  text-muted">Date Of Birth :</label>
                 <span> <input type="text" id="DOB" class="form-control text-dark border-0 mt-1" formControlName="DOB" disabled></span>
                </div>



                
                <div class="form-group col-md-3  mb-0">
                    <label for="BloodGroup" class="mt-3 h6  text-muted">Blood Group :</label>
                  <span> <input type="text" id="BloodGroup" class="form-control text-dark border-0 mt-1" formControlName="BloodGroup" disabled></span>
                </div>

              </div>
            </div>
          </div>

          <hr>
          <!--First End-->

          <div class="row">
            <div class="col-md-12 px-5">
              <div class="form-row ">
                <h5 class="mb-0">Contact Details </h5>
              </div>
              <div class="form-row">
                
                <div class="form-group col-md-4 mb-0">
                    <label class="mt-3 h6 text-muted">Contact No :</label>
                  <span><input type="text" id="ContactNo" formControlName="ContactNo" placeholder="Contact No"   class="form-control border-0  mt-1" disabled></span>

                </div>
          
                <div class="form-group col-md-4 mb-0">
                    <label class="mt-3 h6 text-muted">Emergency No :</label>
                 <span> <input type="text" id="EmergencyNo" formControlName="EmergencyNo" placeholder="Emergency Contact No"
                    class="form-control border-0 mt-1" disabled></span>
                </div>

              </div>

            </div>
          </div>


          <div class="row">
            <div class="col-md-12 px-5">
              <div class="form-row">
                
                <div class="form-group mb-0 col-md-6 mb-0">
                    <label class="mt-3 h6 text-muted">Email ID :</label>
                 <span> <input type="text" class="form-control border-0 mt-1" id="Email" formControlName="Email" disabled></span>
                </div>
              </div>
            </div>
          </div>
          <hr>
          <!--Second End-->

          <div class="row">
            <div class="col-md-12 px-5">
              <div class="form-row ">
                <h5 class="mb-0" >Permanent Address </h5>
              </div>
              <div class="form-row">
                
                <div class="form-group col-md-4 mb-0">
                    <label  for="inputPaddress" class="mt-3 h6 text-muted"> Address :</label>
                  <span><input type="text" class="form-control border-0 mt-1" id="P_Address1" placeholder="Address 1"
                    formControlName="P_Address1" disabled></span>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12  px-5">
              <div class="form-row">
                
                <div class="form-group mb-0 col-md-4">
                    <label class="mt-3 h6 text-muted">State:</label>
                 <span> <input type="text" id="P_State" class="form-control border-0 mt-1" formControlName="P_State" disabled></span>
                </div>

                
                <div class="form-group col-md-4 mb-0">
                    <label class="mt-3 h6 text-muted">City:</label>
                    <span><input type="text" class="form-control border-0 mt-1" id="P_City" formControlName="P_City" disabled></span>
                </div>

                
                <div class="form-group col-md-3 mb-0">
                    <label class="mt-3  h6 text-muted">PIN Code:</label>
                    <span> <input type="text" class="form-control border-0 mt-1" id="P_STDCode" formControlName="P_STDCode" disabled></span>
                </div>
              </div>
            </div>
          </div>
          <hr>
          <!--Third End-->

          <div class="row">
            <div class="col-md-12 px-5">
              <div class="form-row">
                <h5 class="mb-0">Current Address </h5>
              </div>
              <div class="form-row">
                
                <div class="form-group col-md-3 mb-0">
                    <label  for="inputPaddress" class="mt-3 h6 text-muted"> Address :</label>
                 <span> <input type="text" class="form-control border-0 mt-1" id="Address1" placeholder="Address 1"
                    formControlName="Address1" disabled></span>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 px-5">
              <div class="form-row">
                
                <div class="form-group col-md-4 mb-0">
                    <label class="mt-3 h6 text-muted">State:</label>
                  <span>  <input type="text" id="State" class="form-control border-0 mt-1" formControlName="State" disabled></span>
                </div>

                
                <div class="form-group col-md-4 mb-0">
                    <label class="mt-3 h6 text-muted">City:</label>
                  <span> <input type="text" class="form-control border-0 mt-1" id="City" formControlName="City" disabled></span>
                </div>

                
                <div class="form-group col-md-4 mb-0">
                    <label class="mt-3 h6 text-muted">PIN Code:</label>
                  <span> <input type="text" class="form-control border-0 mt-1" id="STD" formControlName="STDCode" disabled></span>
                </div>
              </div>
            </div>
          </div>
          <hr>
          <!--Fourth End-->
          <div class="row">
            <div class="col-md-12 px-5">
                <div class="form-row ">
                    <h5 class="mb-0">Course Details </h5>
                  </div>
              <!-- <h4 class=" font-weight-medium  py-1 px-3 ml-4">Course Details :</h4> -->

             
                  <div class="form-row">
                    
                    <div class="form-group col-md-4 mb-0">
                        <label  for="inputCourseType" class="mt-3 h6 text-muted"> Course Type :</label>
                      <span><input type="text" class="form-control border-0 mt-1" id="CourseTypeName" formControlName="CourseTypeName" 
                       disabled></span>
                    </div>

                    
                    <div class="form-group col-md-4 mb-0">
                       <label  for="inputCourseName" class="mt-3 h6 text-muted"> Course Name :</label>
                       <span> <input type="text" class="form-control border-0 mt-1" id="CourseName" formControlName="CourseName"
                        disabled></span> 
                    </div>

                    
                    <div class="form-group col-md-4 mb-0">
                        <label  for="inputSalary" class="mt-3 h6 text-muted"> Salary :</label>
                     <span> <input type="text" class="form-control border-0 mt-1" id="Salary" formControlName="Salary" 
                      disabled></span>
                    </div>
                  </div>
                

            </div>
          </div>
          <hr>



          <div class="row">
            <div class="col-md-12 px-5">
              <div class="form-row ">
                <h5 class="mb-0"> Previous Work Details </h5>
              </div>
              <div class="form-row">
                
                <div class="form-group col-md-4 mb-0">
                    <label  for="inputPaddress" class="mt-3 h6 text-muted"> Previous Work :</label>
                 <span> <input type="text" class="form-control border-0 mt-1" id="PreviousWorkName" formControlName="PreviousWorkName" 
                    disabled></span>
                </div>

                
                <div class="form-group col-md-4 mb-0">
                    <label class="mt-3 h6 text-muted">Date Of Leaving:</label>
                 <span> <input type="text" class="form-control border-0 mt-1" id="DateOfLeaving" formControlName="DateOfLeaving" disabled></span>
                </div>

              </div>

            </div>
          </div>
          <div class="row">
            <div class="col-md-12 px-5">
              <div class="form-row">


                
                <div class="form-group col-md-4 mb-0">
                    <label class="mt-3 h6 text-muted ">Previous Experience:</label>
                <span>  <input type="text" class="form-control border-0 mt-1" id="PreviousExperience" formControlName="PreviousExperience" 
                  disabled></span>
                </div>


              </div>
            </div>
          </div>

         
          <!-- <div class="modal-footer">
                    <button class="btn btn-info btn-lg py-1 pr-3 rounded-0 f-20  " type="submit">Submit</button>
                    <button class="btn btn-dark text-light btn-lg py-1 pl-3 rounded-0 f-20 ml-4 mr-0" type="button"
                      (click)="modalRef.hide()">Cancel</button>
                </div> -->
          <!--Fifth End-->
          <div class="modal-footer">
            <button class="btn btn-dark text-light btn-lg py-1 pl-3 rounded-0 f-20 ml-4 mr-0" type="button"
              (click)="modalRef.hide()">Cancel</button>
          </div>
        </form>
      </div>
    
  </div>

  </ng-template>