
    <!-- Breadcrumb-->
    <ol class="breadcrumb">
        <div class="flex-1 d-inline-flex">
      <li class="breadcrumb-item align-self-center"><a routerLink="/Dashboard">Home</a></li>
      <li class="breadcrumb-item align-self-center">Staff</li>
</div>
<div class="d-none d-md-block d-lg-block d-xl-block flex-1">
    <li class="h5 pt-2">Manage Staff Information</li>
   
  </div>
      <!-- Breadcrumb Menu-->
      <li class="breadcrumb-menu d-md-down-none flex-1 justify-content-end text-right">
        <div class="btn-group" role="group" aria-label="Button group">

            <div class="input-group">
                <span class="input-group-prepend">
                <button class="btn btn-primary btn-square" type="button">
                <i class="fa fa-search text-white"></i></button>
                </span>
                <input type="text" placeholder="Search" class="form-control rounded-0" [(ngModel)]="filter"> 
                </div>
                &nbsp;&nbsp;
                <button routerLink="/TeacherCourses" class="btn btn-sm btn-primary btn-square text-white" data-toggle="tooltip" data-placement="bottom"
                title="Add Staff" type="button">Add</button>
          <!-- <a 
            class="btn btn-primary font-weight-medium px-3 py-2  rounded-0 f-20 ml-1 pull-right text-white" data-toggle="tooltip"
            data-placement="bottom" title="Add Staff"> Add
          </a> -->
        </div>
      </li>
    </ol>

    <div class="row my-4 px-3 pb-3">
      <div class="col-sm-4 col-md-4 col-xl-4 col-lg-4 mb-3"
        *ngFor="let t of staffMaster | filter:filter | paginate: { itemsPerPage: 6, currentPage: p }">


        <div class="card">
          <div class="card-header h5">{{t.FirstName+' '+t.LastName | titlecase}}
            <div class="card-header-actions">
              <a class="card-header-action btn-setting" (click)="getStaffDetails(showStaff,t)" title="Staff Details">
                <i class="cui-info info"></i>
              </a>
              <a class="card-header-action btn-minimize" (click)="edit(editStaff,t)" title="Edit Information">
                <i class="cui-pencil pencil"></i>
              </a>
              <a class="card-header-action btn-close" (click)="delete(t.StaffId,t.FirstName,t.LastName)"
                title="Delete Staff">
                <i class="cui-trash trash"></i>
              </a>
            </div>
          </div>
          <div class="collapse show" id="collapseExample">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-3">
                  <img src="{{t.Photo}}" class="img-circle" width="80" height="80">
                </div>
                <div class="col-sm-9">

                  <div class="row ">
                    <div class="col-sm-12  ">
                      <p class="card-title"><i class="font-md cui-phone"></i> {{t.ContactNo}}</p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12  ">
                      <p class="card-title"><i class="font-md cui-envelope-closed"></i> {{t.Email}}</p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12  ">
                      <p class="card-title"><i class="icon-book-open"></i> {{t.CourseName}}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <p *ngIf="staffMaster && staffMaster.length==0">No records found.</p>
    <div class="row">
      <div class="col-md-12">
        <ul class="pagination" *ngIf="staffMaster && staffMaster.length>6">
          <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </ul>
      </div>
    </div>


<ng-template #editStaff>
  <div data-keyboard="false" data-backdrop="static" aria-hidden="true">
    <form [formGroup]="staffForm" (ngSubmit)="onSubmitEditStaff()">
      <div class="modal-header">
        <h5 class=" modal-title">Update Staff</h5>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
        <h5>Personal Details </h5>
        <div class="form-group">

          <div class="row">
            <div class="col-md-4">
                <label for="FirstName">First Name</label>
              <input type="text" class="form-control" formControlName="FirstName"
                [ngClass]="{'is-invalid': submitted && f.FirstName.errors} ">
              <div *ngIf="submitted && f.FirstName.errors" class="invalid-feedback">
                <div *ngIf="f.FirstName.errors.required">First Name is required</div>
              </div>
            </div>
            <div class="col-md-4">
                <label for="MiddleName">Middle Name</label>
              <input type="text" class="form-control" formControlName="MiddleName"
                [ngClass]="{'is-invalid': submitted && f.MiddleName.errors} ">
              <div *ngIf="submitted && f.MiddleName.errors" class="invalid-feedback">
                <div *ngIf="f.MiddleName.errors.required">Middle Name is required</div>
              </div>
            </div>
            <div class="col-md-4">
                <label for="LastName">Last Name</label>
              <input type="text" class="form-control" formControlName="LastName"
                [ngClass]="{'is-invalid': submitted && f.LastName.errors} ">
              <div *ngIf="submitted && f.LastName.errors" class="invalid-feedback">
                <div *ngIf="f.LastName.errors.required">Last Name is required</div>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-md-4">
              <label for="Gender">Gender</label>
              <div class="row">
                <div class="col-md-12">
                    <div class="form-check form-check-inline mr-1">
                        <input class="form-check-input" id="radio1" formControlName="Gender" type="radio" value="Male" name="Gender">
                        <label class="form-check-label" for="radio1">Male</label>
                      </div>
                  <!-- <input type="radio" name="Gender" formControlName="Gender" value="Male" id="radio1">Male -->
                  <div class="form-check form-check-inline mr-1">
                      <input class="form-check-input" id="radio2" formControlName="Gender"type="radio" value="Female" name="Gender">
                      <label class="form-check-label" for="radio2">Female</label>
                    </div>
                  <!-- <input type="radio" name="Gender" formControlName="Gender" value="Female" id="radio2">Female -->

                  <div *ngIf="submitted && f.Gender.errors" class="invalid-feedback">
                    <div *ngIf="f.Gender.errors.required">Gender is required</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <label for="BloodGroup">Blood Group</label>
              <select id="BloodGroup" class="form-control" formControlName="BloodGroup"
                [ngClass]="{'is-invalid': submitted && f.BloodGroup.errors} ">
                <option>A+</option>
                <option>B+</option>
                <option>AB+</option>
                <option>O+</option>
                <option>A-</option>
                <option>B-</option>
                <option>O-</option>
                <option>AB-</option>
              </select>
              <div *ngIf="submitted && f.BloodGroup.errors" class="invalid-feedback">
                <div *ngIf="f.BloodGroup.errors.required">BloodGroup No is required</div>
              </div>
            </div>
            <div class="col-md-4">
              <label for="DOB">Date of Birth</label>
              <input type="date" id="DOB" class="form-control" formControlName="DOB"
                [ngClass]="{'is-invalid': submitted && f.DOB.errors} ">
              <div *ngIf="submitted && f.DOB.errors" class="invalid-feedback">
                <div *ngIf="f.DOB.errors.required">CoDateOfBirthntact No is required</div>
              </div>
            </div>
          </div>
        </div>
<hr>
        <h5>Contact Details </h5>
        <div class="form-group">
          <div class="row">
            <div class="col-md-4">
              <label for="ContactNo">Contact No</label>
              <input type="text" minlength="0" maxlength="10" id="ContactNo" formControlName="ContactNo" placeholder="Contact No"
                class="form-control" [ngClass]="{ 'is-invalid': submitted && f.ContactNo.errors }">
              <div *ngIf="submitted && f.ContactNo.errors" class="invalid-feedback">
                <div *ngIf="f.ContactNo.errors.required">Contact No is required</div>
              </div>
            </div>
            <div class="col-md-4">
              <label for="EmergencyNo">Emergency No</label>
              <input type="text" minlength="0" maxlength="10" id="EmergencyNo" formControlName="EmergencyNo" placeholder="Emergency Contact No"
                class="form-control" [ngClass]="{ 'is-invalid': submitted && f.EmergencyNo.errors }">
              <div *ngIf="submitted && f.EmergencyNo.errors" class="invalid-feedback">
                <div *ngIf="f.EmergencyNo.errors.required">Emergency Contact No is required</div>
              </div>
            </div>
            <div class="col-md-4">
              <label for="Email">Email</label>
              <input type="email" class="form-control" id="Email" formControlName="Email"
                [ngClass]="{'is-invalid': submitted && f.Email.errors} ">
              <div *ngIf="submitted && f.Email.errors">
                <div *ngIf="f.Email.errors.required">Email is required</div>
              </div>
            </div>
          </div>
        </div>
        <hr>
        <h5>Permanent Address </h5>
        <div class="form-group">
            <label for="inputPaddress">Address </label>
            <input type="text" class="form-control" id="P_Address1" placeholder="Address"
            formControlName="P_Address1" [ngClass]="{'is-invalid': submitted && f.P_Address1.errors} ">
            <div *ngIf="submitted && f.P_Address1.errors">
                <div *ngIf="f.P_Address1.errors.required">Address is required</div>
              </div>
          </div>
          <div class="form-group">
              <div class="row">
                <div class="col-md-4">
                    <label for="State">State </label>
                    <select id="P_State" class="form-control" formControlName="P_State"
                    [ngClass]="{'is-invalid': submitted && f.P_State.errors} ">
                    <option selected>Select State...</option>
                    <option>Maharashtra</option>
                  </select>
                  <div *ngIf="submitted && f.P_State.errors">
                      <div *ngIf="f.P_State.errors.required">State is required</div>
                    </div>
                  </div>
                  <div class="col-md-4">
                      <label for="City">City </label>
                      <input type="text" class="form-control" id="P_City" formControlName="P_City"
                    [ngClass]="{'is-invalid': submitted && f.P_City.errors} ">
                    <div *ngIf="submitted && f.P_City.errors">
                        <div *ngIf="f.P_City.errors.required">City is required</div>
                      </div>
                    </div>
                    <div class="col-md-4">
                        <label for="PinCode">PinCode </label>
                        <input type="number" class="form-control" id="P_STDCode" formControlName="P_STDCode"
                    [ngClass]="{'is-invalid': submitted && f.P_STDCode.errors} ">
                    <div *ngIf="submitted && f.P_STDCode.errors">
                        <div *ngIf="f.P_STDCode.errors.required">PinCode is required</div>
                      </div>
                      </div>
                  </div>
          </div>
          <hr>
          <h5>Current Address </h5>
          <div class="form-group">
              <label for="inputPaddress">Address </label>
              <input type="text" class="form-control" id="Address1" placeholder="Address"
              formControlName="Address1" [ngClass]="{ 'is-invalid': submitted && f.Address1.errors }">
              <div *ngIf="submitted && f.Address1.errors" class="invalid-feedback">
                  <div *ngIf="f.Address1.errors.required">Address is required</div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                  <div class="col-md-4">
                      <label for="State">State </label>
                      <select id="State" class="form-control" formControlName="State"
                      [ngClass]="{ 'is-invalid': submitted && f.State.errors }">
                      <option>Maharashtra</option>
                    </select>
                    <div *ngIf="submitted && f.State.errors" class="invalid-feedback">
                        <div *ngIf="f.State.errors.required"> Please provide a valid state.</div>
                      </div>
                    </div>
                    <div class="col-md-4">
                        <label for="City">City </label>
                        <input type="text" class="form-control" id="City" formControlName="City"
                        [ngClass]="{ 'is-invalid': submitted && f.City.errors }">
                        <div *ngIf="submitted && f.City.errors" class="invalid-feedback">
                            <div *ngIf="f.City.errors.required"> Please provide a valid city.</div>
                          </div>
                      </div>
                      <div class="col-md-4">
                          <label for="PinCode">PinCode </label>
                          <input type="number" class="form-control" id="STD" formControlName="STDCode"
                    [ngClass]="{ 'is-invalid': submitted && f.STDCode.errors }">
                    <div *ngIf="submitted && f.STDCode.errors" class="invalid-feedback">
                        <div *ngIf="f.STDCode.errors.required"> Please provide a valid STD Code.</div>
                      </div>
                        </div>
                    </div>
            </div>
            <hr>
            <h5>Course Details </h5>
            <div class="form-group">
                <div class="row">
                  <div class="col-md-4">
                      <label for="CourseTypeName">CourseTypeName </label>
                      <select id="CourseTypeName" class="form-control" formControlName="CourseTypeName"
                        (change)="selectCourse($event)" [ngClass]="{ 'is-invalid': submitted && f.CourseTypeName.errors }">
                        <option *ngFor="let courseType of  courseTypeList"
                        [value]="courseType.CourseTypeId">
                          {{courseType.CourseTypeName}}
                        </option>
                      </select>
                      <div *ngIf="submitted && f.CourseTypeName.errors" class="invalid-feedback">
                          <div *ngIf="f.CourseTypeName.errors.required"> Please provide a valid CourseType.</div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label for="CourseName">CourseName </label>
                        <select id="CourseName" class="form-control" formControlName="CourseName"
                      (change)="selectCourseName($event)" [ngClass]="{ 'is-invalid': submitted && f.CourseName.errors }">
                      <option *ngFor="let courselist of courseNameList"
                        [value]="courselist.CourseId">
                          {{courselist.CourseName}}</option>
                      </select>
                      <div *ngIf="submitted && f.CourseName.errors" class="invalid-feedback">
                          <div *ngIf="f.CourseName.errors.required"> Please provide a valid Course.</div>
                        </div>
                      </div>
                      <div class="col-md-4">
                          <label for="Salary">Salary </label>
                          <input type="text" class="form-control" id="Salary" formControlName="Salary" [ngClass]="{ 'is-invalid': submitted && f.Salary.errors }">
                          <div *ngIf="submitted && f.Salary.errors" class="invalid-feedback">
                              <div *ngIf="f.Salary.errors.required"> Please provide a valid Salary.</div>
                            </div>
                        </div>
                    </div>
            </div>
            <hr>
            <h5> Previous Work Details </h5>
            <div class="form-group">
                <div class="row">
                  <div class="col-md-4">
                      <label for="PreviousWorkName">Previous Work Name </label>
                      <input type="text" class="form-control" id="PreviousWorkName" formControlName="PreviousWorkName">
                    </div>
                    <div class="col-md-4">
                        <label for="DateOfJoining">Date of Joining </label>
                        <input type="date" class="form-control" id="DateOfJoining" formControlName="DateOfJoining">
                      </div>
                      <div class="col-md-4">
                          <label for="DateOfLeaving">Date of Leaving </label>
                          <input type="date" class="form-control" id="DateOfLeaving" formControlName="DateOfLeaving">
                        </div>
                    </div>
            </div>
            <div class="form-group">
                <label for="PreviousExperience">Previous Experience</label>
                <div class="row">
                <div class="col-md-4">
                <input type="number" class="form-control" id="PreviousExperience"
                    formControlName="PreviousExperience">
                  </div>
                </div>
            </div>
            <hr>
            <h5>New Image Upload </h5>
            <div class="form-group">
                <img [src]="thumbnailUrl" width="70" height="70">&nbsp;
                <input type="file"  (change)="onImageSelected($event);onUploadPhoto()" id="Photo">
               <input type="hidden" name="fileHidden" formControlName="Photo" />
            </div>

        <div class="modal-footer">
            <button class="btn btn-square  btn-primary" type="submit">Update</button>
            <button class="btn btn-danger btn-square ml-2" type="button"
          (click)="modalRef.hide()">Cancle</button>
         <!-- <button class="btn btn-info btn-lg py-1 pr-3 rounded-0 f-20  " type="submit">Update</button>
          <button class="btn btn-dark text-light btn-lg py-1 pl-3 rounded-0 f-20 ml-4 mr-0" type="button"
            (click)="modalRef.hide()">Cancel</button> -->
        </div>
      </div>
    </div>
    </form>
  </div>
</ng-template>
<ng-template #showCourses>
  <div data-keyboard="false" data-backdrop="static" aria-hidden="true">
    <div class="modal-header">
      <h4 class="modal-title pull-left">Course List</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <table class="table table-striped">
        <thead>
          <th>No</th>
          <th>CourseType</th>
          <th>CounrseName</th>
        </thead>
        <tbody>
          <tr *ngFor="let c of staffListService.listTeacherCourse; let i = index">
            <td>{{i+1}}</td>
            <td>{{c.CourseType}}</td>
            <td>{{c.Courses}}</td>
          </tr>
        </tbody>
      </table>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="modalRef.hide()">Close</button>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #showStaff>

  <div data-keyboard="false" data-backdrop="static" aria-hidden="true">
    <div class="modal-header">
      <h5 class="modal-title">Staff Details</h5>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="modal-body">
        <div class="container-fluid">
      <form [formGroup]="showStaffDetailsForm">

          <div class="form-group">
            <div class="form-row">
          <h5>Personal Details </h5>
            </div>
              <div class="row">
                  <div class="col-md-6">
                <label for="Name">Name: </label>
                  {{g.FirstName.value}} {{g.MiddleName.value}} {{g.LastName.value}}
                  </div>
                  <div class="col-md-6">
                      <label>Gender: </label>
                      {{g.Gender.value}}
                    </div>
            </div>

            <div class="row">        
              <div class="col-md-6">
                  <label for="DOB">Date of Birth: </label>
                  {{g.DOB.value}}
                </div>
                <div class="col-md-6">
                    <label for="BloodGroup">Blood Group: </label>
                    {{g.BloodGroup.value}}
                  </div>
              </div>
          </div>               
<hr>

<div class="form-group">
  <div class="form-row">
<h5>Contact Details </h5>
</div>
  <div class="row">
    <div class="col-md-6">
        <label for="ContactNo">Contact No: </label>
        {{g.ContactNo.value}}
    </div>
    <div class="col-md-6">
        <label for="EmergencyNo">Emergency No: </label>
        {{g.EmergencyNo.value}}
    </div>
    </div>
    <div class="row">
        <div class="col">
      <label for="EmergencyNo">Email: </label>
      {{g.Email.value}}
      </div>
      </div>
    </div>
<hr>

<div class="form-group">
  <div class="form-row">
<h5>Permanent Address </h5>
</div>
    <div class="row">
      <div class="col-md-6">
          <label for="Address ">Address: </label>
          {{g.P_Address1.value}}
      </div>
      <div class="col-md-6">
          <label for="State">State: </label>
          {{g.P_State.value}}
      </div>
      </div>

      <div class="row">
        <div class="col-md-6">
            <label for="City">City: </label>
            {{g.P_City.value}}
        </div>
        <div class="col-md-6">
            <label for="Pincode">Pincode: </label>
            {{g.P_STDCode.value}}
        </div>
        </div>
      </div>
<hr>

<div class="form-group">
  <div class="form-row">
<h5>Current Address </h5>
</div>
    <div class="row">
      <div class="col-md-6">
          <label for="Address ">Address : </label>
          {{g.Address1.value}}
      </div>
      <div class="col-md-6">
          <label for="State">State: </label>
          {{g.State.value}}
      </div>
      </div>

      <div class="row">
        <div class="col-md-6">
            <label for="City">City: </label>
            {{g.City.value}}
        </div>
        <div class="col-md-6">
            <label for="Pincode">Pincode: </label>
            {{g.STDCode.value}}
        </div>
        </div>
      </div>

<hr>
<div class="form-group">
    <div class="form-row">
<h5>Course Details </h5>
</div>
    <div class="row">
      <div class="col-md-6">
          <label for="CourseTypeName"> Course Type: </label>
          {{g.CourseTypeName.value}}
      </div>
      <div class="col-md-6">
          <label for="CourseName">Course Name: </label>
          {{g.CourseName.value}}
      </div>
      </div>
      <div class="row">
          <div class="col-md-6">
        <label for="EmergencyNo">Salary : </label>
        {{g.Salary.value}}
        </div>
        </div>
      </div>

<hr>
<div class="form-group">
    <div class="form-row">
      <h5> Previous Work Details </h5>
    </div>
          <div class="row">
            <div class="col-md-6">
                <label for="PreviousWorkName"> Previous Work: </label>
                {{g.PreviousWorkName.value}}
            </div>
            <div class="col-md-6">
                <label for="CourseName">Date Of Joining: </label>
                {{g.DOJ.value}}
            </div>
            </div>
              <div class="row">
                <div class="col-md-6">
                    <label for="DateOfLeaving"> Date Of Leaving: </label>
                    {{g.DateOfLeaving.value}}
                </div>
                <div class="col-md-6">
                    <label for="CourseName">Previous Experience: </label>
                    {{g.PreviousExperience.value}} Year
                </div>
                </div>
              </div>

        <div class="modal-footer">
            <button class="btn btn-danger btn-square ml-2" type="button"
            (click)="modalRef.hide()">Close</button>
        </div>
      </form>
    </div>
  </div>
  </div>

</ng-template>