<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
  integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

<!-- Add top navigation componant -->
<app-authorised-top-nav></app-authorised-top-nav>

<div class="row" >
  <div class="col-md-2 d-none d-lg-block d-md-block">
    <!-- Add left navigation componant -->
    <app-authorised-side-nav></app-authorised-side-nav>
  </div>
  <!--  -->
    <div class="col-md-10 col-11 col-sm-11 col-xs-11">
        <!-- <div class="row" >
        <div class="col-md-10 ml-5 mt-4 mb-n2 ">
      <a routerLink="/TeacherCourses" class="ml-5 pt-1" data-toggle="tooltip" data-placement="bottom"
      title="home" style="font-weight:normal;font-size:18px;color: black">
      Home</a>&nbsp;
      <i class="fa fa-angle-double-right" aria-hidden="true" style="font-size:20px"></i>
      <a routerLink="/TeacherCourses"  data-toggle="tooltip" data-placement="bottom"
      title="staff" style="font-weight:normal;font-size:18px;color: black">
      Staff</a>&nbsp;
    </div> 
  </div> -->
    
    <div class="row mr-0 justify-content-center">
        
     <div class="col-md-12 col-12 col-sm-12 col-xs-12"> 
         <div class="box ml-n2 mt-2">
            <div class="row mb-4">
                <div class="col-md-10 mt-4 ">
              <a routerLink="/TeacherCourses" class="ml-3 pt-1" data-toggle="tooltip" data-placement="bottom"
              title="home" style="font-weight:normal;font-size:18px;color: black">
              Home</a>&nbsp;
              <i class="fa fa-angle-double-right" aria-hidden="true" style="font-size:20px"></i>
              <a routerLink="/TeacherCourses"  data-toggle="tooltip" data-placement="bottom"
              title="staff" style="font-weight:normal;font-size:18px;color: black">
              Staff</a>&nbsp;
            </div> 
           
          </div> <hr>
        <!-- <div> --> 
         <!-- <hr width="120%">  -->
      <div class="row m-3">
        <div class="col-md-3  py-1">
        <h2 class="h1 font-weight-medium  mt-3" >Staff</h2>
       </div>
        <div class="col-md-5 px-5 py-1 ">
        <input type="text"  placeholder="Search" [(ngModel)]="filter" class=" mt-3 py-2 px-3 border-0 rounded-0 shadow-sm">
      </div>
      <div class="col-md-4 px-2 py-1">
        <a routerLink="/TeacherCourses" class="btn btn-info font-weight-medium px-3 py-2 rounded-0 f-20 ml-1 pull-right" data-toggle="tooltip" data-placement="bottom"
          title="Add Staff" >
          Add Staff</a>&nbsp;
        </div> 
        <!-- <button type="submit" class="btn btn-info btn-lg btn-block py-1 px-5 rounded-0 f-20 ml-3"  >Login</button> -->

        <!-- <button type="btn" class="btn btn-sm pull-right" (click)="printPage()" data-toggle="tooltip"
          data-placement="bottom" title="Print">
          <span class="fa fa-print fa-2x" aria-hidden="true"></span></button> -->

          <!-- <input type="text" class="pull-left" placeholder="Search" [(ngModel)]="filter"> -->
      </div>
       
      <div class="row p-4 justify-content-around">
   
        <div class="card shadow px-2 mb-5 bg-white rounded" style="width: 24rem;"
          *ngFor="let t of staffMaster | filter:filter | paginate: { itemsPerPage: 6, currentPage: p }">
          <div class="card-body">
            <h5 class="card-title">
              <!-- <button type="btn" class="btn btn-sm pull-right" (click)="edit(editStaff,t)" data-toggle="tooltip"
                data-placement="bottom" title="Edit Expense">
                <span class="fa fa-pencil-square-o" aria-hidden="true"></span></button>
              &nbsp;
              <button type="btn" class="btn btn-sm pull-right" (click)="delete(t.StaffId,t.FirstName,t.LastName)" data-toggle="tooltip"
                data-placement="bottom" title="Delete Staff">
                <span class="fa fa-times" aria-hidden="true"></span></button> -->
            </h5>
            <div class="card-text">
              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  <div style="display:-webkit-inline-box">
                    <!-- thumbnailUrl -->
                    <!-- <div *ngIf="t.Photo">
                    <img [src]="t.Photo" class="img-circle" width="50" height="50">
                  </div> -->
                    <!-- Avtar -->


<table  class="mb-2">
  <tr>
    <td>
        <div>                     
             <img src="{{t.Photo}}" class="img-circle" width="80" height="80"> 
          </div>
    </td>
    <td>
        <h6>
            <a type="btn" class="btn  btn-link ml-2" (click)="getStaffDetails(showStaff,t)" style="font-weight:bold;font-size:22px">
              <span>{{t.FirstName+' '+t.LastName}}</span>
            </a>
            <span style="padding:10px;font-weight: normal" class="ml-2">{{t.ContactNo}}</span><br>
            <span style="padding:10px;margin-top: 20px" class="ml-2">{{t.Email}}</span>
          </h6>
          
    </td>
  </tr>
</table>
                    
                    <!-- <div *ngIf="t.Photo">
                      <div *ngIf="t.Gender && t.Gender=='Male'">
                        <img src="../../assets/images/MProfile.jpg" class="img-circle" width="50" height="50">
                      </div>
                      <div *ngIf="t.Gender && t.Gender=='Female'">
                        <img src="../../assets/images/FProfile.png" class="img-circle" width="50" height="50">
                      </div>
                      <img src="{{t.Photo}}" class="img-circle" width="50" height="50">
                    </div> -->
                    
                  </div>
                </li>
                <!-- <li class="list-group-item"><i class="fa fa-mobile" aria-hidden="true"></i><span
                    style="padding:5px">{{t.ContactNo}}</span>
                </li> -->
                <hr>
                <div class="row justify-content-center">
                  <div class="col-md-4 mb-2">
                      <!-- <button type="btn" class="btn btn-sm icon mt-n3 mb-n2" (click)="edit(editStaff,t)" data-toggle="tooltip"
                      data-placement="bottom" title="Edit Expense">
                      <span class="fa fa-eye icon-md"  aria-hidden="true" ></span></button> -->
                      <div class="icon-md mt-n4" (click)="edit(editStaff,t)" data-toggle="tooltip"
                      data-placement="bottom" title="Edit Expense">
                      <svg class="icon" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                      viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve" width="45px">
                   <g>
                     <g>
                       <path d="M508.177,245.995C503.607,240.897,393.682,121,256,121S8.394,240.897,3.823,245.995c-5.098,5.698-5.098,14.312,0,20.01
                         C8.394,271.103,118.32,391,256,391s247.606-119.897,252.177-124.995C513.274,260.307,513.274,251.693,508.177,245.995z M256,361
                         c-57.891,0-105-47.109-105-105s47.109-105,105-105s105,47.109,105,105S313.891,361,256,361z"/>
                     </g>
                   </g>
                   <g>
                     <g>
                       <path d="M271,226c0-15.09,7.491-28.365,18.887-36.53C279.661,184.235,268.255,181,256,181c-41.353,0-75,33.647-75,75
                         c0,41.353,33.647,75,75,75c37.024,0,67.668-27.034,73.722-62.358C299.516,278.367,271,255.522,271,226z"/>
                     </g>
                   </g>
</svg>                   
                    </div>


                   </div>   
                   <div class="col-md-4 mb-2">
                      <!-- <button type="btn" class="btn btn-sm icon mt-n3  mb-n2" (click)="edit(editStaff,t)" data-toggle="tooltip"
                      data-placement="bottom" title="Edit Expense">
                      
                      <span class="fa fa-pencil-square-o icon-md"   aria-hidden="true" ></span></button> -->
                      <div class="icon-md mt-n4" (click)="edit(editStaff,t)" data-toggle="tooltip"
                      data-placement="bottom" title="Edit Expense">
                      <svg class="icon" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 383.947 383.947" style="enable-background:new 0 0 383.947 383.947;" xml:space="preserve" width="30px">
<g>
	<g>
		<g>
			<polygon points="0,303.947 0,383.947 80,383.947 316.053,147.893 236.053,67.893 			"/>
			<path d="M377.707,56.053L327.893,6.24c-8.32-8.32-21.867-8.32-30.187,0l-39.04,39.04l80,80l39.04-39.04
				C386.027,77.92,386.027,64.373,377.707,56.053z"/>
		</g>
	</g>
</g>
</svg>
</div>
                    &nbsp;
                    </div>
                    <div class="col-md-4 mb-2">
                     <!-- <button type="btn" class="btn btn-sm icon mt-n3 mb-n2" (click)="delete(t.StaffId,t.FirstName,t.LastName)" data-toggle="tooltip"
                      data-placement="bottom" title="Delete Staff">
                      <span class="fa fa-trash-o icon-md"  aria-hidden="true" ></span></button>  -->
                      <div class="icon-md mt-n4" (click)="edit(editStaff,t)" data-toggle="tooltip"
                      data-placement="bottom" title="Edit Expense">
                      <svg class="icon-red" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24"><path d="M3 6v18h18v-18h-18zm5 14c0 .552-.448 1-1 1s-1-.448-1-1v-10c0-.552.448-1 1-1s1 .448 1 1v10zm5 0c0 .552-.448 1-1 1s-1-.448-1-1v-10c0-.552.448-1 1-1s1 .448 1 1v10zm5 0c0 .552-.448 1-1 1s-1-.448-1-1v-10c0-.552.448-1 1-1s1 .448 1 1v10zm4-18v2h-20v-2h5.711c.9 0 1.631-1.099 1.631-2h5.315c0 .901.73 2 1.631 2h5.712z"/></svg>
                    </div>
                      
                  
                </div>  
              </div>
              </ul>
            </div>
          </div>
        </div>
   
      </div>
    <!-- </div> -->
    <ul class="pagination">
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </ul>
  <!-- </div> -->

</div>
</div>
 </div> 
 </div>
<!-- </div> -->
<ng-template #editStaff>
  <div data-keyboard="false" data-backdrop="static" aria-hidden="true">
    <form [formGroup]="staffForm" (ngSubmit)="onSubmitEditStaff()">
      <div class="modal-header">
        <h4 class="h1 modal-title pull-left ml-4">Update Staff</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div class="row">
              <div class="col-md-12 px-5">
                  <div class="form-row py-3">
                  <h4>Personal Details :</h4>
                    </div>
              <div class="form-row">
                  <div class="form-group col-md-1">
                    <label for="firstName" class="mt-3 h6 text-muted">Name :</label>
                  </div>
                  <div class="form-group col-md-2">
                      <input type="text" class="form-control border-0" formControlName="FirstName"
                      [ngClass]="{'is-invalid': submitted && f.FirstName.errors} ">
                   </div>
                   <div *ngIf="submitted && f.FirstName.errors" class="invalid-feedback">
                      <div *ngIf="f.FirstName.errors.required">First Name is required</div>
                   
                  </div>
                    <div class="form-group col-md-2">
                        <input type="text" class="form-control border-0" formControlName="MiddleName"
                        [ngClass]="{'is-invalid': submitted && f.MiddleName.errors} ">
                    </div>
                    <div *ngIf="submitted && f.MiddleName.errors" class="invalid-feedback">
                      <div *ngIf="f.MiddleName.errors.required">Middle Name is required</div>
                    </div>
                      <div class="form-group col-md-2">
                          <input type="text" class="form-control border-0" formControlName="LastName"
                          [ngClass]="{'is-invalid': submitted && f.LastName.errors} ">
                      </div>
                      <div *ngIf="submitted && f.LastName.errors" class="invalid-feedback">
                        <div *ngIf="f.LastName.errors.required">Last Name is required</div>
                      </div>   
                </div> 
              </div>
            </div>

            <div class="row">
                <div class="col-md-12 mt-3  px-5">
              <div class="form-row">          
                  <div class="form-group col-md-1">
                      <label for="Gender" class="mt-3 h6 text-muted">Gender :</label>
                  </div>
                  <div class="form-group col-md-2">    
                      <input type="text" class="form-control border-0" formControlName="Gender"
                      [ngClass]="{'is-invalid': submitted && f.Gender.errors} ">
  
                  </div>
                  <div *ngIf="submitted && f.Gender.errors" class="invalid-feedback">
                    <div *ngIf="f.Gender.errors.required">Gender is required</div>
                  </div>
                  
    
                       
                  <div class="form-group col-md-2">
                      <label class="col-md-6 control-label" class="mt-3 h6 ml-5 text-muted">DateOfBirth :</label>
                      
                    </div>
                      <div class="form-group col-md-3">    
                          <input type="date" id="DOB" class="form-control border-0" formControlName="DOB"
                    [ngClass]="{'is-invalid': submitted && f.DOB.errors} ">
</div>
                  <div *ngIf="submitted && f.DOB.errors" class="invalid-feedback">
                    <div *ngIf="f.DOB.errors.required">CoDateOfBirthntact No is required</div>
                  </div>
                   
    
                            
                      <div class="form-group col-md-2">
                          <label for="BloodGroup" class="mt-3 h6 ml-5 text-muted">Blood Group :</label>
                          
                        </div>
                          <div class="form-group col-md-2">    
                              <select id="BloodGroup" class="form-control border-0" formControlName="BloodGroup"
                    [ngClass]="{'is-invalid': submitted && f.BloodGroup.errors} ">
                    <option>A+</option>
                    <option>B+</option>
                    <option>AB+</option>
                    <option>O+</option>
                    <option>A-</option>
                    <option>B-</option>
                    <option>O-</option>
                    <option>AB-</option>
                  </select>
                          </div>
                          <div *ngIf="submitted && f.BloodGroup.errors" class="invalid-feedback">
                              <div *ngIf="f.BloodGroup.errors.required">BloodGroup No is required</div>
                            </div>
                         
                        </div>
                </div>
              </div>
              <hr>
    <!--First Edit End-->

    <div class="row">
        <div class="col-md-12 px-5">
            <div class="form-row py-3">
            <h4>Contact Details :</h4>
              </div>
        <div class="form-row">
            <div class="form-group col-md-2">
              <label class="mt-3 h6 text-muted">Contact No :</label>
            </div>
            <div class="form-group col-md-3">
                <input type="number" id="ContactNo" formControlName="ContactNo" placeholder="Contact No"
                class="form-control border-0" [ngClass]="{ 'is-invalid': submitted && f.ContactNo.errors }">            
            </div>
            <div *ngIf="submitted && f.ContactNo.errors" class="invalid-feedback">
                <div *ngIf="f.ContactNo.errors.required">Contact No is required</div>
              </div>
            <div class="form-group col-md-2">
                <label class="mt-3 h6 text-muted">Emergency No :</label>
              </div>
              <div class="form-group col-md-2">
                  <input type="number" id="EmergencyNo" formControlName="EmergencyNo" placeholder="Emergency Contact No"
                    class="form-control border-0" [ngClass]="{ 'is-invalid': submitted && f.EmergencyNo.errors }">
              </div>

              <div *ngIf="submitted && f.EmergencyNo.errors" class="invalid-feedback">
                  <div *ngIf="f.EmergencyNo.errors.required">Emergency Contact No is required</div>

                </div>
    
          </div>
    
        </div>
      </div>
      <div class="row">
          <div class="col-md-12 mt-3  px-5">
        <div class="form-row">          
            <div class="form-group col-md-2">
                <label class="mt-3 h6 text-muted">Email ID :</label>
              </div>
              <div class="form-group col-md-6">
                  <input type="email" class="form-control border-0" id="Email" formControlName="Email"
                    [ngClass]="{'is-invalid': submitted && f.Email.errors} ">
              </div>
              <div *ngIf="submitted && f.Email.errors">
                  <div *ngIf="f.Email.errors.required">Email is required</div>
                </div>
                  </div>
          </div>
        </div>
        <hr>
        <!--Second Edit End-->

        <div class="row">
            <div class="col-md-12 px-5">
                <div class="form-row py-3">
                <h4>Permanent Address :</h4>
                  </div>
            <div class="form-row">
                <div class="form-group col-md-1">
                  <label  for="inputPaddress" class="mt-3 h6 text-muted"> Address :</label>
                </div>
                <div class="form-group col-md-2">
                    <input type="text" class="form-control border-0" id="P_Address1" placeholder="Address 1"
                    formControlName="P_Address1" [ngClass]="{'is-invalid': submitted && f.P_Address1.errors} ">
                </div>   
                <div *ngIf="submitted && f.P_Address1.errors">
                    <div *ngIf="f.P_Address1.errors.required">CourseType is required</div>
                  </div>
              </div>   
            </div>
          </div>
          <div class="row">
              <div class="col-md-12 mt-3  px-5">
            <div class="form-row">          
                <div class="form-group col-md-1">
                    <label class="mt-3 h6 text-muted">State:</label>

                  </div>
                  <div class="form-group col-md-2">
                      <select id="P_State" class="form-control border-0" formControlName="P_State"
                    [ngClass]="{'is-invalid': submitted && f.P_State.errors} ">
                    <option selected>Select State...</option>
                    <option>Maharashtra</option>
                  </select>
                  </div>
                  <div *ngIf="submitted && f.P_State.errors">
                      <div *ngIf="f.P_State.errors.required">CourseType is required</div>
                    </div>
    
                  <div class="form-group col-md-1">
                      <label class="mt-3 h6 text-muted">City:</label>
                    </div>
                    <div class="form-group col-md-2">
                        <input type="text" class="form-control border-0" id="P_City" formControlName="P_City"
                        [ngClass]="{'is-invalid': submitted && f.P_City.errors} ">
                    </div>
                    <div *ngIf="submitted && f.P_City.errors">
                        <div *ngIf="f.P_City.errors.required">CourseType is required</div>
                      </div>
    
                    <div class="form-group col-md-1">
                        <label class="mt-3 h6 text-muted">PinCode:</label>
                      </div>
                      <div class="form-group col-md-2">
                          <input type="number" class="form-control border-0" id="P_STDCode" formControlName="P_STDCode"
                    [ngClass]="{'is-invalid': submitted && f.P_STDCode.errors} ">
                      </div>
                      <div *ngIf="submitted && f.P_STDCode.errors">
                          <div *ngIf="f.P_STDCode.errors.required">CourseType is required</div>
                        </div>
                      </div>
              </div>
            </div>
            <hr>
            <!--Third Edit End-->

        <div class="row">
            <div class="col-md-12 px-5">
                <div class="form-row py-3">
                <h4>Current Address :</h4>
                  </div>
            <div class="form-row">
                <div class="form-group col-md-1">
                  <label  for="inputPaddress" class="mt-3 h6 text-muted"> Address :</label>
                </div>
                <div class="form-group col-md-2">
                    <input type="text" class="form-control border-0" id="Address1" placeholder="Address 1"
                    formControlName="Address1" [ngClass]="{ 'is-invalid': submitted && f.Address1.errors }">
                </div> 
                <div *ngIf="submitted && f.Address1.errors" class="invalid-feedback">
                    <div *ngIf="f.Address1.errors.required">Address is required</div>
                  </div>  
              </div>   
            </div>
          </div>
          <div class="row">
              <div class="col-md-12 mt-3  px-5">
            <div class="form-row">          
                <div class="form-group col-md-1">
                    <label class="mt-3 h6 text-muted">State:</label>
                  </div>
                  <div class="form-group col-md-2">
                      <select id="State" class="form-control border-0" formControlName="State"
                    [ngClass]="{ 'is-invalid': submitted && f.State.errors }">
                    <option>Maharashtra</option>
                  </select>
                  </div>
                  <div *ngIf="submitted && f.State.errors" class="invalid-feedback">
                      <div *ngIf="f.State.errors.required"> Please provide a valid state.</div>
                    </div>
    
                  <div class="form-group col-md-1">
                      <label class="mt-3 h6 text-muted">City:</label>
                    </div>
                    <div class="form-group col-md-2">
                        <input type="text" class="form-control border-0" id="City" formControlName="City"
                        [ngClass]="{ 'is-invalid': submitted && f.City.errors }">
                    </div>
                    <div *ngIf="submitted && f.City.errors" class="invalid-feedback">
                        <div *ngIf="f.City.errors.required"> Please provide a valid city.</div>
                      </div>
    
                    <div class="form-group col-md-1">
                        <label class="mt-3 h6 text-muted">PinCode:</label>
                      </div>
                      <div class="form-group col-md-2">
                          <input type="number" class="form-control border-0" id="STD" formControlName="STDCode"
                          [ngClass]="{ 'is-invalid': submitted && f.STDCode.errors }">
                      </div>
                      <div *ngIf="submitted && f.STDCode.errors" class="invalid-feedback">
                          <div *ngIf="f.STDCode.errors.required"> Please provide a valid STD Code.</div>
                        </div>
                      </div>
              </div>
            </div>
            <hr>
            <!--Fourth Edit End-->
            <div class="row">
                <div class="col-md-12  mt-3 ">
                       <h4 class=" font-weight-medium  py-4 px-3">Course Details :</h4>
                   
                <div class="row">
               <div class="col-md-12 pb-4 px-4"> 
                   <div class="form-row">
                      <div class="form-group col-md-4 px-3">
                          <select id="CourseType" class="form-control border-0" [value]="null" formControlName="CourseType" 
                            [ngClass]="{ 'is-invalid': submitted && f.CourseType.errors }">
                            
                            <option [value]="null">Select CourseType</option>
                            <option value="goverment" >Goverment</option>
                          </select>
                          <div *ngIf="submitted && f.CourseType.errors" class="invalid-feedback">
                            <div *ngIf="f.CourseType.errors.required"> Please provide a valid CourseType.</div>
                          </div>
                        </div>
                 
                        <div class="form-group col-md-4 px-3">
                            <select id="Course" class="form-control border-0"  [value]="null" formControlName="Course" 
                              [ngClass]="{ 'is-invalid': submitted && f.Course.errors }">
                              <option [value]="null">Select Course</option>
                              <option value="MSCIT" >MSCIT</option>
                            </select>
                            <div *ngIf="submitted && f.Course.errors" class="invalid-feedback">
                              <div *ngIf="f.Course.errors.required"> Please provide a valid Course.</div>
                            </div>
                          </div>
                       
                     </div>
                  </div> 
               </div>
               
               </div>
               </div> 
               <hr>
                  <!--fifth row end-->

            <div class="row">
                <div class="col-md-12 px-5">
                    <div class="form-row py-3">
                    <h4> Previous Work Details :</h4>
                      </div>
                  <div class="form-row">
                      <div class="form-group col-md-2">
                        <label  for="inputPaddress" class="mt-3 h6 text-muted"> PreviousWork :</label>
                      </div>
                      <div class="form-group col-md-2">
                          <input type="text" class="form-control border-0" id="PreviousWorkName" formControlName="PreviousWorkName">
                      </div>   

                      <div class="form-group col-md-2">
                          <label class="mt-3 h6 text-muted">DateOfLeaving:</label>
                        </div>
                        <div class="form-group col-md-3">
                            <input type="date" class="form-control border-0" id="DateOfLeaving" formControlName="DateOfLeaving">
                        </div>

                    </div>  
                </div>
              </div>
              <div class="row">
                  <div class="col-md-12 mt-3  px-5">
                <div class="form-row">          
                    
        
                      <div class="form-group col-md-2">
                          <label class="mt-3 h6 text-muted">Previous Experience:</label>
                        </div>
                        <div class="form-group col-md-1">
                            <input type="number" class="form-control border-0" id="PreviousExperience"
                    formControlName="PreviousExperience">
                        </div>
        
                        
                          </div>
                  </div>
                </div>
                <hr>
                <!--sixth Edit End-->



      </div>
      <div class="modal-footer">
          <button class="btn btn-info btn-lg py-1 pr-3 rounded-0 f-20  " type="submit">Submit</button>
          <button class="btn btn-dark text-light btn-lg py-1 pl-3 rounded-0 f-20 ml-4 mr-0" type="button"
            (click)="modalRef.hide()">Cancel</button>
      </div>
    </form>
  </div>
</ng-template>
<ng-template #showCourses>
  <div data-keyboard="false" data-backdrop="static" aria-hidden="true">
    <div class="modal-header">
      <h4 class="modal-title pull-left">Course List</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <table class="table table-striped">
        <thead>
          <th>No</th>
          <th>CourseType</th>
          <th>CounrseName</th>
        </thead>
        <tbody>
          <tr *ngFor="let c of staffListService.listTeacherCourse; let i = index">
            <td>{{i+1}}</td>
            <td>{{c.CourseType}}</td>
            <td>{{c.Courses}}</td>
          </tr>
        </tbody>
      </table>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="modalRef.hide()">Close</button>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #showStaff>

  <div data-keyboard="false" data-backdrop="static" aria-hidden="true">
      <div class="modal-dialog modal-xl">
    <div class="modal-header ">
      <h2 class="modal-title pull-left ml-4">Staff Details</h2>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="showStaffDetailsForm">
        <div class="row">
          <div class="col-md-12 px-5">
              <div class="form-row py-3">
              <h4>Personal Details :</h4>
                </div>
          <div class="form-row">
              <div class="form-group col-md-1">
                <label for="firstName" class="mt-3 h6 text-muted">Name :</label>
              </div>
              <div class="form-group col-md-2">
                <input type="text" class="form-control text-dark border-0" formControlName="FirstName" disabled>
               
              </div>
                <div class="form-group col-md-2">
                    <input type="text" class="form-control text-dark border-0 ml-n5" formControlName="MiddleName" disabled>
                </div>
                  <div class="form-group col-md-2">
                    <input type="text" class="form-control text-dark border-0 ml-n5" formControlName="LastName" disabled>
                  </div>

            </div>

            
            
          </div>
        </div>
        <div class="row">
            <div class="col-md-12 mt-3  px-5">
          <div class="form-row">          
              <div class="form-group col-md-1">
                  <label for="Gender" class="mt-3 h6 text-muted">Gender :</label>
              </div>
              <div class="form-group col-md-2">    
                <input type="text" class="form-control text-dark border-0" formControlName="Gender" disabled>
              </div>
              

                   
              <div class="form-group col-md-2">
                  <label class="col-md-6 control-label" class="mt-3 h6 ml-5 text-muted">DateOfBirth :</label>
                  
                </div>
                  <div class="form-group col-md-2">    
                      <input type="text" id="DOB" class="form-control text-dark border-0" formControlName="DOB" disabled>
                  </div>
               

                        
                  <div class="form-group col-md-2">
                      <label for="BloodGroup" class="mt-3 h6 ml-5 text-muted">Blood Group :</label>
                      
                    </div>
                      <div class="form-group col-md-2">    
                          <input type="text" id="BloodGroup" class="form-control text-dark border-0" formControlName="BloodGroup" disabled>
                      </div>
                     
                    </div>
            </div>
          </div>
          <hr>
<!--First End-->

<div class="row">
    <div class="col-md-12 px-5">
        <div class="form-row py-3">
        <h4>Contact Details :</h4>
          </div>
    <div class="form-row">
        <div class="form-group col-md-2">
          <label class="mt-3 h6 text-muted">Contact No :</label>
        </div>
        <div class="form-group col-md-2">
            <input type="text" id="ContactNo" formControlName="ContactNo" placeholder="Contact No"   class="form-control border-0 ml-n5" disabled>
         
        </div>
        <div class="form-group col-md-2">
            <label class="mt-3 h6 text-muted">Emergency No :</label>
          </div>
          <div class="form-group col-md-2">
              <input type="text" id="EmergencyNo" formControlName="EmergencyNo" placeholder="Emergency Contact No"
                    class="form-control border-0 ml-n5" disabled>
          </div>

      </div>

    </div>
  </div>
  <div class="row">
      <div class="col-md-12 mt-3  px-5">
    <div class="form-row">          
        <div class="form-group col-md-2">
            <label class="mt-3 h6 text-muted">Email ID :</label>
          </div>
          <div class="form-group col-md-6">
              <input type="text" class="form-control border-0 ml-n5" id="Email" formControlName="Email" disabled>
          </div>
              </div>
      </div>
    </div>
    <hr>
    <!--Second End-->

    <div class="row">
        <div class="col-md-12 px-5">
            <div class="form-row py-3">
            <h4>Permanent Address :</h4>
              </div>
        <div class="form-row">
            <div class="form-group col-md-1">
              <label  for="inputPaddress" class="mt-3 h6 text-muted"> Address :</label>
            </div>
            <div class="form-group col-md-2">
                <input type="text" class="form-control border-0" id="P_Address1" placeholder="Address 1"
                    formControlName="P_Address1" disabled>
            </div>   
          </div>   
        </div>
      </div>
      <div class="row">
          <div class="col-md-12 mt-3  px-5">
        <div class="form-row">          
            <div class="form-group col-md-1">
                <label class="mt-3 h6 text-muted">State:</label>
              </div>
              <div class="form-group col-md-2">
                  <input type="text" id="P_State" class="form-control border-0" formControlName="P_State" disabled>
              </div>

              <div class="form-group col-md-1">
                  <label class="mt-3 h6 text-muted">City:</label>
                </div>
                <div class="form-group col-md-2">
                    <input type="text" class="form-control border-0" id="P_City" formControlName="P_City" disabled>
                </div>

                <div class="form-group col-md-1">
                    <label class="mt-3 h6 text-muted">PinCode:</label>
                  </div>
                  <div class="form-group col-md-2">
                      <input type="text" class="form-control border-0" id="P_STDCode" formControlName="P_STDCode" disabled>
                  </div>
                  </div>
          </div>
        </div>
        <hr>
        <!--Third End-->

        <div class="row">
            <div class="col-md-12 px-5">
                <div class="form-row py-3">
                <h4>Current Address :</h4>
                  </div>
            <div class="form-row">
                <div class="form-group col-md-1">
                  <label  for="inputPaddress" class="mt-3 h6 text-muted"> Address :</label>
                </div>
                <div class="form-group col-md-2">
                    <input type="text" class="form-control border-0" id="Address1" placeholder="Address 1"
                    formControlName="Address1" disabled>
                </div>   
              </div>   
            </div>
          </div>
          <div class="row">
              <div class="col-md-12 mt-3  px-5">
            <div class="form-row">          
                <div class="form-group col-md-1">
                    <label class="mt-3 h6 text-muted">State:</label>
                  </div>
                  <div class="form-group col-md-2">
                      <input type="text" id="State" class="form-control border-0" formControlName="State" disabled>
                  </div>
    
                  <div class="form-group col-md-1">
                      <label class="mt-3 h6 text-muted">City:</label>
                    </div>
                    <div class="form-group col-md-2">
                        <input type="text" class="form-control border-0" id="City" formControlName="City" disabled>
                    </div>
    
                    <div class="form-group col-md-1">
                        <label class="mt-3 h6 text-muted">PinCode:</label>
                      </div>
                      <div class="form-group col-md-2">
                          <input type="text" class="form-control border-0" id="STD" formControlName="STDCode" disabled>
                      </div>
                      </div>
              </div>
            </div>
            <hr>
            <!--Fourth End-->

            <div class="row">
                <div class="col-md-12 px-5">
                    <div class="form-row py-3">
                    <h4> Previous Work Details :</h4>
                      </div>
                  <div class="form-row">
                      <div class="form-group col-md-2">
                        <label  for="inputPaddress" class="mt-3 h6 text-muted"> PreviousWork :</label>
                      </div>
                      <div class="form-group col-md-2">
                          <input type="text" class="form-control border-0" id="PreviousWorkName" formControlName="PreviousWorkName"
                      disabled>
                      </div>   

                      <div class="form-group col-md-2">
                          <label class="mt-3 h6 text-muted">DateOfLeaving:</label>
                        </div>
                        <div class="form-group col-md-2">
                            <input type="text" class="form-control border-0" id="DateOfLeaving" formControlName="DateOfLeaving" disabled>
                        </div>

                    </div>  

                </div>
              </div>
              <div class="row">
                  <div class="col-md-12 mt-3  px-5">
                <div class="form-row">          
                    
        
                      <div class="form-group col-md-2">
                          <label class="mt-3 h6 text-muted">Previous Experience:</label>
                        </div>
                        <div class="form-group col-md-1">
                            <input type="text" class="form-control" id="PreviousExperience" formControlName="PreviousExperience"
                    disabled>
                        </div>
        
                        
                          </div>
                  </div>
                </div>
                <hr>
                <!--Fifth End-->
      </form>
    </div>
    <div class="modal-footer">
      <button class="btn btn-dark text-light btn-lg py-1 pl-3 rounded-0 f-20 ml-4 mr-0" type="button"
              (click)="modalRef.hide()">Cancel</button>
    </div>
  </div>
  </div>
</ng-template>