/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.css";

body{
    overflow-x: hidden;
    overflow-y: scroll;
    font-family:'Trebuchet MS';
    letter-spacing: 0.8px;
    zoom: 90%;
    
  }
  
  .wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

.box{
  background-color: white;
  margin-top: 0px;
   
    
}

.f-20{
  font-size : 20px !important;
  font-weight: 400 !important;
  letter-spacing: 2px;

}

.form-control{
  background: transparent !important;
  border-radius: 0px !important;
  border: 0px !important;
  /* font-size : 20px !important; */
  border-bottom: 1px solid #cccccc  !important;
  font-size: 18px !important;
}

.icon-md{
  font-size: 36px !important;
}

.icon-sm{
  font-size: 10px !important;
}
.btn-dark{
  background-color:#212121 !important;
  border:2px solid #212121 !important;
}
.btn-dark:hover{border:2px solid #212121 !important;
background-color: white !important;
color: #212121 !important;}

.icon:hover {
  fill: #009999;
}

.icon-red:hover{
fill: red;
}

.btn-info{
  background-color: #009999 !important;
}
.btn-info:hover{
  background-color: #009999 !important;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
}

label {
  float: left
}
span {
  display: block;
  overflow: hidden;
  padding: 0 4px 0 6px
}
input {
  width: 100%;
}

.card{
  min-height: 0px !important;
}
.ngx-pagination .current {
  padding: 0.1875rem 0.625rem;
  background: #009999 !important;
  color: #fefefe;
  cursor: default;
}
.white-icon{
  fill: white;
}

