<!-- Add top navigation componant -->
<app-authorised-top-nav></app-authorised-top-nav>

<div class="app-body">
    <!-- Add left navigation componant -->
    <app-authorised-side-nav></app-authorised-side-nav>

    <main class="main">  
                <div class="row mt-2">
                    <div class="col-md-4 mt-2">
                      <a routerLink="/Dashboard" class="ml-4  text-dark" data-toggle="tooltip" data-placement="bottom"
                        title="home" >
                        Home</a>&nbsp;
                      <i class="fa fa-angle-double-right" aria-hidden="true" ></i>
                      <a data-toggle="tooltip" data-placement="bottom" class="active"
                      title="Expenses" >
                      Expenses</a>&nbsp;
                      
                    </div>

                    <div class="col-md-4">
                        <input type="text"  placeholder="Search" [(ngModel)]="filter" class="  py-2 px-3 mt-1 border-0 rounded-0 shadow-sm">
                    </div>

                    <div class="col-md-4 px-4">
                        <a routerLink="/Expenses" class="btn btn-info font-weight-medium rounded-0 pull-right py-2 px-3  f-20" data-toggle="tooltip" data-placement="bottom"
                        title="Add New Expense" (click)="addNewExpense(addExpense)" >      
                       Add
                      </a>&nbsp;
                    </div>
                   
                  </div> 
                  <hr>
 
    <div class="container shadow p-3 h-460" id="A">    
      <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="tbl row-border hover">
        <thead>
          <tr>
            <th class="pl-2">Expense Type</th>
            <th class="pl-2">Date</th>
            <th class="pl-2">Paid By</th>
            <th class="pl-2">Amount Paid (Rs)</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let e of expenses | filter:filter">
            <td>{{e.ExpenseType}}</td>
            <td>{{e.Date | date:'mediumDate'}}</td>
            <td>{{e.PaidByName}}</td>
            <td>{{e.Paid}}</td>
            <svg class="icon" data-toggle="tooltip" title="Edit" data-placement="bottom" (click)="edit(editExpense,e)"
              version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
              x="0px" y="0px" viewBox="0 0 383.947 383.947" style="enable-background:new 0 0 383.947 383.947;"
              xml:space="preserve" width="18px">
              <g>
                <g>
                  <g>
                    <polygon points="0,303.947 0,383.947 80,383.947 316.053,147.893 236.053,67.893 			" />
                    <path d="M377.707,56.053L327.893,6.24c-8.32-8.32-21.867-8.32-30.187,0l-39.04,39.04l80,80l39.04-39.04
C386.027,77.92,386.027,64.373,377.707,56.053z" />
                  </g>
                </g>
              </g>
            </svg>
          </tr>
        </tbody>
      </table>
    </div>
</main>
  </div>
  <ng-template #editExpense>

    <div class="modal-header">
      <h5 class=" h5 modal-title pull-left">Update Expense</h5>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="editExpenseForm" (ngSubmit)="onSubmitEdit()">
        <div class="row">
          <div class="col-md-12 my-3">

            <div class="row">
              <div class="col-md-12 px-4">
                <div class="form-row">

                  <div class="form-group col-md-3 px-3">
                    <select name="ExpenseType" id="ExpenseType" class="form-control" formControlName="ExpenseType"
                       [ngClass]="{'is-invalid': submitted && form.ExpenseType.errors} ">
                      <!-- <option [value]="null">Select Name</option> -->
                      <option *ngFor="let expense of listExpenseType" [value]="expense.ExpenseId">
                        {{expense.Expenses}}
                        <!-- {{expense.ExpenseType}} -->
                      </option>
                    </select>
                    <div *ngIf="submitted && form.ExpenseType.errors">
                      <div *ngIf="form.ExpenseType.errors.required">Expense Type is required</div>
                    </div>
                  </div>

                  <div class="form-group col-md-3 px-3">
                    <input type="text" class="form-control" id="AmountPaid" formControlName="AmountPaid"
                      placeholder="Amount Paid" [ngClass]="{'is-invalid': submitted && form.AmountPaid.errors} ">
                    <div *ngIf="submitted && form.AmountPaid.errors">
                      <div *ngIf="form.AmountPaid.errors.required">Amount Paid is required</div>
                    </div>
                  </div>

                  <div class="form-group col-md-3 px-3">
                  <input class="form-control" id="Remark" formControlName="Remark"
                  [ngClass]="{'is-invalid': submitted && form.Remark.errors} ">
                  <div *ngIf="submitted && form.Remark.errors">
                    <div *ngIf="form.Remark.errors.required">Remark is required</div>
                  </div>
                </div>

              </div>

              </div>
            </div>
          </div>
        </div>
        <!-- second Row start -->

        <div class="form-row justify-content-end text-right">
          <button class="btn btn-info btn-lg py-1 pr-3 rounded-0 f-20  " type="submit">Update</button>
          <button class="btn btn-dark text-light btn-lg py-1 pl-3 rounded-0 f-20 ml-4 mr-0" type="button"
            (click)="modalRef.hide()">Cancel</button>
      </div>
      </form>
    </div>
  </ng-template>

  <!-- Add Expense -->


  <ng-template #addExpense>
    <div class="modal-header">
      <h5 class=" h5 modal-title pull-left">Add Expense</h5>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="expenseForm" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="col-md-12 my-3">
            <!-- <h4 class=" font-weight-medium  py-4 px-3">Expense Details :</h4> -->

            <div class="row">
              <div class="col-md-12 px-4">
                <div class="form-row">
                  <!-- <div class="form-group col-md-1">
            <label for="fullName">Name</label>
          </div> -->
                  <div class="form-group col-md-3 px-3">
                    <select name="ExpenseType" id="ExpenseType" [value]="null" class="form-control"
                      formControlName="ExpenseType" [ngClass]="{'is-invalid': submitted && f.ExpenseType.errors} ">
                      <option value="null">Expense Type</option>
                      <option *ngFor="let expense of expenseMaster" [value]="expense.ExpenseId">
                        {{expense.Expenses}}
                      </option>
                    </select>
                    <div *ngIf="submitted && f.ExpenseType.errors">
                      <div *ngIf="f.ExpenseType.errors.required">Expense Type is required</div>
                    </div>
                  </div>

                  <div class="form-group col-md-3 px-3">
                    <input type="text" class="form-control" id="AmountPaid" formControlName="AmountPaid"
                      placeholder="Amount Paid" [ngClass]="{'is-invalid': submitted && f.AmountPaid.errors} ">
                    <div *ngIf="submitted && f.AmountPaid.errors">
                      <div *ngIf="f.AmountPaid.errors.required">Amount is required</div>
                    </div>
                  </div>


                  <div class="form-group col-md-3 px-3">
                  <input type="text" class="form-control" id="Remark" formControlName="Remark" placeholder="Remark"
                  [ngClass]="{'is-invalid': submitted && f.Remark .errors} ">
                <div *ngIf="submitted && f.Remark.errors">
                  <div *ngIf="f.Remark.errors.required">Remark is required</div>
                </div>
                </div>


                  <!-- <div class="form-group col-md-3 px-3">
                    <input class="form-control" id="Date" formControlName="Date"
                      [ngClass]="{'is-invalid': submitted && f.Date.errors }">
                    <div *ngIf="submitted && f.Date.errors">
                      <div *ngIf="f.Date.errors.required">Date is required</div>
                    </div>
                  </div> -->
                  <!-- <div class="form-group col-md-3 px-3">
                    <select name="PaidByWhom" class="form-control" formControlName="PaidByWhom"
                      (change)="selectUser($event)" [ngClass]="{'is-invalid': submitted && f.PaidByWhom.errors} ">
                      <option value="null">Paid By Whom</option>
                      <option *ngFor="let staff of staffMasters" [value]="staff.StaffId">
                        
                        <span>{{staff.FirstName+' '}}</span> <span>{{ staff.MiddleName}}</span>
                        <span>{{' '+ staff.LastName}}</span>
                      </option>
                    </select>
                    <div *ngIf="submitted && f.PaidByWhom.errors">
                      <div *ngIf="f.PaidByWhom.errors.required">Paid by Whom</div>
                    </div>
                  </div> -->
                </div>

                <!-- <div class="form-row">
                  <div class="form-group col-md-3 mt-3 px-3">
                    <label class="col-md-6 control-label">Date Of Birth</label>
                    <input type="text" class="form-control" id="Remark" formControlName="Remark" placeholder="Remark"
                      [ngClass]="{'is-invalid': submitted && f.Remark .errors} ">
                    <div *ngIf="submitted && f.Remark.errors">
                      <div *ngIf="f.Remark.errors.required">Remark is required</div>
                    </div>
                  </div>
                </div> -->

              </div>
            </div>
          </div>
        </div>
        <!-- second Row start -->

        <div class="row justify-content-end text-right">
          <div class="col-md-3 pb-3">
            <div class="form-row">
              <button class="btn btn-info btn-lg py-1 pr-3 rounded-0 f-20  " type="submit">Submit</button>
              <button class="btn btn-dark text-light btn-lg py-1 pl-3 rounded-0 f-20 ml-4 mr-0" type="button"
                (click)="modalRef.hide()">Cancel</button>


            </div>
          </div>
        </div>








      </form>
    </div>
  </ng-template>